.ms-fullscreen-template .slide-pattern{
	background: url(pattern.png) scroll;
	width: 100%;
	height: 100%;
	z-index: 8;
	opacity: .9;
	-webkit-transform: translateZ(0.4px);
	-moz-transform: translateZ(0.4px);
	-ms-transform: translateZ(0.4px);
	-o-transform: translateZ(0.4px);
	transform: translateZ(0.4px);
	position: absolute;
	top: 0;
}

.ms-layer.bold-text-white{
	color: #FFF;
	
	font-weight: 900;
	font-size: 85px;
	text-shadow:-1px 1px black;
	margin: 0;
}

.ms-layer.thin-text-white{
	color: #FFF;
	background: rgba(0, 0, 0, 0.72);
	font-size: 77px;
	font-weight: 100;
	padding: 20px 25px;
	margin: 0;
	text-shadow: -1px 1px #000;
}

.ms-layer.thin-text-black{
	color: black;
	font-size: 77px;
	font-weight: 100;
	background: rgba(255, 255, 255, 0.78);
	padding: 20px 25px;
	margin: 0;
	text-shadow: -1px 1px rgba(255, 255, 255, 0.51);
}


.slide-1 .captiontext {
	color: #FFF;
	top: 41% !important;
	margin-top: 100px;;
	left: 256px;
	font-weight: 300;
	padding: 20px;
	text-align: center;
	width: 46%;
	font-size: 25px;
	border: solid 2px #FFF;
	text-shadow: -1px 1px #000;
}

.slide-1 .bigtext {
	top: 42% !important;
	width: 100%;
	text-align: center;
}

.slide-2 .blacktext {
	top: 43% !important;
	left: 16% !important;
}

.slide-2 .whitetext {
	top: 43% !important;
	left: 54% !important;
}

.slide-3 .bigtext {
	width: 100%;
	text-align: center;
	top: 50% !important;
}

.slide-3 .blacktext {
	left: 27% !important;
	top: 50% !important;
	padding: 7px 20px;
	margin-top: -10%;
}

.slide-4{
	color:white;
	text-shadow: -1px 1px black;
}

.slide-4 .box{
	left: 60px;
	top: 40% !important;
	width: 46%;
	padding-bottom: 18% !important;
	background: rgba(0, 0, 0, 0.72);
}

.slide-4 .small-text {
	margin: 0;
	top: 40% !important;
	font-weight: 300;
	left: 82px;
	padding: 0;
	margin-top: 16px;
}

.slide-4 .medium-text {
	font-weight: 100;
	top: 40% !important;
	font-size: 77px;
	left: 73px;
	margin: 0;
	padding: 0;
	margin-top: 25px;
}

.slide-4 .big-text{
	font-weight: 900;
	left: 77px;
	top: 40% !important;
	padding: 0;
	font-size: 80px;
	margin: 0;
	margin-top: 90px;
}

.slide-5 .video-caption {
	color: #FFF;
	border: solid 4px #FFF;
	padding: 12px 10px;
	width: 71%;
	left: 106px;
	font-weight: 600;
	text-align: center;
	font-size: 52px;
	top: 44% !important;
}