#imgGrid {
  position: relative
}
#imgGrid ul,
#imgGrid li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#imgGrid li {
  position: relative;
  max-width: 25%;
  display: inline-block;
  margin: 0;
  padding: 0;
  max-height: 100px;
}
#imgGrid li a {
  display: block;
  margin: .25em;
}
#imgGrid li a img {
  display: inline-block;
}
#imgGrid li .checkbox {
  left: .5em;
  top: 0em;
}