div.timeline {
  position: relative;
  overflow: hidden;
  margin: 0px auto;
  padding: 1px;
}
/* Date Separator */
div.timeline div.date_separator {
  position: relative;
  padding: 20px 0px;
  clear: both;
}
div.timeline div.date_separator span {
  display: block;
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  background-color: #FFFFFF;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  transition: all 0.3s linear;
  transform: translateY(-200%);
}
div.timeline div.date_separator.animated span {
  opacity: 1;
  transform: translateY(0);
}
div.timeline_dual div.date_separator span,
div.timeline_center div.date_separator span {
  margin-left: auto;
  margin-right: auto;
}
div.timeline_left div.date_separator span {
  margin-left: auto;
  margin-right: 0px;
}
div.timeline_right div.date_separator span {
  margin-left: 0px;
  margin-right: auto;
}
/* Spine */
div.timeline div.spine {
  position: absolute;
  top: 0px;
  bottom: 100%;
  width: 4px;
  border-radius: 2px;
  background-color: #fff;
  box-sizing: border-box;
  transition: bottom 0.5s linear;
}
div.timeline_dual div.spine,
div.timeline_center div.spine {
  left: 50%;
  margin-left: -2px;
}
div.timeline_left div.spine {
  right: 4px;
}
div.timeline_right div.spine {
  left: 4px;
}
div.timeline div.spine.animated {
  bottom: 0%;
}
/* Element */
div.timeline_element {
  position: relative;
  margin: 20px 0px;
  opacity: 0;
  box-sizing: border-box;
  transition: all 0.2s linear;
}
div.timeline_dual div.timeline_element_left {
  width: 50%;
  margin: 10px 0px;
  float: left;
  clear: left;
}
div.timeline_dual div.timeline_element_right {
  width: 50%;
  margin: 10px 0px;
  float: right;
  clear: right;
}
div.timeline_left div.timeline_element,
div.timeline_dual div.timeline_element_left {
  transform: translateX(20px);
}
div.timeline_right div.timeline_element,
div.timeline_dual div.timeline_element_right {
  transform: translateX(-20px);
}
div.timeline div.timeline_element.animated {
  opacity: 1;
  transform: translateX(0px);
}
.opacityFilter div.timeline_element {
  visibility: hidden;
}
.opacityFilter div.timeline_element.animated {
  visibility: visible;
}
div.timeline_element_box {
  overflow: hidden;
  background-color: #FFFFFF;
  border-radius: 3px;
  text-shadow: none;
  border-top: 1px solid #FFFFFF;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}
div.timeline_left div.timeline_element_box,
div.timeline_dual div.timeline_element_left div.timeline_element_box {
  margin-right: 20px;
}
div.timeline_right div.timeline_element_box,
div.timeline_dual div.timeline_element_right div.timeline_element_box {
  margin-left: 20px;
}
div.timeline_left div.timeline_element:before,
div.timeline_right div.timeline_element:before,
div.timeline_dual div.timeline_element_left:before,
div.timeline_dual div.timeline_element_right:before,
div.timeline_left div.timeline_element:after,
div.timeline_right div.timeline_element:after,
div.timeline_dual div.timeline_element_left:after,
div.timeline_dual div.timeline_element_right:after {
  content: '';
  position: absolute;
  top: 7px;
  display: block;
  width: 0;
  height: 0;
  border: 10px solid transparent;
}
div.timeline_left div.timeline_element:before,
div.timeline_dual div.timeline_element_left:before {
  right: 0;
  border-left-color: #FFFFFF;
}
div.timeline_right div.timeline_element:before,
div.timeline_dual div.timeline_element_right:before {
  left: 0;
  border-right-color: #FFFFFF;
}
div.timeline_left div.timeline_element:after,
div.timeline_dual div.timeline_element_left:after {
  right: 1px;
  border-left-color: #FFFFFF;
}
div.timeline_right div.timeline_element:after,
div.timeline_dual div.timeline_element_right:after {
  left: 1px;
  border-right-color: #FFFFFF;
}
div.timeline_title {
  position: relative;
  overflow: hidden;
  text-transform: uppercase;
  font-size: 0.778em;
  font-weight: 400;
  margin: .75em;
}
div.timeline_title span.timeline_title_label {
  position: absolute;
  left: 0px;
  right: 100px;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  text-overflow: ellipsis;
  color: #465866;
}
div.timeline_title span.timeline_title_date {
  float: right;
  font-size: .85em;
}
div.timeline_element div.img_container {
  position: relative;
  text-align: center
}
div.timeline_element div.img_overlay {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  transition: background 0.2s linear;
}
div.timeline_element.notitle div.img_overlay {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
div.timeline_element.nocontent div.img_overlay {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
div.timeline_element.gallery div.img_overlay {
  border-radius: 3px;
}
div.timeline_element div.img_container:hover div.img_overlay,
div.timeline_element div.img_overlay.loading {
  background: rgba(0,0,0,0.5);
}
div.timeline_element div.img_overlay span {
  opacity: 0;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 30px;
  height: 30px;
  margin: auto;
  cursor: pointer;
  transition: all 0.2s linear;
  transform: scale(0.5);
}
div.timeline_element div.img_overlay span:after {
  font-family: "Icons";
  content: "\f002";
  color: #fff;
  font-size: 2em;
}
div.timeline_element div.img_container:hover div.img_overlay span,
div.timeline_element div.img_overlay.loading span {
  opacity: 1;
  transform: scale(1);
}
div.timeline_element div.img_overlay.loading span {
  background: none;
}
div.timeline_element div.img_overlay.loading span:before,
div.timeline_element div.img_overlay.loading span:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 20px;
  height: 20px;
  margin: auto;
  border: 2px solid #DDDDDD;
  border-radius: 50%;
  box-sizing: border-box;
}
div.timeline_element div.img_overlay.loading span:after {
  border-left-color: rgba(0, 0, 0, 0.8);
  animation: rotate 0.8s linear infinite;
}
/* News Post Element */
div.timeline_element.news_post div.slider_container {
  position: relative;
  margin: 10px;
}
div.timeline_element.news_post div.content {
  padding: .85em;
}
div.timeline_element.news_post div.readmore {
  padding: .75em;
  font-size: .85em;
  text-align: right
}
div.timeline_element.news_post a {
}
div.timeline_element.news_post div.readmore a {
}
div.timeline_element.news_post div.readmore a:hover {
  text-decoration: none;
}
/* iframe Element */
div.timeline_element.iframe div.content {
  margin: 10px;
}
div.timeline_element.iframe div.content.loading:before,
div.timeline_element.iframe div.content.loading:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 20px;
  height: 20px;
  margin: auto;
  border: 2px solid #DDDDDD;
  border-radius: 50%;
  box-sizing: border-box;
}
div.timeline_element.iframe div.content.loading:after {
  border-left-color: rgba(0, 0, 0, 0.5);
  animation: rotate 0.8s linear infinite;
}
div.timeline_element.iframe div.content iframe {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
}
div.timeline_element.iframe.notitle div.content iframe {
  border-radius: 3px;
}
/* Gallery Element */
div.timeline_element.gallery div.content {
  font-size: 13px;
  margin: 10px;
  line-height: 18px;
}
div.timeline_element.gallery div.scroll_container {
  position: relative;
  overflow: auto;
  overflow-y: hidden;
  white-space: nowrap;
  margin: 10px;
}
div.timeline_element.gallery div.img_container {
  display: inline-block;
  margin-right: 4px;
  vertical-align: top;
}
div.timeline_element.gallery div.img_container img {
  display: block;
}
div.timeline_element.gallery div.img_container:last-child {
  margin-right: 0px;
}
/* Lightbox */
div.timeline_overlay {
  position: fixed;
  z-index: 200;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
}
div.timeline_overlay.open {
  display: block;
}
div.timeline_overlay div.preview {
  position: absolute;
  width: 64px;
  height: 64px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: 5px solid #FFFFFF;
  background-color: #FFFFFF;
  opacity: 0;
  box-sizing: border-box;
  transition: all 0.2s linear;
}
div.timeline_overlay div.preview.loaded {
  opacity: 1;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.4);
}
div.timeline_overlay div.preview.updating {
  transition: all 0.5s linear;
}
div.timeline_overlay div.preview.updating:before,
div.timeline_overlay div.preview.updating:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 20px;
  height: 20px;
  margin: auto;
  border: 2px solid #DDDDDD;
  border-radius: 50%;
  box-sizing: border-box;
}
div.timeline_overlay div.preview.updating:after {
  border-left-color: rgba(0, 0, 0, 0.5);
  animation: rotate 0.8s linear infinite;
}
div.timeline_overlay div.preview div.navigation {
  position: absolute;
  top: -30px;
  left: -5px;
  right: -5px;
}
div.timeline_overlay div.preview img {
  display: block;
  width: 100%;
  height: 100%;
  filter: alpha(opacity=100);
  opacity: 1;
  transition: opacity 0.1s linear;
}
div.timeline_overlay div.preview.updating img {
  filter: alpha(opacity=0);
  opacity: 0;
  transition: none;
}
div.timeline_overlay div.preview span {
  display: block;
  float: left;
  width: 14px;
  height: 14px;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
}
div.timeline_overlay div.preview span.prev {
  left: 10px;
}
div.timeline_overlay div.preview span.next {
  right: 10px;
}
div.timeline_overlay div.preview a.close {
  display: block;
  float: right;
  width: 14px;
  height: 14px;
}
/* Social */
div.timeline img.twitter_profile {
  float: left;
  margin: 0px 10px 10px 0px;
  border-radius: 3px;
  width: auto;
  height: auto;
}
div.timeline div.facebook_left_column {
  float: left;
  width: 50px;
}
div.timeline div.facebook_right_column {
  margin-left: 50px;
}
div.timeline div.facebook_content {
  overflow: hidden;
  text-overflow: ellipsis;
}
div.timeline img.facebook_profile {
  border-radius: 3px;
  width: 40px;
  height: 40px;
}
div.timeline div.facebook_post {
  overflow: hidden;
  clear: both;
  margin-top: 10px;
  line-height: normal;
  border-radius: 3px;
  text-shadow: none;
  color: #85959a;
  background-color: #F4F6F8;
  border: 1px solid #fff;
}
div.timeline div.facebook_post img.facebook_picture {
  max-width: 80px;
  margin: 5px;
  float: left;
  border-radius: 3px;
}
div.timeline div.facebook_type_photo div.facebook_post {
  border: none;
}
div.timeline div.facebook_type_photo div.facebook_post img.facebook_picture {
  max-width: 100%;
  width: 100%;
  margin: 0px;
}
div.timeline div.description_container {
  overflow: hidden;
  margin: 5px 5px 5px 90px;
}
div.timeline div.facebook_post a {
  display: block;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* Load More */
div.timeline_loadmore {
  cursor: pointer;
  margin: 1em auto;
  max-width: 120px;
  background: transparent;
  text-align: center;
  padding: 10px 0px;
  border-radius: 4px;
  text-decoration: none;
  color: #4a5c62;
  box-shadow: 0 0 0 2px #fff;
}
div.timeline_loadmore:hover {
  box-shadow: 0 0 0 2px #53bd99;
}
div.timeline_loadmore:active {;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2) inset;
}
div.timeline_loadmore.loading {
  cursor: default;
  text-shadow: 0px 1px 1px #FFFFFF;
  box-shadow: none;
  background-size: 40px 40px;
  background-color: #DEDEDE;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  animation: loading 1s linear infinite;
}
@-webkit-keyframes loading {
 from {
background-position: 0px 0px;
}
 to {
background-position: 40px 0px;
}
}
@-moz-keyframes loading {
 from {
background-position: 0px 0px;
}
 to {
background-position: 40px 0px;
}
}
@-ms-keyframes loading {
 from {
background-position: 0px 0px;
}
 to {
background-position: 40px 0px;
}
}
@keyframes loading {
 from {
background-position: 0px 0px;
}
 to {
background-position: 40px 0px;
}
}
 @-webkit-keyframes rotate {
 from {
 -webkit-transform: rotate(0);
}
 to {
 -webkit-transform: rotate(360deg);
}
}
@-moz-keyframes rotate {
 from {
 -moz-transform: rotate(0);
}
 to {
 -moz-transform: rotate(360deg);
}
}
@-ms-keyframes rotate {
 from {
 -ms-transform: rotate(0);
}
 to {
 -ms-transform: rotate(360deg);
}
}
@keyframes rotate {
 from {
 transform: rotate(0);
}
 to {
 transform: rotate(360deg);
}
}
