#digiwrap {
  position: relative
}
#digiwrap.digigrid .item {
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.075);
}
#digiwrap.digigrid .item section {
  padding: 1.5em;
  position: relative;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.04);
}
#digiwrap.digigrid section:before {
  background: none repeat scroll 0 0 #F4BF1E;
  content: "";
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  top: -1px;
  width: 11px;
  z-index: 2;
}
#digiwrap.digigrid section:after {
  background: none repeat scroll 0 0 #F4BF1E;
  content: "";
  display: block;
  height: 10px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 2px;
}
#digiwrap.digigrid section:hover:after,
#digiwrap.digigrid section:hover:before {
  -webkit-transition: all .35s ease;
  -moz-transition: all .35s ease;
  -o-transition: all .35s ease;
  transition: all .35s ease;
}
#digiwrap.digigrid section:hover:after {
  height: 80px;
}
#digiwrap.digigrid section:hover:before {
  width: 80px;
}
#digiwrap.digigrid .item article {
  position: relative;
  text-align: center;
  padding: 1.45em;
  background-color: #FCFCFC;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.075);
  position: relative;
  margin-top: 4px;
}
#digiwrap.digigrid .item article a.like {
  position: absolute;
  top: 0;
  right: 0;
  padding: .5em;
}
#digiwrap.digigrid .item article h4 {
  margin: 0;
  font-weight: 600;
  font-family: 'Open Sans Condensed';
  margin-bottom: 1em;
}
#digiwrap.digilist aside {
  border-right: 3px solid #F4BF1E;
}
#digiwrap.digilist section {
  padding: 1em;
}
#digiwrap.digilist section h4 {
}
 @media screen and (max-width:800px) {
#digiwrap.digilist aside {
  border-right: 0;
  border-bottom: 3px solid #F4BF1E;
}
}
