/*lightbox container*/
.box_container {
  z-index: 100000;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 7px 7px 0 rgba(0, 0, 0, 0.4);
  text-align: left;
  -webkit-transition: opacity 0.3s linear, top 0.3s ease-out, bottom 0.3s ease-out, margin-top 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, top 0.3s ease-out, bottom 0.3s ease-out, margin-top 0.3s ease-out;
  -o-transition: opacity 0.3s linear, top 0.3s ease-out, bottom 0.3s ease-out, margin-top 0.3s ease-out;
  transition: opacity 0.3s linear, top 0.3s ease-out, bottom 0.3s ease-out, margin-top 0.3s ease-out;
}
/*box content area*/
.content_area {
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: inset 0px 3px 0 rgba(255, 255, 255, 0.4);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
}
.content_area a,
.content_area a:link,
.content_area a:visited {
  color: #000
}
.content_area2 {
  font-family: Arial;
  line-height: 12pt;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #fff;
  color: #000;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.content_area2 a,
.content_area2 a:link,
.content_area2 a:visited {
  color: #000
}
/*box content*/
.box_content {
/* width:100%; */   
}
/*box title area*/
.box_title {
  font-weight: 400;
  border-bottom: 1px solid #ddd;
  background-color: rgba(0, 0, 0, 1);
  line-height: 40px;
  cursor: move;
  position: absolute;
  left: -1px;
  top: -40px;
  overflow: hidden;
  z-index: 1000;
  width: 100%;
  height: 40px;
}
/*title text*/
.title_text {
  padding-left:1em;
  font-size: 1.2em;
  font-weight: 600;
  font-family: 'Open Sans Condensed';
  color: #ffffff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/*AJAX loading style*/
.box_loading {
  background-image: url(images/animated_progress.gif);
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 1005;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
/*close button*/
.box_close {
  font-size:1.4em;
  position: absolute;
  width: 40px;
  height: 40px;
  top: -35px;
  right: -10px;
  cursor: pointer;
  z-index: 1001;
  color:#fff
}
a.box_prev,
a.box_next {
  position: absolute;
  background-image: url(images/blank.gif);
  width: 40%;
  height: 100%;
  bottom: 0px;
  cursor: pointer;
  z-index: 1002;
  outline: none;
}
a.box_prev {
  left: 0px;
}
a.box_next {
  right: 0px;
}
a.box_prev:hover {
  background-image: url(images/prev.gif);
  background-repeat: no-repeat;
  background-position: 0% 100%;
}
a.box_next:hover {
  background-image: url(images/next.gif);
  background-repeat: no-repeat;
  background-position: 100% 100%;
}
/*-------------*/
/*   overlay   */
/*-------------*/

.box_overlay {
  position: absolute;
  background-color: #333333;
  z-index: 900;
  filter: alpha(opacity = 25);
  -moz-opacity: 0.25;
  opacity: 0.25;
  top: 0px;
  left: 0px;
}
