<h2 class="half-bottom-space">Buttons</h2>
<h6>Button</h6>
<p>A standard button</p>
<div class="veriasist divider"></div>
<div class="columns horizontal-gutters">
  <div class="screen-50 mobile-100 phone-100">
    <div class="veriasist button">Follow</div>
  </div>
  <div class="screen-50 mobile-100 phone-100">
    <pre class="prettyprint linenums">
&lt;div class=&quot;veriasist button&quot;&gt;
  Follow
&lt;/div&gt;</pre>
  </div>
</div>
<div class="veriasist divider"></div>
<h6>Animated</h6>
<p>A button can animate to show hidden content</p>
<div class="veriasist divider"></div>
<div class="columns horizontal-gutters">
  <div class="screen-50 mobile-100 phone-100">
    <div class="veriasist animated button">
      <div class="visible content">Next</div>
      <div class="hidden content"> <i class="right arrow icon"></i> </div>
    </div>
    <div class="veriasist basic divider"></div>
    <div class="veriasist vertical animated button">
      <div class="hidden content">Shop</div>
      <div class="visible content"> <i class="cart icon"></i> </div>
    </div>
    <div class="veriasist basic divider"></div>
    <div class="veriasist animated fade button">
      <div class="visible content">Sign-up for a Pro account</div>
      <div class="hidden content"> $12.99 a month </div>
    </div>
  </div>
  <div class="screen-50 mobile-100 phone-100">
    <pre class="prettyprint linenums">
&lt;div class=&quot;veriasist animated button&quot;&gt;
  &lt;div class=&quot;visible content&quot;&gt;Next&lt;/div&gt;
  &lt;div class=&quot;hidden content&quot;&gt;
    &lt;i class=&quot;right arrow icon&quot;&gt;&lt;/i&gt;
  &lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;veriasist vertical animated button&quot;&gt;
  &lt;div class=&quot;hidden content&quot;&gt;Shop&lt;/div&gt;
  &lt;div class=&quot;visible content&quot;&gt;
    &lt;i class=&quot;cart icon&quot;&gt;&lt;/i&gt;
  &lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;veriasist animated fade button&quot;&gt;
  &lt;div class=&quot;visible content&quot;&gt;Sign-up for a Pro account&lt;/div&gt;
  &lt;div class=&quot;hidden content&quot;&gt;
    $12.99 a month
  &lt;/div&gt;
&lt;/div&gt;</pre>
  </div>
</div>
<div class="veriasist divider"></div>
<h6>Icon</h6>
<p>A button can have only an icon</p>
<div class="veriasist basic divider"></div>
<div class="columns horizontal-gutters">
  <div class="screen-50 mobile-100 phone-100">
    <div class="veriasist icon button"> <i class="cloud icon"></i> </div>
    <div class="veriasist basic divider"></div>
    <h6>Labeled Icon</h6>
    <p>A button can have an icon and a label</p>
    <div class="veriasist labeled icon button"> <i class="pause icon"></i> Pause </div>
    <div class="veriasist right labeled icon button"> <i class="right arrow icon"></i> Next </div>
  </div>
  <div class="screen-50 mobile-100 phone-100">
    <pre class="prettyprint linenums">
&lt;div class=&quot;veriasist icon button&quot;&gt;
  &lt;i class=&quot;cloud icon&quot;&gt;&lt;/i&gt;
&lt;/div&gt;</pre>
    <pre class="prettyprint linenums">
&lt;div class=&quot;veriasist labeled icon button&quot;&gt;
  &lt;i class=&quot;pause icon&quot;&gt;&lt;/i&gt;
  Pause
&lt;/div&gt;
&lt;div class=&quot;veriasist right labeled icon button&quot;&gt;
  &lt;i class=&quot;right arrow icon&quot;&gt;&lt;/i&gt;
  Next
&lt;/div&gt;</pre>
  </div>
</div>
<div class="veriasist divider"></div>
<h6>Button Groups</h6>
<p>Buttons can exist together as a group</p>
<div class="veriasist basic divider"></div>
<div class="columns horizontal-gutters">
  <div class="screen-50 mobile-100 phone-100">
    <div class="veriasist buttons">
      <div class="veriasist button">One</div>
      <div class="veriasist button">Two</div>
      <div class="veriasist button">Three</div>
    </div>
    <div class="veriasist basic divider"></div>
    <h6>Grouped Icons</h6>
    <p>Button groups can show groups of icons</p>
    <div class="veriasist icon buttons">
      <div class="veriasist button"><i class="align left icon"></i></div>
      <div class="veriasist button"><i class="align center icon"></i></div>
      <div class="veriasist button"><i class="align right icon"></i></div>
      <div class="veriasist button"><i class="align justify icon"></i></div>
    </div>
    <div class="veriasist icon buttons">
      <div class="veriasist button"><i class="bold icon"></i></div>
      <div class="veriasist button"><i class="underline icon"></i></div>
      <div class="veriasist button"><i class="text width icon"></i></div>
    </div>
  </div>
  <div class="screen-50 mobile-100 phone-100">
    <pre class="prettyprint linenums">
&lt;div class=&quot;veriasist buttons&quot;&gt;
  &lt;div class=&quot;veriasist button&quot;&gt;One&lt;/div&gt;
  &lt;div class=&quot;veriasist button&quot;&gt;Two&lt;/div&gt;
  &lt;div class=&quot;veriasist button&quot;&gt;Three&lt;/div&gt;
&lt;/div&gt;</pre>
    <pre class="prettyprint linenums">
&lt;div class=&quot;veriasist icon buttons&quot;&gt;
  &lt;div class=&quot;veriasist button&quot;&gt;&lt;i class=&quot;align left icon&quot;&gt;&lt;/i&gt;&lt;/div&gt;
  &lt;div class=&quot;veriasist button&quot;&gt;&lt;i class=&quot;align center icon&quot;&gt;&lt;/i&gt;&lt;/div&gt;
  &lt;div class=&quot;veriasist button&quot;&gt;&lt;i class=&quot;align right icon&quot;&gt;&lt;/i&gt;&lt;/div&gt;
  &lt;div class=&quot;veriasist button&quot;&gt;&lt;i class=&quot;align justify icon&quot;&gt;&lt;/i&gt;&lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;veriasist icon buttons&quot;&gt;
  &lt;div class=&quot;veriasist button&quot;&gt;&lt;i class=&quot;bold icon&quot;&gt;&lt;/i&gt;&lt;/div&gt;
  &lt;div class=&quot;veriasist button&quot;&gt;&lt;i class=&quot;underline icon&quot;&gt;&lt;/i&gt;&lt;/div&gt;
  &lt;div class=&quot;veriasist button&quot;&gt;&lt;i class=&quot;text width icon&quot;&gt;&lt;/i&gt;&lt;/div&gt;
&lt;/div&gt;</pre>
  </div>
</div>
<div class="veriasist divider"></div>
<h6>Conditionals</h6>
<p>Button groups can be separated by conditionals</p>
<div class="veriasist basic divider"></div>
<div class="columns horizontal-gutters">
  <div class="screen-50 mobile-100 phone-100">
    <div class="veriasist buttons">
      <div class="veriasist button">Cancel</div>
      <div class="or"></div>
      <div class="veriasist positive button">Save</div>
    </div>
  </div>
  <div class="screen-50 mobile-100 phone-100">
    <pre class="prettyprint linenums">
&lt;div class=&quot;veriasist buttons&quot;&gt;
  &lt;div class=&quot;veriasist button&quot;&gt;Cancel&lt;/div&gt;
  &lt;div class=&quot;or&quot;&gt;&lt;/div&gt;
  &lt;div class=&quot;veriasist positive button&quot;&gt;Save&lt;/div&gt;
&lt;/div&gt;</pre>
  </div>
</div>
<div class="veriasist divider"></div>
<h6>Variations</h6>
<p>A button can be formatted to link to a social website</p>
<div class="veriasist basic divider"></div>
<div class="columns horizontal-gutters">
  <div class="screen-50 mobile-100 phone-100">
    <div class="veriasist facebook button"> <i class="facebook icon"></i> Facebook </div>
    <div class="veriasist twitter button"> <i class="twitter icon"></i> Twitter </div>
    <div class="veriasist google plus button"> <i class="google plus icon"></i> Google Plus </div>
    <div class="veriasist basic divider"></div>
    <div class="veriasist vk button"> <i class="vk icon"></i> VK </div>
    <div class="veriasist linkedin button"> <i class="linkedin icon"></i> LinkedIn </div>
    <div class="veriasist instagram button"> <i class="instagram icon"></i> Instagram </div>
    <div class="veriasist basic divider"></div>
    <div class="veriasist youtube button"> <i class="youtube icon"></i> YouTube </div>
  </div>
  <div class="screen-50 mobile-100 phone-100">
    <pre class="prettyprint linenums">
&lt;div class=&quot;veriasist facebook button&quot;&gt;
  &lt;i class=&quot;facebook icon&quot;&gt;&lt;/i&gt;
  Facebook
&lt;/div&gt;
&lt;div class=&quot;veriasist twitter button&quot;&gt;
  &lt;i class=&quot;twitter icon&quot;&gt;&lt;/i&gt;
  Twitter
&lt;/div&gt;
&lt;div class=&quot;veriasist google plus button&quot;&gt;
  &lt;i class=&quot;google plus icon&quot;&gt;&lt;/i&gt;
  Google Plus
&lt;/div&gt;
&lt;div class=&quot;veriasist vk button&quot;&gt;
  &lt;i class=&quot;vk icon&quot;&gt;&lt;/i&gt;
  VK
&lt;/div&gt;
&lt;div class=&quot;veriasist linkedin button&quot;&gt;
  &lt;i class=&quot;linkedin icon&quot;&gt;&lt;/i&gt;
  LinkedIn
&lt;/div&gt;
&lt;div class=&quot;veriasist instagram button&quot;&gt;
  &lt;i class=&quot;instagram icon&quot;&gt;&lt;/i&gt;
  Instagram
&lt;/div&gt;
&lt;div class=&quot;veriasist youtube button&quot;&gt;
  &lt;i class=&quot;youtube icon&quot;&gt;&lt;/i&gt;
  YouTube
&lt;/div&gt;</pre>
  </div>
</div>
<div class="veriasist divider"></div>
<h6>Sizes</h6>
<p>A button can have different sizes</p>
<div class="veriasist basic divider"></div>
<div class="columns horizontal-gutters">
  <div class="screen-50 mobile-100 phone-100">
    <div class="mini veriasist button"> Mini </div>
    <div class="tiny veriasist button"> Tiny </div>
    <div class="small veriasist button"> Small </div>
    <div class="medium veriasist button"> Medium </div>
    <div class="veriasist basic divider"></div>
    <div class="large veriasist button"> Large </div>
    <div class="big veriasist button"> Big </div>
    <div class="huge veriasist button"> Huge </div>
    <div class="veriasist basic divider"></div>
    <div class="massive veriasist button"> Massive </div>
  </div>
  <div class="screen-50 mobile-100 phone-100">
    <pre class="prettyprint linenums">
&lt;div class=&quot;mini veriasist button&quot;&gt; Mini &lt;/div&gt;
&lt;div class=&quot;tiny veriasist button&quot;&gt; Tiny &lt;/div&gt;
&lt;div class=&quot;small veriasist button&quot;&gt; Small &lt;/div&gt;
&lt;div class=&quot;medium veriasist button&quot;&gt; Medium &lt;/div&gt;
&lt;div class=&quot;large veriasist button&quot;&gt; Large &lt;/div&gt;
&lt;div class=&quot;big veriasist button&quot;&gt; Big &lt;/div&gt;
&lt;div class=&quot;huge veriasist button&quot;&gt; Huge &lt;/div&gt;
&lt;div class=&quot;massive veriasist button&quot;&gt; Massive &lt;/div&gt;</pre>
  </div>
</div>
<div class="veriasist divider"></div>
<h6>Colors</h6>
<p>A button can have different colors</p>
<div class="veriasist basic divider"></div>
<div class="columns horizontal-gutters">
  <div class="screen-50 mobile-100 phone-100"> <a class="veriasist black button">Black Button</a> <a class="veriasist positive button">Positive Button</a> <a class="veriasist negative button">Negative Button</a>
    <div class="veriasist basic divider"></div>
    <a class="veriasist info button">Info Button</a> <a class="veriasist purple button">Purple Button</a> <a class="veriasist teal button">Teal Button</a>
    <div class="veriasist basic divider"></div>
    <a class="veriasist warning button">Warning Button</a> </div>
  <div class="screen-50 mobile-100 phone-100">
    <pre class="prettyprint linenums">
&lt;a class=&quot;veriasist black button&quot;&gt;Black Button&lt;/a&gt; 
&lt;a class=&quot;veriasist green button&quot;&gt;Green Button&lt;/a&gt; 
&lt;a class=&quot;veriasist red button&quot;&gt;Red Button&lt;/a&gt; 
&lt;a class=&quot;veriasist blue button&quot;&gt;Blue Button&lt;/a&gt; 
&lt;a class=&quot;veriasist purple button&quot;&gt;Purple Button&lt;/a&gt; 
&lt;a class=&quot;veriasist teal button&quot;&gt;Teal Button&lt;/a&gt; 
&lt;a class=&quot;veriasist orange button&quot;&gt;Orange Button&lt;/a&gt;</pre>
  </div>
</div>
<div class="veriasist divider"></div>
<h6>Circular</h6>
<p>A button can be circular</p>
<div class="veriasist basic divider"></div>
<div class="columns horizontal-gutters">
  <div class="screen-50 mobile-100 phone-100">
    <div class="circular veriasist button">Rounded</div>
    <div class="circular veriasist icon button"> <i class="icon settings"></i></div>
  </div>
  <div class="screen-50 mobile-100 phone-100">
    <pre class="prettyprint linenums">
&lt;div class=&quot;circular veriasist button&quot;&gt;Rounded&lt;/div&gt;
&lt;div class=&quot;circular veriasist icon button&quot;&gt; &lt;i class=&quot;icon settings&quot;&gt;&lt;/i&gt;&lt;/div&gt;</pre>
  </div>
</div>
<div class="veriasist divider"></div>
<h6>Fluid</h6>
<p>Groups can be divided evenly to fit parent</p>
<div class="3 fluid veriasist buttons">
  <div class="veriasist button">One</div>
  <div class="veriasist button">Two</div>
  <div class="veriasist button">Three</div>
</div>
<pre class="prettyprint linenums">
&lt;div class=&quot;3 fluid veriasist buttons&quot;&gt;
  &lt;div class=&quot;veriasist button&quot;&gt;One&lt;/div&gt;
  &lt;div class=&quot;veriasist button&quot;&gt;Two&lt;/div&gt;
  &lt;div class=&quot;veriasist button&quot;&gt;Three&lt;/div&gt;
&lt;/div&gt;</pre>
<div class="five fluid veriasist buttons">
  <div class="veriasist button">One</div>
  <div class="veriasist button">Two</div>
  <div class="veriasist button">Three</div>
  <div class="veriasist button">Four</div>
  <div class="veriasist button">Five</div>
</div>
<pre class="prettyprint linenums">
&lt;div class=&quot;five fluid veriasist buttons&quot;&gt;
  &lt;div class=&quot;veriasist button&quot;&gt;One&lt;/div&gt;
  &lt;div class=&quot;veriasist button&quot;&gt;Two&lt;/div&gt;
  &lt;div class=&quot;veriasist button&quot;&gt;Three&lt;/div&gt;
  &lt;div class=&quot;veriasist button&quot;&gt;Four&lt;/div&gt;
  &lt;div class=&quot;veriasist button&quot;&gt;Five&lt;/div&gt;
&lt;/div&gt;</pre>
<div class="12 fluid veriasist icon buttons">
  <div class="veriasist button"><i class="star icon"></i></div>
  <div class="veriasist button"><i class="tags icon"></i></div>
  <div class="veriasist button"><i class="tasks icon"></i></div>
  <div class="veriasist button"><i class="terminal icon"></i></div>
  <div class="veriasist button"><i class="text file icon"></i></div>
  <div class="veriasist button"><i class="text file outline icon"></i></div>
  <div class="veriasist button"><i class="time icon"></i></div>
  <div class="veriasist button"><i class="trash icon"></i></div>
  <div class="veriasist button"><i class="url icon"></i></div>
  <div class="veriasist button"><i class="user icon"></i></div>
  <div class="veriasist button"><i class="users icon"></i></div>
  <div class="veriasist button"><i class="video icon"></i></div>
</div>
<pre class="prettyprint linenums">
&lt;div class=&quot;12 fluid veriasist icon buttons&quot;&gt;
  &lt;div class=&quot;veriasist button&quot;&gt;&lt;i class=&quot;star icon&quot;&gt;&lt;/i&gt;&lt;/div&gt;
  &lt;div class=&quot;veriasist button&quot;&gt;&lt;i class=&quot;tags icon&quot;&gt;&lt;/i&gt;&lt;/div&gt;
  &lt;div class=&quot;veriasist button&quot;&gt;&lt;i class=&quot;tasks icon&quot;&gt;&lt;/i&gt;&lt;/div&gt;
  &lt;div class=&quot;veriasist button&quot;&gt;&lt;i class=&quot;terminal icon&quot;&gt;&lt;/i&gt;&lt;/div&gt;
  &lt;div class=&quot;veriasist button&quot;&gt;&lt;i class=&quot;text file icon&quot;&gt;&lt;/i&gt;&lt;/div&gt;
  &lt;div class=&quot;veriasist button&quot;&gt;&lt;i class=&quot;text file outline icon&quot;&gt;&lt;/i&gt;&lt;/div&gt;
  &lt;div class=&quot;veriasist button&quot;&gt;&lt;i class=&quot;time icon&quot;&gt;&lt;/i&gt;&lt;/div&gt;
  &lt;div class=&quot;veriasist button&quot;&gt;&lt;i class=&quot;trash icon&quot;&gt;&lt;/i&gt;&lt;/div&gt;
  &lt;div class=&quot;veriasist button&quot;&gt;&lt;i class=&quot;url icon&quot;&gt;&lt;/i&gt;&lt;/div&gt;
  &lt;div class=&quot;veriasist button&quot;&gt;&lt;i class=&quot;user icon&quot;&gt;&lt;/i&gt;&lt;/div&gt;
  &lt;div class=&quot;veriasist button&quot;&gt;&lt;i class=&quot;users icon&quot;&gt;&lt;/i&gt;&lt;/div&gt;
  &lt;div class=&quot;veriasist button&quot;&gt;&lt;i class=&quot;video icon&quot;&gt;&lt;/i&gt;&lt;/div&gt;
&lt;/div&gt;</pre>
<script src="assets/prettify.js"></script> 