<h2 class="small-bottom-space">Veriasist Features</h2>
<div class="veriasist segment">
  <h3><i class="laptop icon"></i> Design Sites Your Way<i class="arrow down icon push-right"></i></h3>
  <div class="box-content">
    <p> Build your websites with the custom templates and unique look. Veriasist uses a PHP "de facto" standard - html templates, that separates presentation from business logic. That helps you avoid the HTML/PHP code mess.<br>
      <br>
      You may use ready-to-use included templates or order a new one from Veriasist team of professionals. You can choose a template from 3rd party store and our team will adapt it to use with Veriasist. Al least you can create your own template, no PHP knowledge required!<br>
      <br>
      Along with the custom look of your website based on Veriasist you may order custom functionality. Your satisfaction is our priority. </p>
  </div>
</div>
<div class="veriasist segment">
  <h3><i class="umbrella piece icon"></i> Tons of Plugins/Modules<i class="arrow down icon push-right"></i></h3>
  <div class="box-content">
    <p> Veriasist is a scalable software that has a modular structure. The basic core has a full set of functionality needed to operate a website that can be transformed into a powerful portal by means of module/plugin.<br>
      <br>
      Add the new abilities when you need them! Just install the appropriate module/plugin to get the new functionality. For example, if you need a portfolio - just install the portfolio module! There are text and video tutorials in our knowledgebase to help you get familiar with Veriasist module/plugin quickly.<br>
      <br>
      'Installing a module/plugin' sounds seriously, but you have nothing to worry about. It's not that complicated task as it might sound. You only need to perform a few easy steps to get your module/plugin installed. If you want out team to install all available module/plugin for you that could be done for a small additional fee.<br>
      <br>
      Currently we have about 20+ pugins/modules. Below you can find a list of the most significant module/plugin:</p>
    <div class="veriasist relaxed divided list">
      <div class="item"> <i class="checkmark icon"></i>
        <div class="content">
          <div class="header">Accordion Menu</div>
          <div class="description">Vertical accordion menu</div>
        </div>
      </div>
      <div class="item"> <i class="checkmark icon"></i>
        <div class="content">
          <div class="header">News Slider</div>
          <div class="description">Latest news ticker</div>
        </div>
      </div>
      <div class="item"> <i class="checkmark icon"></i>
        <div class="content">
          <div class="header">Image Slider</div>
          <div class="description">jQuery responsive touch enabled image slider.</div>
        </div>
      </div>
      <div class="item"> <i class="checkmark icon"></i>
        <div class="content">
          <div class="header">jQuery Tabs</div>
          <div class="description">Responsive tabbed content</div>
        </div>
      </div>
      <div class="item"> <i class="checkmark icon"></i>
        <div class="content">
          <div class="header"> Event Manager</div>
          <div class="description">Manage list of your site related events</div>
        </div>
      </div>
      <div class="item"> <i class="checkmark icon"></i>
        <div class="content">
          <div class="header"> Latest Twitts</div>
          <div class="description">Shows your latest twitts with caching capabilities.</div>
        </div>
      </div>
      <div class="item"> <i class="checkmark icon"></i>
        <div class="content">
          <div class="header">Elastic Slider</div>
          <div class="description">Elastic responsive image slider</div>
        </div>
      </div>
      <div class="item"> <i class="checkmark icon"></i>
        <div class="content">
          <div class="header"> Gallery</div>
          <div class="description">Image gallery with thumbnail navigation</div>
        </div>
      </div>
      <div class="item"> <i class="checkmark icon"></i>
        <div class="content">
          <div class="header"> Ajax Poll</div>
          <div class="description">jQuery Ajax poll plugin</div>
        </div>
      </div>
      <div class="item"> <i class="checkmark icon"></i>
        <div class="content">
          <div class="header"> Video Slider</div>
          <div class="description">Youtube/Vimeo player with playlist support</div>
        </div>
      </div>
      <div class="item"> <i class="checkmark icon"></i>
        <div class="content">
          <div class="header"> Donation Plugin</div>
          <div class="description">Collect donations via paypal</div>
        </div>
      </div>
      <div class="item"> <i class="checkmark icon"></i>
        <div class="content">
          <div class="header"> Upcoming Event</div>
          <div class="description">Setup upcoming event with cauntdown capabilities</div>
        </div>
      </div>
      <div class="item"> <i class="checkmark icon"></i>
        <div class="content">
          <div class="header"> Google Maps</div>
          <div class="description">Built in support for multiple google maps</div>
        </div>
      </div>
      <div class="item"> <i class="checkmark icon"></i>
        <div class="content">
          <div class="header"> Advert Plugin</div>
          <div class="description">Create unlimited campaigns. Support for google Ads/html and images</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="veriasist segment">
  <h3><i class="terminal icon"></i> Full Source Editing<i class="arrow down icon push-right"></i></h3>
  <div class="box-content">
    <p> We do not encrypt sensitive Veriasist files in any way. Veriasist code is fully open and you can make any changes. You can hire our team to make modifications for you or find any 3rd party developer to take care of your requests.<br>
      <br>
      Veriasist is written using PHP5 object oriented concepts, it's easy to extend and add extra functionality. </p>
  </div>
</div>
<div class="veriasist segment">
  <h3><i class="chat icon"></i> Multi Lingual CMS<i class="arrow down icon push-right"></i></h3>
  <div class="box-content">
    <p> Veriasist uses UTF-8 charset that technically allows to translate it to any language. No matter if it's English, Russian, Hebrew or Arabic Veriasist can handle any content easily. Both fronted parts and admin panel could be easily translated. </p>
  </div>
</div>
<div class="veriasist segment">
  <h3><i class="dashboard icon"></i> Powerful Dashboard<i class="arrow down icon push-right"></i></h3>
  <div class="box-content">
    <p> Veriasist comes with the powerful admin panel that allows to manage all the content on your website pages. You don't need any technical knowledge at all to operate your website. You only need a browser and basic skills to work in Veriasist admin dashboard.<br>
      <br>
      The Admin Dashboard is logically divided into several sections that are responsible for their own functionality set. Below is the list of Admin Dashboard functionality:</p>
    <ul class="veriasist list">
      <li>Configure the website in own appropriate way</li>
      <li>Edit pages content using powerful WYSIWYG editor</li>
      <li>Modify your existing menus and create new menus</li>
      <li>Install and modify module/plugin</li>
      <li>Backup, restore and optimize database tables</li>
      <li>Visually control plugins using drag&drop technique</li>
      <li>Modify templates</li>
      <li>Manage files</li>
      <li>View various statistics & reports</li>
      <li>Control user accounts, and setup privileges for them</li>
      <li>... and many more</li>
    </ul>
  </div>
</div>
<div class="veriasist segment">
  <h3><i class="globe icon"></i> SEO Friendly<i class="arrow down icon push-right"></i></h3>
  <div class="box-content">
    <p> Veriasist URLs are seo and human friendly so you don't need to purchase additional modules, or hire a 3rd party SEO manager to give you the best results. The script does this automatically.<br>
      <br>
      We spent many hours reading the most respective SEO advisors to prepare the good HTML structure for you. Each page has the most informative header (h1), titles can be also changed.<br>
      <br>
      Administrator can change meta data for each page.</p>
  </div>
</div>