<h2 class="half-bottom-space">Grid Lyout</h2>
<h6>Container</h6>
<p> The block-level element you wrap your entire page with is usually called your container and veriasist grid uses that tried and tested method to get the layout started. This container will define the width of your page, be it a fixed or relative measurement. By default, veriasist grid uses a maximum width of 1200px</p>
<pre class="prettyprint linenums">
&lt;div class=&quot;veriasist-grid&quot;&gt;
  &lt;p&gt;Your content here&lt;/p&gt;
&lt;/div&gt;</pre>
<div class="veriasist divider"></div>
<h6>Column Groups</h6>
<p>If you want a single-column page, then you don't need anything else, just use your .veriasist-grid and pour your content into it. However, if you want a more common column-based layout, then you're going to need to start thinking in rows of side-by-side columns, what we, in veriasist grid, call .columns, which is again applied to a div. <br/>
  <br/>
  A row is simply a wrapper of columns that keeps them together and helps align spacing between them. You only need a row if you have more than one column side-by-side, otherwise, either just put your content straight in the .veriasist-grid or use a single, specific-width, column.</p>
<pre class="prettyprint linenums">
&lt;div class=&quot;veriasist-grid&quot;&gt;
  &lt;div class=&quot;columns&quot;&gt;
    &lt;div&gt;First column&lt;/div&gt;
    &lt;div&gt;Second column&lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</pre>
<div class="veriasist divider"></div>
<h6>Basic Columns</h6>
<p>To get you acquainted with the concept, we'll first explain how this works for large screens, large being an abstract concept used only to make things more intuitive, but which is defined by default to be wider than 960 pixels. <br/>
  <br/>
  veriasist grid offers all manners of percentage-based widths, from 5 to 100% with various intervals which are combinable to add up to 100 and these are accessible via the screen-% classes, in which the 'screen-' defines the screen size and '%' is a number from 5 to 100 in the intervals we'll list below (there's no trailing zero for numbers under 100).</p>
<pre class="prettyprint linenums">
&lt;div class=&quot;veriasist-grid&quot;&gt;
  &lt;div class=&quot;columns&quot;&gt;
    &lt;div class=&quot;screen-80&quot;&gt;A main 80% column&lt;/div&gt;
    &lt;div class=&quot;screen-20&quot;&gt;A 20% sidebar&lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</pre>
<div class="veriasist divider"></div>
<h6>Basic columns - available widths</h6>
<p> Available column widths are: 5, 10, 15, 20, 25, 30, 33, 35, 40, 45, 50, 55, 60, 65, 66, 70, 75, 80, 85, 90, 95 and 100%. You can mix and match them to add up to 100, inside a row. You even go over 100, but, obviously, there will be a break in your floats.</p>
<div class="veriasist segment columns">
  <div class="columns small-gutters">
    <div class="screen-100 tablet-100 phone-100">
      <p class="column">100%</p>
    </div>
    <div class="screen-95 tablet-95 phone-100">
      <p class="column">95%</p>
    </div>
    <div class="screen-5 tablet-5 phone-100">
      <p class="column">5%</p>
    </div>
    <div class="screen-90 tablet-90 phone-100">
      <p class="column">90%</p>
    </div>
    <div class="screen-10 tablet-10 phone-100">
      <p class="column">10%</p>
    </div>
    <div class="screen-85 tablet-85 phone-100">
      <p class="column">85%</p>
    </div>
    <div class="screen-15 tablet-15 phone-100">
      <p class="column">15%</p>
    </div>
    <div class="screen-80 tablet-80 phone-100">
      <p class="column">80%</p>
    </div>
    <div class="screen-20 tablet-20 phone-100">
      <p class="column">20%</p>
    </div>
    <div class="screen-75 tablet-75  phone-100">
      <p class="column">75%</p>
    </div>
    <div class="screen-25 tablet-25  phone-100">
      <p class="column">25%</p>
    </div>
    <div class="screen-70 tablet-70 phone-100">
      <p class="column">70%</p>
    </div>
    <div class="screen-30 tablet-30 phone-100">
      <p class="column">30%</p>
    </div>
    <div class="screen-65 tablet-65 phone-100">
      <p class="column">65%</p>
    </div>
    <div class="screen-35 tablet-35 phone-100">
      <p class="column">35%</p>
    </div>
    <div class="screen-60 tablet-60 phone-100">
      <p class="column">60%</p>
    </div>
    <div class="screen-40 tablet-40 phone-100">
      <p class="column">40%</p>
    </div>
    <div class="screen-55 tablet-55 phone-100">
      <p class="column">55%</p>
    </div>
    <div class="screen-45 tablet-45 phone-100">
      <p class="column">45%</p>
    </div>
    <div class="screen-50 tablet-50 phone-100">
      <p class="column">50%</p>
    </div>
    <div class="screen-50 tablet-50 phone-100">
      <p class="column">50%</p>
    </div>
    <div class="screen-66 tablet-66 phone-100">
      <p class="column">66%</p>
    </div>
    <div class="screen-33 tablet-33 phone-100">
      <p class="column">33%</p>
    </div>
    <div class="screen-33 tablet-33 phone-100">
      <p class="column">33%</p>
    </div>
    <div class="screen-33 tablet-33 phone-100">
      <p class="column">33%</p>
    </div>
    <div class="screen-33 tablet-33 phone-100">
      <p class="column">33%</p>
    </div>
  </div>
</div>
<div class="veriasist divider"></div>
<h6>The Gutters</h6>
<p> In order to create space between your columns, you will need to add gutters. As you might have guessed by the straight-forwardedness of veriasist's grid class names so far, the class to use in this case is .gutters. Just add the class to your .columns block and you're set. <br/>
  <br/>
  Keeping up with veriasist's grid flexibility, if you don't like default wide gutters, then just use .small-gutters or .mini-gutters, instead, to halve that space. Also, if don't need the bottom space created by the .gutters class to separate the blocks, you can use .horizontal-gutters, .small-horizontal-gutters or .mini-horizontal-gutters for horizontal spacing only.</p>
<pre class="prettyprint linenums">
&lt;div class=&quot;veriasist-grid&quot;&gt;
  &lt;div class=&quot;columns gutters&quot;&gt; &lt;!-- or small-gutters --&gt;
    &lt;div class=&quot;screen-80&quot;&gt;
      &lt;p&gt;A main 80% column&lt;/p&gt;
    &lt;/div&gt;
    &lt;div class=&quot;screen-20&quot;&gt;
      &lt;p&gt;A 20% sidebar&lt;/p&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</pre>
<div class="veriasist divider"></div>
<h6>Layout for large, medium & small screens</h6>
<p> So far, we've talked about the 22 different widths you can divide your layout in, using classes such as .screen-50 and .tablet-25, now let's talk about 'medium' and 'small' layouts.
  Using '<b>screen-%</b>', '<b>tablet-%</b>' and '<b>phone-%</b>', together with the 22 widths, you can define how much space each of your containers takes up in each screen; so, imagine you need a column that takes up 25% of a large screen(1200px), 40% of a tablet screen(max-width 959px) , 50% of a mobile screen (max-width 767px) and 100% of a phone screen (480px and less). </p>
<pre class="prettyprint linenums">
&lt;div class=&quot;screen-25 tablet-40 phone-100&quot;&gt; </pre>
<script src="assets/prettify.js"></script> 