<h2 class="small-bottom-space">Installation Manual</h2>
<h4>Table of Contents</h4>
<ul>
  <li>Introduction</li>
  <li>Overview</li>
  <li>Requirements</li>
  <li>Download</li>
  <li>Database Setup</li>
  <li>Script Upload</li>
  <li>Permission Adjustments</li>
  <li>Setup Wizard</li>
</ul>
<h3>Introduction</h3>
<div class="veriasist divider"></div>
<p>Thank you for purchasing Veriasist - the unique content management system that incorporates modular design. You can build your site without the need for any third party products. Veriasist has reliable functionality and easy to use interface.</p>
<p>Veriasist is easy to install and simple to manage. Use it as a stand-alone application or in conjunction with other applications to create entry level sites, mid-sized or large sites. You can be confident that you will be able to invest in this system and continue to grow it to any possible level.</p>
<p>Good Luck with Veriasist!</p>
<h3>Overview</h3>
<div class="veriasist divider"></div>
<p>This installation manual was created to help you install Veriasist on your site. The whole installation process can be divided into the following steps:</p>
<ul>
  <li>Server/Client requirements</li>
  <li>Download the script</li>
  <li>Setup a MySQL database</li>
  <li>Upload the script to your server</li>
  <li>Make some pre-installation adjustments</li>
  <li>Run installation script</li>
</ul>
<h3>Server Requirements</h3>
<div class="veriasist divider"></div>
<p>Veriasist requires your web server to meet the following minimum system requirements:</p>
<ul>
  <li>Linux/FreeBSD/Windows OS server platform</li>
  <li>Apache 2.0 or above (mod_rewrite module installed)</li>
  <li>MySQL 5.1 or above</li>
  <li>PHP 5.3 or above (GD lib, XML lib, FreeType installed)</li>
</ul>
<p>LAMP is a recommended server configuration. </p>
<h4>Client Requirements</h4>
<p>Veriasist has user-friendly web interface so software requirement is pretty simple - you just need a modern browser.</p>
<h3>Download</h3>
<div class="veriasist divider"></div>
<p>You can download previously purchased script from your codecanyon dashboard.</p>
<h3>Database Setup</h3>
<div class="veriasist divider"></div>
<p>If you already have an empty database  and you don't want to setup the software into new database you can skip this step and proceed to script upload. Otherwise, keep up reading to learn how to create a new database on your server.</p>
<p>Basically, there is one of three ways to create a new database on your server:</p>
<ul>
  <li>via cPanel</li>
  <li>via phpMyAdmin</li>
  <li>via SSH</li>
</ul>
<p>If you are not sure what cPanel, phpMyAdmin, or SSH is, please contact your hosting company. They will give you at least one of those accounts. Below is the detailed description of each method described.</p>
<h4>Method #1: cPanel</h4>
<p>Creating new database using cPanel (you hosting account control panel) is the easiest and the fastest way and is considered the default way. If you are not experienced in installing scripts, please stick to this method.</p>
<ul>
  <li>Go to MySQL Databases section.</li>
  <li>Enter database name and click Add Db button. This will create new database.</li>
  <li>Enter username and password and click Add User button. This will create new user. Please remember these credentials since you will need them later when running installation script.</li>
  <li>Add newly created user to the newly created database with ALL privileges.</li>
</ul>
<h4>Method #2: phpMyAdmin</h4>
<p>phpMyAdmin is another way to create new database. But you must have enough correct permission to do that in phpMyAdmin.</p>
<ul>
  <li>Open phpMyAdmin in your browser. If you're not sure what the URL is, please contact your hosting company.</li>
  <li>Enter database name into Create new database field and click Create button. This will create new database.</li>
  <li>Select newly created database and go to SQL section.</li>
  <li>In the query text field enter this query:
    <pre>GRANT ALL PRIVILEGES ON database_name.* TO database_username@localhost IDENTIFIED BY 'password' WITH GRANT OPTION;</pre>
    IMPORTANT! Don't forget to replace database_name, database_username, and password with actual database name, username, and password when running this query.</li>
  <li>Go to SQL section again and run this query:
    <pre>FLUSH PRIVILEGES;</pre>
  </li>
</ul>
<h4>Method #3: SSH</h4>
<p>The last alternative method is via your SSH account. This is the most sophisticated method.</p>
<ul>
  <li>Connect to your server via SSH.</li>
  <li>Run the command below to enter MySQL environment:
    <pre>mysql -u username -p</pre>
    Replace username with actual database username. You will be prompted to enter password.</li>
  <li>Run the command below to create new database:
    <pre>CREATE DATABASE database_name;</pre>
    Replace database_name with actual database name.</li>
  <li>Run the command below to grant privileges to the user:
    <pre>GRANT ALL PRIVILEGES ON database_name.* TO database_username@localhost IDENTIFIED BY 'password' WITH GRANT OPTION;</pre>
    IMPORTANT! Don't forget to replace database_name, database_username, and password with actual database name, username, and password when running this query.</li>
  <li>Run the command below:
    <pre>FLUSH PRIVILEGES;</pre>
  </li>
</ul>
<p>By following the instructions of one of the methods above you should now have a new database created on your server.</p>
<h3>Script Upload</h3>
<div class="veriasist divider"></div>
<p>To upload the script to your server you need an FTP client program. FTP stands for File Transfer Protocol, and FTP client is a program that allows transferring remote files via this protocol. If you want to learn more about FTP, please <a href="http://www.google.com/search?q=ftp">search Google</a> for it.</p>
<p>Connect to your server via FTP and upload the script.</p>
<h3>Permission Adjustments</h3>
<div class="veriasist divider"></div>
<p>For the installation script to run successfully you need to set some file permissions. By setting permissions you actually tell the server to allow the script make some actions with some files.</p>
<p>To start changing permissions do the following:</p>
<ul>
  <li>Connect to the server with either FTP or SSH client program.</li>
  <li>Go to the directory where you uploaded the script.</li>
  <li>Run the command below to make backup directory writable:
    <pre>chmod 777 backup/</pre>
  </li>
  <li>Run the command below to make lib directory writable:
    <pre>chmod 777 lib/</pre>
  </li>
  <li>Run the command below to make uploads directory writable:
    <pre>chmod 777 uploads/</pre>
  </li>
</ul>
Most of the server will not require this step if for example <a href="http://www.suphp.org/Home.html" target="_blank">suphp</a> is installed, which would be the perfect scenario, since chmoding directories to 0777, is potential security risk.
<h3>Setup Wizard</h3>
<div class="veriasist divider"></div>
<p>To install Veriasist you have to run installation file. In the example below we will use mysite.com as an example domain name. Whenever you see this name you have to substitute it with your actual domain name. We will also use veriasistcms/ as the script root directory. If your directory differs from this one you also have to change it to your actual directory.</p>
<p>To start installation, run the installation script by typing the following URL in your browser: http://www.mysite.com/veriasistcms/ (remember to substitute mysite.com with your actual domain name and veriasistcms/ with your directory name).</p>
<p>Veriasist installation process is divided into three simple steps. They are: Pre-installation check, License, Configuration. Let's review these steps in details.</p>
<h4>a. Pre-installation check</h4>
<p>This step checks your server configuration and explains if your server suits all the requirements for running the software. Besides, you can download <a href="help/checker.zip">Server Requirements Checker</a>. Just unzip and point your browser to <b>checker.php</b> file and you will understand if you can go on using the Veriasist software.</p>
<p>Pre-installation check is divided into several groups:</p>
<ul>
  <li>Server Configuration</li>
  <li>Recommended Settings</li>
  <li>Directory &amp; File Permissions</li>
</ul>
<p>Let's review all these groups in details.</p>
<h4>Server Configuration</h4>
<table class="veriasist table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Usage</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>MySQL Version</td>
      <td>MySQL version that is used on your server. Veriasist requires MySQL 5.1 or above.</td>
    </tr>
    <tr>
      <td>PHP Version</td>
      <td>Version of PHP on your server. It should be equal or greater than 5.3</td>
    </tr>
    <tr>
      <td>XML Support</td>
      <td>XML lib is used to parse RSS feeds, and for language files</td>
    </tr>
    <tr>
      <td>MySQLi Support</td>
      <td>This module is used to connect to MySQL database engine from PHP scripts.</td>
    </tr>
    <tr>
      <td>GD Extension</td>
      <td>This extension is used to generate captcha and for images and banners resizing. We highly recommend installing it in case you do not have it.</td>
    </tr>
  </tbody>
</table>
<h4>Recommended Settings</h4>
<p>We highly recommend setting correct values for all settings here. Anyhow, the script will still operate in case you have some of them configured in a different way. Safe Mode, Register Globals, and others must match required configuration.</p>
<h4>Directory &amp; File Permissions</h4>
<p>Set correct permissions for all your directories and configuration file. Installation process can not be completed until you set writable permissions for lib/directory.</p>
<h4>b. Veriasist License</h4>
<p>Please read Veriasist License Agreement</a>. By clicking Next button you confirm you agree with the terms of use mentioned in the license agreement.</p>
<h4>c. Configuration</h4>
<p>This step configures your script. It's divided into several groups: Database configuration, Common Configuration, Administrator configuration.</p>
<h4>Database Configuration</h4>
<p>Here you should input correct database details.</p>
<h4>Common Configuration</h4>
<p>No need to change any values here. They are generated automatically.</p>
<h4>Administrator Configuration</h4>
<p>Please set your admin panel username and password. Later you can change all these values in admin panel. Also set your email. It will be assigned to default admin account that is created during installation.</p>
<p>After you fill in the forms click Next button. Your script should be successfully installed.</p>
<p class="veriasist small negative message"><i class="icon information"></i>IMPORTANT! You must remove /setup/ directory after installation!</p>