<h2 class="small-bottom-space">Labels</h2>
<h6>Label</h6>
<p>Basic label</p>
<div class="veriasist basic divider"></div>
<div class="columns horizontal-gutters">
  <div class="screen-50 tablet-100 phone-100">
    <div class="veriasist label"> <i class="chat icon"></i> 23 </div>
  </div>
  <div class="screen-50 tablet-100 phone-100">
    <pre class="prettyprint linenums">
&lt;div class=&quot;veriasist label&quot;&gt;
  &lt;i class=&quot;chat icon&quot;&gt;&lt;/i&gt; 23
&lt;/div&gt;</pre>
  </div>
</div>
<div class="veriasist divider"></div>
<h6>Detail</h6>
<p>A label can contain a detail</p>
<div class="veriasist basic divider"></div>
<div class="columns horizontal-gutters">
  <div class="screen-50 tablet-100 phone-100">
    <div class="veriasist label"> Items
      <div class="detail">150</div>
    </div>
  </div>
  <div class="screen-50 tablet-100 phone-100">
    <pre class="prettyprint linenums">
&lt;div class=&quot;veriasist label&quot;&gt;
  Items
  &lt;div class=&quot;detail&quot;&gt;150&lt;/div&gt;
&lt;/div&gt;</pre>
  </div>
</div>
<div class="veriasist divider"></div>
<h6>Removalle</h6>
<p>A label can contain a delete icon</p>
<div class="veriasist basic divider"></div>
<div class="columns horizontal-gutters">
  <div class="screen-50 tablet-100 phone-100">
    <div class="veriasist label"> Witty <i class="delete icon"></i> </div>
  </div>
  <div class="screen-50 tablet-100 phone-100">
    <pre class="prettyprint linenums">
&lt;div class=&quot;veriasist label&quot;&gt;
  Witty
  &lt;i class=&quot;delete icon&quot;&gt;&lt;/i&gt;
&lt;/div&gt;</pre>
  </div>
</div>
<div class="veriasist divider"></div>
<h6>Corner Label</h6>
<p>A label can position itself in the corner of an element</p>
<div class="veriasist basic divider"></div>
<div class="columns horizontal-gutters">
  <div class="screen-50 tablet-100 phone-100">
    <div class="veriasist segment">
      <div class="veriasist right info corner label"> <i class="heart icon"></i> </div>
      <div class="veriasist left corner label">
        <div class="text">New</div>
      </div>
      This is a normal text segment </div>
  </div>
  <div class="screen-50 tablet-100 phone-100">
    <pre class="prettyprint linenums">
&lt;div class=&quot;veriasist segment&quot;&gt;
  &lt;div class=&quot;veriasist right info corner label&quot;&gt;
    &lt;i class=&quot;heart icon&quot;&gt;&lt;/i&gt;
  &lt;/div&gt;
  &lt;div class=&quot;veriasist left corner label&quot;&gt;
    &lt;div class=&quot;text&quot;&gt;New&lt;/div&gt;
  &lt;/div&gt;
  This is a normal text segment
&lt;/div&gt;</pre>
  </div>
</div>
<div class="veriasist divider"></div>
<h6>Ribbon Label</h6>
<p>A label can appear as a ribbon attaching itself to an element.</p>
<div class="veriasist basic divider"></div>
<div class="columns horizontal-gutters">
  <div class="screen-50 tablet-100 phone-100">
    <div class="veriasist segment">
      <div class="veriasist ribbon">
        <div class="ribbon">50% Off</div>
      </div>
      <div class="header"> Welcome back! </div>
      <p> It's good to see you again. I have had a lot to think about since our last visit, I've changed much as a person and I can see that you have too. </p>
    </div>
  </div>
  <div class="screen-50 tablet-100 phone-100">
    <pre class="prettyprint linenums">
&lt;div class=&quot;veriasist segment&quot;&gt;
  &lt;div class=&quot;veriasist ribbon&quot;&gt;
    &lt;div class=&quot;ribbon&quot;&gt;50% Off&lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;header&quot;&gt; Welcome back! &lt;/div&gt;
  &lt;p&gt; It's good to see you again. I have had a visit... &lt;/p&gt;
&lt;/div&gt;</pre>
  </div>
</div>
<div class="veriasist divider"></div>
<h6>Color Variations</h6>
<p>A label can have different colors.</p>
<div class="veriasist basic divider"></div>
<div class="columns horizontal-gutters">
  <div class="screen-50 tablet-100 phone-100"> <a class="veriasist label"> First </a> <a class="veriasist positive label"> Fun </a> <a class="veriasist negative label"> Happy </a> <a class="veriasist info label"> Smart </a>
    <div class="veriasist basic divider"></div>
    <a class="veriasist warning label"> Radical </a> <a class="veriasist purple label"> Insane </a> <a class="veriasist teal label"> Exciting </a> </div>
  <div class="screen-50 tablet-100 phone-100">
    <pre class="prettyprint linenums">
&lt;a class=&quot;veriasist label&quot;&gt;First&lt;/a&gt;
&lt;a class=&quot;veriasist positive label&quot;&gt;Fun&lt;/a&gt;
&lt;a class=&quot;veriasist negative label&quot;&gt;Happy&lt;/a&gt;
&lt;a class=&quot;veriasist info label&quot;&gt;Smart&lt;/a&gt;
&lt;a class=&quot;veriasist warning label&quot;&gt;Radical&lt;/a&gt;
&lt;a class=&quot;veriasist purple label&quot;&gt;Insane&lt;/a&gt;
&lt;a class=&quot;veriasist teal label&quot;&gt;Exciting&lt;/a&gt;</pre>
  </div>
</div>
<div class="veriasist divider"></div>
<h6>Horizontal Label</h6>
<p>A horizontal label is formatted to label content along-side it horizontally.</p>
<div class="veriasist basic divider"></div>
<div class="columns horizontal-gutters">
  <div class="screen-50 tablet-100 phone-100">
    <div class="veriasist divided selection list"> <a class="item">
      <div class="veriasist positive horizontal label">Fruit</div>
      Kumquats </a> <a class="item">
      <div class="veriasist purple horizontal label">Candy</div>
      Ice Cream </a> <a class="item">
      <div class="veriasist negative horizontal label">Fruit</div>
      Orange </a> <a class="item">
      <div class="veriasist horizontal label">Dog</div>
      Poodle </a> </div>
  </div>
  <div class="screen-50 tablet-100 phone-100">
    <pre class="prettyprint linenums">
&lt;div class=&quot;veriasist divided selection list&quot;&gt;
  &lt;a class=&quot;item&quot;&gt;
    &lt;div class=&quot;veriasist positive horizontal label&quot;&gt;Fruit&lt;/div&gt;
    Kumquats
  &lt;/a&gt;
  &lt;a class=&quot;item&quot;&gt;
    &lt;div class=&quot;veriasist purple horizontal label&quot;&gt;Candy&lt;/div&gt;
    Ice Cream
  &lt;/a&gt;
  &lt;a class=&quot;item&quot;&gt;
    &lt;div class=&quot;veriasist negative horizontal label&quot;&gt;Fruit&lt;/div&gt;
    Orange
  &lt;/a&gt;
  &lt;a class=&quot;item&quot;&gt;
    &lt;div class=&quot;veriasist horizontal label&quot;&gt;Dog&lt;/div&gt;
    Poodle
  &lt;/a&gt;
&lt;/div&gt;</pre>
  </div>
</div>
<div class="veriasist divider"></div>
<h6>Circular Label</h6>
<p>A label can be circular.</p>
<div class="veriasist basic divider"></div>
<div class="columns horizontal-gutters">
  <div class="screen-50 tablet-100 phone-100"> <a class="veriasist circular label"> 12 </a> <a class="veriasist positive circular label"> 11 </a> <a class="veriasist negative circular label"> 10 </a> <a class="veriasist info circular label"> 64 </a> <a class="veriasist purple circular label"> 62 </a> <a class="veriasist teal circular label"> 1 </a>
    <div class="veriasist basic divider"></div>
    <div class="veriasist circular label"></div>
    <div class="veriasist positive circular label"></div>
    <div class="veriasist negative circular label"></div>
    <div class="veriasist info circular label"></div>
    <div class="veriasist purple circular label"></div>
    <div class="veriasist teal circular label"></div>
  </div>
  <div class="screen-50 tablet-100 phone-100">
    <pre class="prettyprint linenums">
&lt;a class=&quot;veriasist circular label&quot;&gt; 12 &lt;/a&gt;
&lt;a class=&quot;veriasist positive circular label&quot;&gt; 11 &lt;/a&gt;
&lt;a class=&quot;veriasist negative circular label&quot;&gt; 10 &lt;/a&gt;
&lt;a class=&quot;veriasist info circular label&quot;&gt; 64 &lt;/a&gt;
&lt;a class=&quot;veriasist purple circular label&quot;&gt; 62 &lt;/a&gt;
&lt;a class=&quot;veriasist teal circular label&quot;&gt; 1 &lt;/a&gt;
&lt;div class=&quot;veriasist circular label&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;veriasist positive circular label&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;veriasist negative circular label&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;veriasist info circular label&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;veriasist purple circular label&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;veriasist teal circular label&quot;&gt;&lt;/div&gt;</pre>
  </div>
</div>
<script src="assets/prettify.js"></script>