<h2 class="small-bottom-space">Lists</h2>
<div class="columns horizontal-gutters">
  <div class="screen-50 tablet-100 phone-100">
    <h6>List</h6>
    <p>A standard list</p>
    <div class="veriasist list">
      <div class="item"> <img class="veriasist avatar image" src="help/demo/avatar.jpg">
        <div class="content">
          <div class="header">Schnoodle</div>
          Your new dog </div>
        <div class="list">
          <div class="item"> <i class="mail outline icon"></i>
            <div class="content"> <a class="header">Thanks for being my owner</a>
              <div class="description">Im so glad you chose to bring me home from the shelter...</div>
            </div>
          </div>
          <div class="item"> <i class="mail outline icon"></i>
            <div class="content"> <a class="header">What a walk</a>
              <div class="description">Man i am so tired that walk today really was too far...</div>
            </div>
          </div>
          <div class="item"> <i class="map icon"></i>
            <div class="content"> <a class="header">Sorry about your old dog</a>
              <div class="description">Is this your address? I'm getting dropped off from the SPCA...</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="screen-50 tablet-100 phone-100">
    <pre class="prettyprint linenums">
&lt;div class=&quot;veriasist list&quot;&gt;
  &lt;div class=&quot;item&quot;&gt; 
    &lt;img src=&quot;images/demo/avatar.jpg&quot; class=&quot;veriasist avatar image&quot; alt=&quot;&quot;&gt;
    &lt;div class=&quot;content&quot;&gt;
      &lt;div class=&quot;header&quot;&gt;Schnoodle&lt;/div&gt;
      Your new dog &lt;/div&gt;
    &lt;div class=&quot;list&quot;&gt;
      &lt;div class=&quot;item&quot;&gt; &lt;i class=&quot;mail outline icon&quot;&gt;&lt;/i&gt;
        &lt;div class=&quot;content&quot;&gt; 
        &lt;a class=&quot;header&quot;&gt;Thanks for being my owner&lt;/a&gt;
          &lt;div class=&quot;description&quot;&gt;...&lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class=&quot;item&quot;&gt; &lt;i class=&quot;mail outline icon&quot;&gt;&lt;/i&gt;
        &lt;div class=&quot;content&quot;&gt; 
        &lt;a class=&quot;header&quot;&gt;What a walk&lt;/a&gt;
          &lt;div class=&quot;description&quot;&gt;...&lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class=&quot;item&quot;&gt; &lt;i class=&quot;map icon&quot;&gt;&lt;/i&gt;
        &lt;div class=&quot;content&quot;&gt; 
        &lt;a class=&quot;header&quot;&gt;Sorry about your old dog&lt;/a&gt;
          &lt;div class=&quot;description&quot;&gt;...&lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</pre>
  </div>
</div>
<div class="veriasist divider"></div>
<div class="columns horizontal-gutters">
  <div class="screen-50 tablet-100 phone-100">
    <h6>Bulleted</h6>
    <p>A list can mark items with a bullet</p>
    <div class="veriasist bulleted list">
      <div class="item">Cats</div>
      <div class="item">Horses</div>
      <div class="item">Dogs
        <div class="list">
          <div class="item">Labradoodles</div>
          <div class="item">Shiba Inu</div>
          <div class="item">Mastiff</div>
        </div>
      </div>
    </div>
  </div>
  <div class="screen-50 tablet-100 phone-100">
    <pre class="prettyprint linenums">
&lt;div class=&quot;veriasist bulleted list&quot;&gt;
  &lt;div class=&quot;item&quot;&gt;Cats&lt;/div&gt;
  &lt;div class=&quot;item&quot;&gt;Horses&lt;/div&gt;
  &lt;div class=&quot;item&quot;&gt;Dogs
    &lt;div class=&quot;list&quot;&gt;
      &lt;div class=&quot;item&quot;&gt;Labradoodles&lt;/div&gt;
      &lt;div class=&quot;item&quot;&gt;Shiba Inu&lt;/div&gt;
      &lt;div class=&quot;item&quot;&gt;Mastiff&lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</pre>
  </div>
</div>
<div class="veriasist divider"></div>
<div class="columns horizontal-gutters">
  <div class="screen-50 tablet-100 phone-100">
    <h6>Ordered</h6>
    <p>A list can be ordered numerically</p>
    <ol class="veriasist list">
      <li>Cats</li>
      <li>Horses</li>
      <li>Dogs</li>
      <ol>
        <li>Labradoodles</li>
        <li>Shiba Inu</li>
        <li>Mastiff</li>
      </ol>
    </ol>
  </div>
  <div class="screen-50 tablet-100 phone-100">
    <pre class="prettyprint linenums">
&lt;ol class=&quot;veriasist list&quot;&gt;
  &lt;li&gt;Cats&lt;/li&gt;
  &lt;li&gt;Horses&lt;/li&gt;
  &lt;li&gt;Dogs&lt;/li&gt;
    &lt;ol&gt;
      &lt;li&gt;Labradoodles&lt;/li&gt;
      &lt;li&gt;Shiba Inu&lt;/li&gt;
      &lt;li&gt;Mastiff&lt;/li&gt;
    &lt;/ol&gt;
&lt;/ol&gt;</pre>
  </div>
</div>
<div class="veriasist divider"></div>
<div class="columns horizontal-gutters">
  <div class="screen-50 tablet-100 phone-100">
    <h6>Icon</h6>
    <p>A list item can have an icon</p>
    <div class="veriasist list"> <a class="item"> <i class="right triangle icon"></i> How do you know your dog likes you? </a> <a class="item"> <i class="right triangle icon"></i> When is it ok to send your dog to a farm? </a> <a class="item"> <i class="right triangle icon"></i> Can you get your dog back from a farm if you really want him back? </a> <a class="item"> <i class="right triangle icon"></i> Is trespassing on a farm a misdemeanor offence? </a> </div>
  </div>
  <div class="screen-50 tablet-100 phone-100">
    <pre class="prettyprint linenums">
&lt;div class=&quot;veriasist list&quot;&gt;
  &lt;a class=&quot;item&quot;&gt;
    &lt;i class=&quot;right triangle icon&quot;&gt;&lt;/i&gt;
    How do you know your...
  &lt;/a&gt;
  &lt;a class=&quot;item&quot;&gt;
    &lt;i class=&quot;right triangle icon&quot;&gt;&lt;/i&gt;
    When is it ok to send your...
  &lt;/a&gt;
  &lt;a class=&quot;item&quot;&gt;
    &lt;i class=&quot;right triangle icon&quot;&gt;&lt;/i&gt;
    Can you get your dog back from...
  &lt;/a&gt;
  &lt;a class=&quot;item&quot;&gt;
    &lt;i class=&quot;right triangle icon&quot;&gt;&lt;/i&gt;
    Is trespassing on a farm...
  &lt;/a&gt;
&lt;/div&gt;</pre>
  </div>
</div>
<div class="veriasist divider"></div>
<div class="columns horizontal-gutters">
  <div class="screen-50 tablet-100 phone-100">
    <h6>Content</h6>
    <p>A list can have groups of content that can be floated left or right</p>
    <div class="veriasist divided list">
      <div class="item">
        <div class="right floated tiny teal veriasist button">View Listing</div>
        <img class="veriasist avatar image" src="help/demo/avatar.jpg">
        <div class="content">
          <div class="header">New York Dog Fair</div>
        </div>
      </div>
      <div class="item">
        <div class="right floated tiny teal veriasist button">View Listing</div>
        <img class="veriasist avatar image" src="help/demo/avatar.jpg">
        <div class="content">
          <div class="header">Dog Appreciation Day</div>
        </div>
      </div>
    </div>
  </div>
  <div class="screen-50 tablet-100 phone-100">
    <pre class="prettyprint linenums">
&lt;div class=&quot;veriasist divided list&quot;&gt;
  &lt;div class=&quot;item&quot;&gt;
    &lt;div class=&quot;right floated tiny teal veriasist button&quot;&gt;View Listing&lt;/div&gt;
    &lt;img class=&quot;veriasist avatar image&quot; src=&quot;images/demo/avatar.jpg&quot;&gt;
    &lt;div class=&quot;content&quot;&gt;
      &lt;div class=&quot;header&quot;&gt;New York Dog Fair&lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;item&quot;&gt;
    &lt;div class=&quot;right floated tiny teal veriasist button&quot;&gt;View Listing&lt;/div&gt;
    &lt;img class=&quot;veriasist avatar image&quot; src=&quot;images/demo/avatar.jpg&quot;&gt;
    &lt;div class=&quot;content&quot;&gt;
      &lt;div class=&quot;header&quot;&gt;Dog Appreciation Day&lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</pre>
  </div>
</div>
<div class="veriasist divider"></div>
<div class="columns horizontal-gutters">
  <div class="screen-50 tablet-100 phone-100">
    <h6>Horizontal List</h6>
    <p>A list can be formatted horizontally</p>
    <div class="veriasist horizontal list">
      <div class="item"> <img class="veriasist avatar image" src="help/demo/avatar.jpg">
        <div class="content">
          <div class="header">Snickerdoodle</div>
          An excellent companion </div>
      </div>
      <div class="item"> <img class="veriasist avatar image" src="help/demo/avatar.jpg">
        <div class="content">
          <div class="header">Poodle</div>
          A poodle, its pretty basic </div>
      </div>
    </div>
  </div>
  <div class="screen-50 tablet-100 phone-100">
    <pre class="prettyprint linenums">
&lt;div class=&quot;veriasist horizontal list&quot;&gt;
  &lt;div class=&quot;item&quot;&gt;
    &lt;img class=&quot;veriasist avatar image&quot; src=&quot;images/demo/avatar.jpg&quot;&gt;
    &lt;div class=&quot;content&quot;&gt;
      &lt;div class=&quot;header&quot;&gt;Snickerdoodle&lt;/div&gt;
      An excellent companion
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;item&quot;&gt;
    &lt;img class=&quot;veriasist avatar image&quot; src=&quot;images/demo/avatar.jpg&quot;&gt;
    &lt;div class=&quot;content&quot;&gt;
      &lt;div class=&quot;header&quot;&gt;Poodle&lt;/div&gt;
      A poodle, its pretty basic
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</pre>
  </div>
</div>
<script src="assets/prettify.js"></script> 