    
<h2 class="small-bottom-space">Progress Bars</h2>
<h6>Color</h6>
<p>Can have different colors</p>
<div class="veriasist basic divider"></div>
<div class="columns horizontal-gutters">
  <div class="screen-50 tablet-100 phone-100">
    <div class="veriasist info progress" data-percent="95">
      <div class="bar">95%</div>
    </div>
    <div class="veriasist basic divider"></div>
    <div class="veriasist black progress" data-percent="65">
      <div class="bar">65%</div>
    </div>
    <div class="veriasist basic divider"></div>
    <div class="veriasist success progress" data-percent="55">
      <div class="bar">55%</div>
    </div>
    <div class="veriasist basic divider"></div>
    <div class="veriasist negative progress" data-percent="75">
      <div class="bar">75%</div>
    </div>
    <div class="veriasist basic divider"></div>
    <div class="veriasist warning progress" data-percent="82">
      <div class="bar">82%</div>
    </div>
    <div class="veriasist basic divider"></div>
    <div class="veriasist purple progress" data-percent="35">
      <div class="bar">35%</div>
    </div>
    <div class="veriasist basic divider"></div>
    <div class="veriasist teal progress" data-percent="28">
      <div class="bar">28%</div>
    </div>
  </div>
  <div class="screen-50 tablet-100 phone-100">
    <pre class="prettyprint linenums">
&lt;div class=&quot;veriasist info progress&quot; data-percent=&quot;95&quot;&gt;
  &lt;div class=&quot;bar&quot;&gt;95%&lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;veriasist basic divider&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;veriasist black progress&quot; data-percent=&quot;65&quot;&gt;
  &lt;div class=&quot;bar&quot;&gt;65%&lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;veriasist basic divider&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;veriasist success progress&quot; data-percent=&quot;55&quot;&gt;
  &lt;div class=&quot;bar&quot;&gt;55%&lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;veriasist basic divider&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;veriasist negative progress&quot; data-percent=&quot;75&quot;&gt;
  &lt;div class=&quot;bar&quot;&gt;75%&lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;veriasist basic divider&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;veriasist warning progress&quot; data-percent=&quot;82&quot;&gt;
  &lt;div class=&quot;bar&quot;&gt;82%&lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;veriasist basic divider&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;veriasist purple progress&quot; data-percent=&quot;35&quot;&gt;
  &lt;div class=&quot;bar&quot;&gt;35%&lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;veriasist basic divider&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;veriasist teal progress&quot; data-percent=&quot;28&quot;&gt;
  &lt;div class=&quot;bar&quot;&gt;28%&lt;/div&gt;
&lt;/div&gt;</pre>
  </div>
</div>
<div class="veriasist divider"></div>
<h6>Striped</h6>
<p>A progress bar can be striped</p>
<div class="veriasist basic divider"></div>
<div class="columns horizontal-gutters">
  <div class="screen-50 tablet-100 phone-100">
    <div class="veriasist info striped progress" data-percent="95">
      <div class="bar">95%</div>
    </div>
    <div class="veriasist basic divider"></div>
    <div class="veriasist black striped progress" data-percent="65">
      <div class="bar">65%</div>
    </div>
    <div class="veriasist basic divider"></div>
    <div class="veriasist success striped progress" data-percent="55">
      <div class="bar">55%</div>
    </div>
    <div class="veriasist basic divider"></div>
    <div class="veriasist negative striped progress" data-percent="75">
      <div class="bar">75%</div>
    </div>
    <div class="veriasist basic divider"></div>
    <div class="veriasist warning striped progress" data-percent="82">
      <div class="bar">82%</div>
    </div>
    <div class="veriasist basic divider"></div>
    <div class="veriasist purple striped progress" data-percent="35">
      <div class="bar">35%</div>
    </div>
    <div class="veriasist basic divider"></div>
    <div class="veriasist teal striped progress" data-percent="28">
      <div class="bar">28%</div>
    </div>
  </div>
  <div class="screen-50 tablet-100 phone-100">
    <pre class="prettyprint linenums">
&lt;div class=&quot;veriasist info striped progress&quot; data-percent=&quot;95&quot;&gt;
  &lt;div class=&quot;bar&quot;&gt;95%&lt;/div&gt;
&lt;/div&gt;

&lt;div class=&quot;veriasist basic divider&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;veriasist black striped progress&quot; data-percent=&quot;65&quot;&gt;
  &lt;div class=&quot;bar&quot;&gt;65%&lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;veriasist basic divider&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;veriasist success striped progress&quot; data-percent=&quot;55&quot;&gt;
  &lt;div class=&quot;bar&quot;&gt;55%&lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;veriasist basic divider&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;veriasist negative striped progress&quot; data-percent=&quot;75&quot;&gt;
  &lt;div class=&quot;bar&quot;&gt;75%&lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;veriasist basic divider&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;veriasist warning striped progress&quot; data-percent=&quot;82&quot;&gt;
  &lt;div class=&quot;bar&quot;&gt;82%&lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;veriasist basic divider&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;veriasist purple striped progress&quot; data-percent=&quot;35&quot;&gt;
  &lt;div class=&quot;bar&quot;&gt;35%&lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;veriasist basic divider&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;veriasist teal striped progress&quot; data-percent=&quot;28&quot;&gt;
  &lt;div class=&quot;bar&quot;&gt;28%&lt;/div&gt;
&lt;/div&gt;</pre>
  </div>
</div>
<div class="veriasist divider"></div>
<h6>Active</h6>
<p>A progress bar can show activity</p>
<div class="veriasist basic divider"></div>
<div class="columns horizontal-gutters">
  <div class="screen-50 tablet-100 phone-100">
    <div class="veriasist info striped active progress" data-percent="95">
      <div class="bar">95%</div>
    </div>
    <div class="veriasist basic divider"></div>
    <div class="veriasist black striped active progress" data-percent="65">
      <div class="bar">65%</div>
    </div>
  </div>
  <div class="screen-50 tablet-100 phone-100">
    <pre class="prettyprint linenums">
&lt;div class=&quot;veriasist info striped active progress&quot; data-percent=&quot;95&quot;&gt;
  &lt;div class=&quot;bar&quot;&gt;95%&lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;veriasist basic divider&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;veriasist black striped active progress&quot; data-percent=&quot;65&quot;&gt;
  &lt;div class=&quot;bar&quot;&gt;65%&lt;/div&gt;
&lt;/div&gt;</pre>
  </div>
</div>
<div class="veriasist divider"></div>
<h6>Size</h6>
<p>A progress bar can be thinner</p>
<div class="veriasist basic divider"></div>
<div class="columns horizontal-gutters">
  <div class="screen-50 tablet-100 phone-100">
    <div class="veriasist thin striped info progress" data-percent="80">
      <div class="bar"> </div>
    </div>
    <div class="veriasist basic divider"></div>
    <div class="veriasist thin striped success progress" data-percent="60">
      <div class="bar"> </div>
    </div>
  </div>
  <div class="screen-50 tablet-100 phone-100">
    <pre class="prettyprint linenums">
&lt;div class=&quot;veriasist thin striped info progress&quot; data-percent=&quot;80&quot;&gt;
  &lt;div class=&quot;bar&quot;&gt; &lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;veriasist thin striped success progress&quot; data-percent=&quot;60&quot;&gt;
  &lt;div class=&quot;bar&quot;&gt; &lt;/div&gt;
&lt;/div&gt;</pre>
  </div>
</div>
<div class="veriasist divider"></div>
<h6>Headers</h6>
<p>A progress bar can have headers</p>
<div class="veriasist basic divider"></div>
<div class="columns gutters">
  <div class="screen-50 tablet-100 phone-100">
    <h3 class="veriasist info header">Web Design <span class="push-right">92%</span></h3>
    <div class="veriasist striped info active progress" data-percent="92">
      <div class="bar"> </div>
    </div>
    <h3 class="veriasist negative header">Marketing &amp; PR <span class="push-right">63%</span></h3>
    <div class="veriasist striped negative active progress" data-percent="63">
      <div class="bar"> </div>
    </div>
  </div>
  <div class="screen-50 tablet-100 phone-100">
    <pre class="prettyprint linenums">
&lt;h3 class=&quot;veriasist info header&quot;&gt;Web Design
  &lt;span class=&quot;push-right&quot;&gt;92%&lt;/span&gt;&lt;/h3&gt;
&lt;div class=&quot;veriasist striped info active progress&quot; data-percent=&quot;92&quot;&gt;
  &lt;div class=&quot;bar&quot;&gt; &lt;/div&gt;
&lt;/div&gt;
&lt;h3 class=&quot;veriasist negative header&quot;&gt;Marketing &amp;amp; PR 
  &lt;span class=&quot;push-right&quot;&gt;63%&lt;/span&gt;&lt;/h3&gt;
&lt;div class=&quot;veriasist striped negative active progress&quot; data-percent=&quot;63&quot;&gt;
  &lt;div class=&quot;bar&quot;&gt; &lt;/div&gt;
&lt;/div&gt;</pre>
  </div>
</div>
<script src="assets/prettify.js"></script> 
<script type="text/javascript">
  $(document).ready(function () {
     function progress(percent, element) {
         var progressBarWidth = percent * element.width() / 100;
         $(element).find('div').animate({
             width: progressBarWidth
         }, 500);
     }
     animateProgress();

     function animateProgress() {
         $('body .progress').each(function () {
             var bar = $(this);
             var size = $(this).data('percent');
             progress(size, bar);
         });
     }
     $(window).resize(function () {
         animateProgress();
     });
  });

</script>