<h2 class="small-bottom-space">Segments</h2>
<h6>Segment</h6>
<p>A segment of content</p>
<br>
<div class="columns horizontal-gutters">
  <div class="screen-50 tablet-100 mobile-100 phone-100">
    <div class="veriasist segment">
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.</p>
    </div>
  </div>
  <div class="screen-50 tablet-100 mobile-100 phone-100">
    <pre class="prettyprint linenums">
&lt;div class=&quot;veriasist segment&quot;&gt;
  &lt;p&gt;Lorem ipsum dolor sit...&lt;/p&gt;
&lt;/div&gt;</pre>
  </div>
</div>
<div class="veriasist divider"></div>
<h6>Piled</h6>
<p>A segment can be formatted to look like a pile of pages</p>
<br>
<div class="columns horizontal-gutters">
  <div class="screen-50 tablet-100 mobile-100 phone-100">
    <div class="veriasist piled segment">
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.</p>
    </div>
  </div>
  <div class="screen-50 tablet-100 mobile-100 phone-100">
    <pre class="prettyprint linenums">
&lt;div class=&quot;veriasist piled segment&quot;&gt;
  &lt;p&gt;Lorem ipsum dolor sit...&lt;/p&gt;
&lt;/div&gt;</pre>
  </div>
</div>
<div class="veriasist divider"></div>
<h6>Stacked</h6>
<p>A segment can be formatted to show it contains multiple pages</p>
<br>
<div class="columns horizontal-gutters">
  <div class="screen-50 tablet-100 mobile-100 phone-100">
    <div class="veriasist stacked segment">
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.</p>
    </div>
  </div>
  <div class="screen-50 tablet-100 mobile-100 phone-100">
    <pre class="prettyprint linenums">
&lt;div class=&quot;veriasist stacked segment&quot;&gt;
  &lt;p&gt;Lorem ipsum dolor sit...&lt;/p&gt;
&lt;/div&gt;</pre>
  </div>
</div>
<div class="veriasist divider"></div>
<h6>Raised</h6>
<p>A segment may be formatted to raise above the page.</p>
<br>
<div class="columns horizontal-gutters">
  <div class="screen-50 tablet-100 mobile-100 phone-100">
    <div class="veriasist raised segment">
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.</p>
    </div>
  </div>
  <div class="screen-50 tablet-100 mobile-100 phone-100">
    <pre class="prettyprint linenums">
&lt;div class=&quot;veriasist raised segment&quot;&gt;
  &lt;p&gt;Lorem ipsum dolor sit...&lt;/p&gt;
&lt;/div&gt;</pre>
  </div>
</div>
<div class="veriasist divider"></div>
<h6>Colored</h6>
<p>A segment can be colored.</p>
<br>
<div class="columns horizontal-gutters">
  <div class="screen-50 tablet-100 mobile-100 phone-100">
    <div class="veriasist info segment">
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.</p>
    </div>
    <div class="veriasist positive segment">
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.</p>
    </div>
    <div class="veriasist negative segment">
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.</p>
    </div>
    <div class="veriasist warning segment">
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.</p>
    </div>
    <div class="veriasist purple segment">
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.</p>
    </div>
    <div class="veriasist teal segment">
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.</p>
    </div>
  </div>
  <div class="screen-50 tablet-100 mobile-100 phone-100">
    <pre class="prettyprint linenums">
&lt;div class=&quot;veriasist info segment&quot;&gt;
  &lt;p&gt;Lorem ipsum dolor sit amet, consectetuer adipiscing elit.&lt;/p&gt;
&lt;/div&gt;</pre>
    <pre class="prettyprint linenums">
&lt;div class=&quot;veriasist positive segment&quot;&gt;
  &lt;p&gt;Lorem ipsum dolor sit amet, consectetuer adipiscing elit.&lt;/p&gt;
&lt;/div&gt;</pre>
    <pre class="prettyprint linenums">
&lt;div class=&quot;veriasist negative segment&quot;&gt;
  &lt;p&gt;Lorem ipsum dolor sit amet, consectetuer adipiscing elit.&lt;/p&gt;
&lt;/div&gt;</pre>
    <pre class="prettyprint linenums">
&lt;div class=&quot;veriasist warning segment&quot;&gt;
  &lt;p&gt;Lorem ipsum dolor sit amet, consectetuer adipiscing elit.&lt;/p&gt;
&lt;/div&gt;</pre>
    <pre class="prettyprint linenums">
&lt;div class=&quot;veriasist purple segment&quot;&gt;
  &lt;p&gt;Lorem ipsum dolor sit amet, consectetuer adipiscing elit.&lt;/p&gt;
&lt;/div&gt;</pre>
    <pre class="prettyprint linenums">
&lt;div class=&quot;veriasist teal segment&quot;&gt;
  &lt;p&gt;Lorem ipsum dolor sit amet, consectetuer adipiscing elit.&lt;/p&gt;
&lt;/div&gt;</pre>
  </div>
</div>
<div class="veriasist divider"></div>
<h6>Inverted</h6>
<p>These colors can be inverted.</p>
<br>
<div class="columns gutters">
  <div class="screen-50 tablet-100 mobile-100 phone-100">
    <div class="veriasist info inverted segment">
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.</p>
    </div>
    <div class="veriasist positive inverted segment">
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.</p>
    </div>
    <div class="veriasist negative inverted segment">
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.</p>
    </div>
    <div class="veriasist warning inverted segment">
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.</p>
    </div>
    <div class="veriasist purple inverted segment">
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.</p>
    </div>
    <div class="veriasist teal inverted segment">
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.</p>
    </div>
  </div>
  <div class="screen-50 tablet-100 mobile-100 phone-100">
    <pre class="prettyprint linenums">
&lt;div class=&quot;veriasist info inverted segment&quot;&gt;
  &lt;p&gt;Lorem ipsum dolor sit amet, consectetuer adipiscing elit.&lt;/p&gt;
&lt;/div&gt;</pre>
    <pre class="prettyprint linenums">
&lt;div class=&quot;veriasist positive inverted segment&quot;&gt;
  &lt;p&gt;Lorem ipsum dolor sit amet, consectetuer adipiscing elit.&lt;/p&gt;
&lt;/div&gt;</pre>
    <pre class="prettyprint linenums">
&lt;div class=&quot;veriasist negative inverted segment&quot;&gt;
  &lt;p&gt;Lorem ipsum dolor sit amet, consectetuer adipiscing elit.&lt;/p&gt;
&lt;/div&gt;</pre>
    <pre class="prettyprint linenums">
&lt;div class=&quot;veriasist warning inverted segment&quot;&gt;
  &lt;p&gt;Lorem ipsum dolor sit amet, consectetuer adipiscing elit.&lt;/p&gt;
&lt;/div&gt;</pre>
    <pre class="prettyprint linenums">
&lt;div class=&quot;veriasist purple inverted segment&quot;&gt;
  &lt;p&gt;Lorem ipsum dolor sit amet, consectetuer adipiscing elit.&lt;/p&gt;
&lt;/div&gt;</pre>
    <pre class="prettyprint linenums">
&lt;div class=&quot;veriasist teal inverted segment&quot;&gt;
  &lt;p&gt;Lorem ipsum dolor sit amet, consectetuer adipiscing elit.&lt;/p&gt;
&lt;/div&gt;</pre>
  </div>
</div>
<script src="assets/prettify.js"></script> 