<h2 class="half-bottom-space">Transferring Site</h2>
<p>Sometimes you might have a need to copy the whole website including settings and data to a new hosting server. Here is the set of instructions how to do this.</p>
<p>The very first step is to <strong>copy all your files</strong> from your Veriasist location <strong>to a new server</strong>. There are several ways to do that:</p>
<ol>
  <li>pack files in cPanel file manager and then move and unpack them on your new server</li>
  <li>pack files in SSH using any shell package command like <em>tar</em>, <em>gzip</em>, etc.</li>
  <li>download files using FTP to your local PC and then upload them to a new location</li>
</ol>
<p><em>Note:</em> you can remove all the files from your cache/ directory as they are not needed for the new server and they will be generated dynamically.</p>
<p>The second step is to <strong>transfer your MySQL database</strong>. You can do that in your hosting phpMyAdmin. Simply make a full backup of your Veriasist database and import it in your new website database.</p>
<p>After you do the steps described above you should make the final changes:</p>
<ol>
  <li>set writable permissions for uploads/, cache/ directories (if needed)</li>
  <li>configure your lib/config.ini.php file and put your new database details there</li>
  <li>update your Site Directory in admin configuration page (if needed)</li>
  <li>configure your .htaccess file with new RewriteBase path (if needed)</li>
</ol>
<p>That's all. Open your website in your browser - it should work fine.</p>