/* == Breadcrumb == */
.veriasist.breadcrumb {
  display: inline-block;
  vertical-align: middle;
  font-family: 'Open Sans Condensed';
  font-weight: 600;
  margin: .25em 0 0;
}
.veriasist.breadcrumb:first-child {
  margin-top: 0;
  white-space: nowrap;
}
.veriasist.breadcrumb:last-child {
  margin-bottom: 0;
}
/* == Content == */
.veriasist.breadcrumb .divider {
  display: inline-block;
  opacity: 0.5;
  margin: 0 .15em;
  font-size: 1em;
  color: rgba(0,0,0,0.3);
}
.veriasist.breadcrumb a.section {
  cursor: pointer;
}
.veriasist.breadcrumb .section {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.veriasist.breadcrumb.segment {
  display: inline-block;
  padding: .5em 1em;
}
.veriasist.breadcrumb .active.section {
  font-weight: 700;
}
/* == Variations == */
.veriasist.small.breadcrumb {
  font-size: .75em;
}
.veriasist.large.breadcrumb {
  font-size: 1.1em;
}
.veriasist.huge.breadcrumb {
  font-size: 1.3em;
}
