/* == Divider == */
.veriasist.divider {
  margin: 1rem 0;
  border: 0;
  border-top: 1px solid #E2E4D0;
  border-bottom: 1px solid rgba(255,255,255,0.6);
  line-height: 1;
  height: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0)
}
.veriasist.vertical.divider,
.veriasist.horizontal.divider {
  position: absolute;
  border: none;
  height: 0;
  margin: 0;
  background-color: transparent;
font-size:.875rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: rgba(0,0,0,0.8)
}
/* == Vertical == */
.veriasist.vertical.divider {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  margin: 0 0 0 -3%;
  width: 6%;
  height: 50%;
  line-height: 0;
  padding: 0
}
.veriasist.vertical.divider:before,
.veriasist.vertical.divider:after {
  position: absolute;
  left: 50%;
  content: " ";
  z-index: 3;
  border-left: 1px solid rgba(0,0,0,0.1);
  border-right: 1px solid rgba(255,255,255,0.8);
  width: 0;
  height: 80%
}
.veriasist.vertical.divider:before {
  top: -100%
}
.veriasist.vertical.divider:after {
  top: auto;
  bottom: 0
}
/* == Horizontal == */
.veriasist.horizontal.divider {
  position: relative;
  top: 0;
  left: 0;
  margin: 1rem 1.5rem;
  height: auto;
  padding: 0;
  line-height: 1
}
.veriasist.horizontal.divider:before,
.veriasist.horizontal.divider:after {
  position: absolute;
  content: " ";
  z-index: 3;
  width: 50%;
  top: 50%;
  height: 0;
  border-top: 1px solid #E2E4D0;
  border-bottom: 1px solid rgba(255,255,255,0.6);
}
.veriasist.horizontal.divider:before {
  left: 0;
  margin-left: -1.5rem
}
.veriasist.horizontal.divider:after {
  left: auto;
  right: 0;
  margin-right: -1.5rem
}
/* == Icon == */
.veriasist.divider > .icon {
  margin: 0;
  font-size: 1rem;
  vertical-align: middle
}
/* == Variations == */
.veriasist.divider.inverted {
  color: #fff
}
.veriasist.vertical.inverted.divider,
.veriasist.horizontal.inverted.divider {
  color: rgba(255,255,255,0.9)
}
.veriasist.divider.inverted,
.veriasist.divider.inverted:after,
.veriasist.divider.inverted:before {
  border-top-color: rgba(0,0,0,0.15);
  border-bottom-color: rgba(255,255,255,0.15);
  border-left-color: rgba(0,0,0,0.15);
  border-right-color: rgba(255,255,255,0.15)
}
.veriasist.double.divider {
  border-top: 2px solid #E2E4D0;
  border-bottom: 2px solid rgba(255,255,255,0.6);
}
.veriasist.tripple.divider {
  border-top: 3px solid #E2E4D0;
  border-bottom: 3px solid rgba(255,255,255,0.6);
}
.veriasist.fitted.divider {
  margin-left:-1rem;
  margin-right:-1rem;
}
.veriasist.small.divider {
  margin: .1rem 0;
}
.veriasist.clearing.divider {
  clear: both
}
.veriasist.section.divider {
  margin-top: 2rem;
  margin-bottom: 2rem
}