/* == Header == */
.veriasist.header {
  border: none;
  margin: 1em 0em 1rem;
  padding: 0em;
  font-size: 1.33em;
  font-family: 'Open Sans Condensed';
  font-weight: 600;
  line-height: 1.33;
}
.veriasist.header .sub.header {
  font-size: 1rem;
  font-weight: normal;
  margin: 0em;
  padding: 0em;
  line-height: 1.2;
  color: rgba(0, 0, 0, 0.5);
}
.veriasist.header .icon {
  display: table-cell;
  vertical-align: middle;
  padding-right: 0.5em;
}
.veriasist.header .icon:only-child {
  display: inline-block;
  vertical-align: baseline;
}
.veriasist.header .content {
  display: inline-block;
  vertical-align: top;
}
.veriasist.header .icon + .content {
  padding-left: 0.5em;
  display: table-cell;
}
.veriasist.header:first-child {
  margin-top: 0em;
}
.veriasist.header:last-child {
  margin-bottom: 0em;
}
.veriasist.header + p {
  margin-top: 0em;
}
/* == Page Headings == */
h1.veriasist.header,h1 {
  min-height: 1rem;
  line-height: 1.33;
  font-size: 2rem;
}
h2.veriasist.header,h2 {
  line-height: 1.33;
  font-size: 1.75rem;
}
h3.veriasist.header,h3 {
  line-height: 1.33;
  font-size: 1.33rem;
}
h4.veriasist.header,h4 {
  line-height: 1.33;
  font-size: 1.1rem;
  font-family: 'Open Sans Condensed';
}
h5.veriasist.header,h5 {
  line-height: 1.2;
  font-size: 1rem;
  font-family: 'Open Sans Condensed';
}
/* == Content Headers == */
.veriasist.huge.header {
  min-height: 1em;
  font-size: 2em;
}
.veriasist.large.header {
  font-size: 1.75em;
}
.veriasist.medium.header {
  font-size: 1.33em;
}
.veriasist.small.header {
  font-size: 1.1em;
}
.veriasist.tiny.header {
  font-size: 1em;
}
/* == Types == */
.veriasist.icon.header {
  display: inline-block;
  text-align: center;
}
.veriasist.icon.header .icon {
  float: none;
  display: block;
  font-size: 3em;
  margin: 0em auto 0.2em;
  padding: 0em;
}
.veriasist.icon.header .content {
  display: block;
}
.veriasist.icon.header .circular.icon,
.veriasist.icon.header .square.icon {
  font-size: 2em;
}
.veriasist.block.icon.header .icon {
  margin-bottom: 0em;
}
.veriasist.icon.header.aligned {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.veriasist.disabled.header {
  opacity: 0.5;
}
/* == Variations == */
.veriasist.info.header {
  color: #79C0D8;
}
.veriasist.black.header {
  color: #5C6166;
}
.veriasist.positive.header {
  color: #B2D280;
}
.veriasist.warning.header {
  color: #F0B174;
}
.veriasist.danger.header {
  color: #FA5C4E;
}
.veriasist.purple.header {
  color: #8A3ECA;
}
.veriasist.teal.header {
  color: #3CC9CA;
}
.veriasist.info.dividing.header {
  border-bottom: 3px solid #79C0D8;
}
.veriasist.warning.dividing.header {
  border-bottom: 3px solid #F0B174;
}
.veriasist.black.dividing.header {
  border-bottom: 3px solid #5C6166;
}
.veriasist.positive.dividing.header {
  border-bottom: 3px solid #B2D280;
}
.veriasist.danger.dividing.header {
  border-bottom: 3px solid #FA5C4E;
}
.veriasist.purple.dividing.header {
  border-bottom: 3px solid #8A3ECA;
}
.veriasist.teal.dividing.header {
  border-bottom: 3px solid #3CC9CA;
}
/* == Inverted == */
.veriasist.inverted.header {
  color: #FFFFFF;
}
.veriasist.inverted.header .sub.header {
  color: rgba(255, 255, 255, 0.85);
}
.veriasist.inverted.black.header {
  background-color: #5C6166;
  color: #FFFFFF;
}
.veriasist.inverted.info.header {
  background-color: #79C0D8;
  color: #FFFFFF;
}
.veriasist.inverted.positive.header {
  background-color: #B2D280;
  color: #FFFFFF;
}
.veriasist.inverted.danger.header {
  background-color: #FA5C4E;
  color: #FFFFFF;
}
.veriasist.inverted.warning.header {
  background-color: #F0B174;
  color: #FFFFFF;
}
.veriasist.inverted.purple.header {
  background-color: #8A3ECA;
  color: #FFFFFF;
}
.veriasist.inverted.teal.header {
  background-color: #3CC9CA;
  color: #FFFFFF;
}
.veriasist.inverted.block.header {
  border-bottom: none;
}
/* == Aligned == */

.veriasist.left.aligned.header {
  text-align: left;
}
.veriasist.right.aligned.header {
  text-align: right;
}
.veriasist.center.aligned.header {
  text-align: center;
}
.veriasist.justified.header {
  text-align: justify;
}
.veriasist.justified.header:after {
  display: inline-block;
  content: '';
  width: 100%;
}
/* == Floated == */
.veriasist.floated.header,
.veriasist.left.floated.header {
  float: left;
  margin-top: 0em;
  margin-right: 0.5em;
}
.veriasist.right.floated.header {
  float: right;
  margin-top: 0em;
  margin-left: 0.5em;
}
/* == Fitted == */
.veriasist.fitted.header {
  margin: 0em;
}
/* == Dividing == */
.veriasist.dividing.header {
  padding-bottom: 0.2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.veriasist.dividing.header .sub.header {
  padding-bottom: 0.5em;
}
.veriasist.dividing.header .icon {
  margin-bottom: 0.2em;
}
.veriasist.block.header {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 0.5em 1em;
}
/* == Attached == */
.veriasist.attached.header {
  background-color: #E0E0E0;
  padding: 0.5em 1rem;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
}
.veriasist.top.attached.header {
  margin-bottom: 0em;
  border-radius: 0.3125em 0.3125em 0em 0em;
}
.veriasist.bottom.attached.header {
  margin-top: 0em;
  border-radius: 0em 0em 0.3125em 0.3125em;
}