/* == Images == */
.veriasist.image {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.1);
}
img.veriasist.image {
  background: none;
}
.veriasist.image .caption {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: .8em;
  font-family: 'Open Sans Condensed';
  text-align: center;
  box-shadow: inset 0 1px 0 0 #fff;
  position: relative;
}
.veriasist.image img {
  width: auto;
  max-width: 100%;
  max-height: 100%;
  vertical-align: top;
  border: 0
}
/* == State == */
.veriasist.disabled.image {
  cursor: default;
  opacity: 0.3;
}
/* == Variations == */
.veriasist.basic.image {
  box-shadow: none;
}
.veriasist.rounded.images .image,
.veriasist.rounded.images img,
.veriasist.rounded.image img,
.veriasist.rounded.image {
  border-radius: 0.3125em;
}
.veriasist.circular.images .image,
.veriasist.circular.images img,
.veriasist.circular.image img,
.veriasist.circular.image {
  border-radius: 500rem;
}
.veriasist.fluid.images,
.veriasist.fluid.image,
.veriasist.fluid.images img,
.veriasist.fluid.image img {
  display: block;
  width: 100%;
}
.veriasist.avatar.images .image,
.veriasist.avatar.images img,
.veriasist.avatar.image img,
.veriasist.avatar.image {
  margin-right: 0.5em;
  display: inline-block;
  width: 3em;
  height: 3em;
  border-radius: 500rem;
}
.veriasist.floated.image,
.veriasist.floated.images {
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
}
.veriasist.right.floated.images,
.veriasist.right.floated.image {
  float: right;
  margin-bottom: 1em;
  margin-left: 1em;
}
/* == Size == */
.veriasist.tiny.images .image,
.veriasist.tiny.images img,
.veriasist.tiny.image {
  width: 20px;
  font-size: 0.7rem;
}
.veriasist.mini.images .image,
.veriasist.mini.images img,
.veriasist.mini.image {
  width: 35px;
  font-size: 0.8rem;
}
.veriasist.small.images .image,
.veriasist.small.images img,
.veriasist.small.image {
  width: 80px;
  font-size: 0.9rem;
}
.veriasist.normal.images .image,
.veriasist.normal.images img,
.veriasist.normal.image {
  width: 150px;
  font-size: 0.9rem;
}
.veriasist.medium.images .image,
.veriasist.medium.images img,
.veriasist.medium.image {
  width: 300px;
  font-size: 1rem;
}
.veriasist.large.images .image,
.veriasist.large.images img,
.veriasist.large.image {
  width: 450px;
  font-size: 1.1rem;
}
.veriasist.huge.images .image,
.veriasist.huge.images img,
.veriasist.huge.image {
  width: 600px;
  font-size: 1.2rem;
}
/* == Groups == */
.veriasist.images {
  font-size: 0em;
  margin: 0em -0.25rem 0rem;
}
.veriasist.images .image,
.veriasist.images img {
  display: inline-block;
  margin: 0em 0.25em 0.5em;
}
