/* == Progress == */
.veriasist.progress {
  width: 100%;
  height: 24px;
  background-color: #F5F5F5;
  border-radius: 0.3125em;
  overflow: hidden;
  margin-bottom: 20px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box
}
.veriasist.progress.fitted{
  margin-bottom:0;
  
}
.veriasist.progress .bar {
  display: inline-block;
  height: 24px;
  line-height: 24px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15) inset;
  -webkit-transition: width 1s ease-in-out, background-color 1s ease-out;
  transition: width 1s ease-in-out, background-color 1s ease-out;
  font-size: .85em;
  color: #FFF;
  text-align: center
}
.veriasist.progress.thin {
  height:12px;
  border-radius:.2em
}
/* == Active == */
.veriasist.active.progress .bar {
  position: relative
}
.veriasist.active.progress .bar::after {
  content: '';
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: #FFFFFF;
  border-radius: 3px;
  -webkit-animation: progress-active 2s ease-out infinite;
  animation: progress-active 2s ease-out infinite
}
 @-webkit-keyframes progress-active {
 0% {
 opacity: 0;
 width: 0
}
 50% {
 opacity: 0.3
}
 100% {
 opacity: 0;
 width: 95%
}
}
 @keyframes progress-active {
 0% {
 opacity: 0;
 width: 0
}
 50% {
 opacity: 0.3
}
 100% {
 opacity: 0;
 width: 100%
}
}
/* == Colors == */
.veriasist.info.progress .bar {
  background-color: #79C0D8
}
.veriasist.black.progress .bar {
  background-color: #5C6166
}
.veriasist.success.progress .bar {
  background-color: #B2D280
}
.veriasist.warning.progress .bar {
  background-color: #F0B174
}
.veriasist.danger.progress .bar {
  background-color: #FA5C4E
}
.veriasist.purple.progress .bar {
  background-color: #8A3ECA
}
.veriasist.teal.progress .bar {
  background-color: #3CC9CA
}
/* == Stripped == */
.veriasist.progress.striped .bar {
  -webkit-background-size: 30px 30px;
  background-size: 30px 30px;
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -webkit-linear-gradient(315deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.veriasist.progress.thin.striped .bar {
  -webkit-background-size: 20px 20px;
  background-size: 20px 20px
}
.veriasist.progress.active.striped .bar:after {
  -webkit-animation: none;
  -ms-animation: none;
  animation: none
}
.veriasist.progress.active.striped .bar {
  -webkit-animation: progress-striped 3s linear infinite;
  animation: progress-striped 3s linear infinite
}
 @-webkit-keyframes progress-striped {
 0% {
 background-position: 0px 0
}
 100% {
 background-position: 60px 0
}
}
 @keyframes progress-striped {
 0% {
 background-position: 0px 0
}
 100% {
 background-position: 60px 0
}
}
