html,
body {
  font-size: 14px;
}
body {
  font-family: "Open Sans", sans-serif;
  margin: 0px;
  padding: 0px;
  color: #787878;
  text-rendering: optimizeLegibility;
  font-weight: 400;
  background-color: #F1F1EF;
}
a {
  cursor: pointer;
  color: #62A8DB;
  text-decoration: none;
  -webkit-transition: all .35s ease;
  -moz-transition: all .35s ease;
  -o-transition: all .35s ease;
  transition: all .35s ease;
  outline: none
}
a:hover,
a.hover,
a:focus {
  color: #DBA766;
  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -o-transition: all .35s ease;
  transition: all .55s ease;
  outline: none;
  text-decoration: none
}
h1,
h2.h3.h4,
h5,
h6 {
  font-family: 'Open Sans Condensed';
  font-weight: 600;
}
.id-handle .icon.reorder{cursor:move}
#sidemenu nav {}
#sidemenu .logo {
  height: 5em;
  background-color: #424343;
  z-index: 3
}
#sidemenu .logo a {
  display: block;
  height: 5em;
  text-align: center;
}
#sidemenu .logo a:before {    /* create a full-height inline block pseudo=element */
  content: ' ';
  display: inline-block;
  vertical-align: middle;  /* vertical alignment of the inline element */
  height: 100%;
}
#sidemenu .logo a img {
  display: inlne-block;
  vertical-align: middle;
}
.wrapper {
  margin-top: 5em;
  position: relative;
  /*z-index: 1;*/
  margin-left: 275px;
}
.veriasist-content {
  padding: 1em;
}
.veriasist-large-content {
  padding: 2em;
}
header#header {
  background-color: #424343;
  position: fixed;
  height: 5em;
  width: 100%;
  top: 0;
  padding-left: 275px;
  z-index: 2
}
.usermenu ul {
  display: table;
  height: 5em;
}
.usermenu ul,
.usermenu li {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
.usermenu li {
  display: table-cell;
  vertical-align: middle;
  height: 5em;
  padding-left: .5em;
  padding-right: .5em;
  white-space: nowrap;
}
.usermenu li.welcome {
  color: #fff;
  box-shadow: inset -1px 0 0 0 rgba(0,0,0,0.8);
  background-color: rgba(0,0,0,0.3);
  padding-right: 1em;
}
.usermenu li.welavatar {
  background-color: rgba(0,0,0,0.3);
}
.usermenu li.langmenu {
  background-color: rgba(0,0,0,0.3);
}
header#header .actbuttons {
  float: right;
  margin-top: 1em;
  margin-right: 1em;
}
nav {
  position: relative;
  z-index: 1
}
nav ul,
nav li {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
nav li,
.sublist {
  border-top: 1px solid #E2E4D0;
  box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.6);
  display: block;
  position: relative;
}
nav > ul > li:first-child {
  border-top: 0;
  box-shadow: none;
}
nav ul ul {
  background-color: #E9E9E1;
}
nav li a {
  display: table;
  width: 100%;
  text-shadow: 0 1px 0 #fff
}
nav li a.active i.icon,
nav li a:hover i.icon,
nav li a:hover,
nav li a:hover span {
  -webkit-transition: all .35s ease;
  -moz-transition: all .35s ease;
  -o-transition: all .35s ease;
  transition: all .35s ease;
  outline: none;
  color: #fff;
  text-shadow: none
}
nav li i.icon,
nav li a span {
  display: table-cell;
  padding: .5em;
  vertical-align: middle;
}
nav li i.icon {
  font-size: 2em;
  width: 2em;
  color: #787878;
  text-align: center;
}
nav li a span {
  border-left: 1px solid #E2E4D0;
  box-shadow: inset 1px 0 0 0 rgba(255,255,255,0.6);
  text-transform: uppercase;
  color: #787878;
  font-weight: 600;
  font-family: 'Open Sans Condensed';
  font-size: 1.2em;
}
nav li a.green {
  box-shadow: inset 5px 0 0 0 #6EC586;
}
nav li a.red {
  box-shadow: inset 5px 0 0 0 #DD6160;
}
nav li a.sky {
  box-shadow: inset 5px 0 0 0 #62A8DB;
}
nav li a.purple {
  box-shadow: inset 5px 0 0 0 #9F5ED6;
}
nav li a.blue {
  box-shadow: inset 5px 0 0 0 #676BD9;
}
nav li a.orange {
  box-shadow: inset 5px 0 0 0 #DBA766;
}
nav li a.coral {
  box-shadow: inset 5px 0 0 0 #A46E70;
}
nav li a.teal {
  box-shadow: inset 5px 0 0 0 #70A49B;
}
nav li a.dust {
  box-shadow: inset 5px 0 0 0 #71716F;
}
nav li a.mortar {
  box-shadow: inset 5px 0 0 0 #4F3F50;
}
nav li a.green:hover,
nav li a.green.active i.icon {
  background-color: #6EC586;
}
nav li a.red:hover,
nav li a.red.active i.icon  {
  background-color: #DD6160;
}
nav li a.sky:hover,
nav li a.sky.active i.icon {
  background-color: #62A8DB;
}
nav li a.purple:hover,
nav li a.purple.active i.icon {
  background-color: #9F5ED6;
}
nav li a.blue:hover,
nav li a.blue.active i.icon {
  background-color: #676BD9;
}
nav li a.orange:hover,
nav li a.orange.active i.icon {
  background-color: #DBA766;
}
nav li a.coral:hover,
nav li a.coral.active i.icon {
  background-color: #A46E70;
}
nav li a.teal:hover,
nav li a.teal.active i.icon {
  background-color: #70A49B;
}
nav li a.dust:hover,
nav li a.dust.active i.icon {
  background-color: #71716F;
}
nav li a.mortar:hover,
nav li a.mortar.active i.icon {
  background-color: #4F3F50;
}
#suggestions {
  position: absolute;
  width: 100%;
  z-index: 100
}
#pagination {
  float: right
}
#abc {
  text-align: center
}
.veriasist.small.pagination.menu .item {
 font-size:.8rem;
  font-family: 'Open Sans Condensed';
  font-weight: 600;
}
/* == Menu Tree == */
ul.sortMenu,
.widgetlist {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.sortMenu ul {
  margin-left: 1.5em;
}
#menusort li {
  margin: 5px 0 0;
  padding: 0;
  list-style-type: none;
  color: rgba(0,0,0,0.4);
}
#menusort li a.delete {
  float: right;
  color: #BF5A68
}
#menusort li .icon.reorder {
  margin-right: 1em;
  cursor: move;
  float: left;
  vertical-align: middle;
  line-height: 1.5;
}
#menusort li div {
  margin-bottom: 5px;
  background-color: rgba(0,0,0,0.05);
  border-image: none;
  border-radius: .225em;
  box-shadow:0 -.1rem 0 rgba(0,0,0,0.1) inset;
  text-shadow: 0 1px 0 #fff;
  padding: .5em 1em
}

/* == Scrollbox == */
.scrollbox {
  border: 2px solid #C6C6BF;
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 0.3125em;
}
.scrollbox.borderless {
  border:0;
  border-radius:none;
}
.scrollbox.padded{
  padding:.5em
}
#scroll-icons {
  text-align: center
}
#scroll-icons i {
  color: #787878;
  cursor: pointer;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.2);
  width: 2em;
  height: 2em;
  line-height: 2em;
  -webkit-transition: all .35s ease;
  -moz-transition: all .35s ease;
  -o-transition: all .35s ease;
  transition: all .35s ease;
  margin: .25em
}
#scroll-icons i:hover {
  color: #DBA766;
  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -o-transition: all .35s ease;
  transition: all .55s ease;
  outline: none;
  text-decoration: none
}
#scroll-icons i.active {
  color: #fff;
  background-color: #DBA766
}
.spacegrid {
  text-align: center
}
.spacegrid span {
  display: inline-block;
  width: 2em;
  height: 2em;
  text-align: center;
  font-size: 1.6em;
  line-height: 2;
  font-family: 'Open Sans Condensed';
  font-weight: 600;
  color: #787878;
  cursor: pointer;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.2);
  width: 2em;
  height: 2em;
  line-height: 2em;
  -webkit-transition: all .35s ease;
  -moz-transition: all .35s ease;
  -o-transition: all .35s ease;
  transition: all .35s ease;
  margin: .25em
}
.spacegrid span:hover {
  color: #DBA766;
  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -o-transition: all .35s ease;
  transition: all .55s ease;
  outline: none;
  text-decoration: none
}
.spacegrid span.active {
  color: #fff;
  background-color: #DBA766
}
footer {
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.6);
}
 @media screen and (max-width:1024px) {
.wrapper {
  margin-left: 150px
}
header#header {
  padding-left: 150px
}
nav li a,
nav li a span,
nav li i.icon {
  display: block;
  text-align: center;
}
nav li a.active span {
  color: #fff
}
nav li i.icon {
  width: auto;
  padding-bottom: 0;
  font-size: 1.6em
}
nav li a span {
  padding: 0;
  border-left: 0;
  box-shadow: none;
  font-size: .95em;
  padding-bottom: .5em;
}
nav li a:hover,
nav li a.active,
nav li a:hover span {
  text-shadow: none;
  color: #fff
}
nav li a.green:hover,
nav li a.green.active {
  background-color: #6EC586;
}
nav li a.red:hover,
nav li a.red.active {
  background-color: #DD6160;
}
nav li a.sky:hover,
nav li a.sky.active {
  background-color: #62A8DB;
}
nav li a.purple:hover,
nav li a.purple.active {
  background: #9F5ED6;
}
nav li a.blue:hover,
nav li a.blue.active {
  background-color: #676BD9;
}
nav li a.orange:hover,
nav li a.orange.active {
  background-color: #DBA766;
}
nav li a.coral:hover,
nav li a.coral.active {
  background-color: #A46E70;
}
nav li a.teal:hover,
nav li a.teal.active {
  background-color: #70A49B;
}
nav li a.dust:hover,
nav li a.dust.active {
  background-color: #71716F;
}
nav li a.mortar:hover,
nav li a.mortar.active {
  background-color: #4F3F50;
}
}
@media screen and (max-width:769px) {
.wrapper {
  margin-left: 60px;
}
nav li a span,
.usermenu li.welcome {
  display: none
}
nav li i.icon {
  width: 60px;
  font-size: 2em;
  padding: .5em
}
header#header {
  padding-left: 60px
}
}
