/* == Table == */
.veriasist.table {
  width: 100%;
  border-collapse: collapse;
}
.veriasist.table th,
.veriasist.table tr,
.veriasist.table td {
  border-collapse: collapse;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .1s ease-out;
  transition: all .1s ease-out;
}
/* == Headers == */
.veriasist.table thead {
  border-bottom: 2px solid rgba(0,0,0,0.1);
}
.veriasist.table tfoot th {
  background-color: rgba(0,0,0,0.03);
}
.veriasist.table th {
  cursor: auto;
  font-family: 'Open Sans Condensed';
  background-color: rgba(233,233,225,0.7);
  text-align: left;
  color: rgba(0,0,0,0.5);
  padding: .8em 1em;
  vertical-align: middle;
  text-shadow: 0 1px 0 #fff
}
.veriasist.table thead th:first-child {
  border-radius: .325em 0 0 0;
}
.veriasist.table thead th:last-child {
  border-radius: 0 .325em 0 0;
}
.veriasist.table tfoot th:first-child {
  border-radius: 0 0 0 .325em;
}
.veriasist.table tfoot th:last-child {
  border-radius: 0 0 .325em 0;
}
/* == Cells == */
.veriasist.table td {
  padding: .8em 1em;
  vertical-align: middle;
  box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.6);
  border-top: 1px solid #E2E4D0;
}
/* == Footer == */
.veriasist.table tfoot {
  border-top: 1px solid rgba(0,0,0,0.03);
}
.veriasist.table tfoot th {
  font-weight: 400;
  font-style: italic;
}
/* == Stripping == */
.veriasist.table tbody tr:nth-child(2n) {
  background-color: rgba(241,242,234,1);
}
.veriasist.table > .icon {
  vertical-align: baseline;
}
.veriasist.table > .icon:only-child {
  margin: 0;
}
/* == Segment == */
.veriasist.table.segment:after {
  display: none;
}
.veriasist.table.segment.stacked:after {
  display: block;
}
/* == Sortable == */
.veriasist.sortable.table th.disabled:hover {
  cursor: auto;
  font-weight: 600;
  color: rgba(0,0,0,0.5);
  background-color: rgba(233,233,225,0.7);
}
.veriasist.sortable.table thead th:hover {
  background-color: rgba(228,228,220,1);
  color: rgba(0,0,0,0.8);
}
/* == States == */
.veriasist.table tr.positive,
.veriasist.table td.positive {
  -webkit-box-shadow: 3px 0 0 0 rgba(0,0,0,0.15) inset;
  box-shadow: 3px 0 0 0 rgba(0,0,0,0.15) inset;
}
.veriasist.table tr.positive td,
.veriasist.table td.positive {
  background-color: #a9d5be;
  color: #3e7558;
}
.veriasist.celled.table tr.positive:hover td,
.veriasist.celled.table tr:hover td.positive,
.veriasist.table tr.positive:hover td,
.veriasist.table td:hover.positive,
.veriasist.table th:hover.positive {
  background-color: #88c4a4;
  color: #3e7558;
}
.veriasist.table tr.negative,
.veriasist.table td.negative {
  -webkit-box-shadow: 3px 0 0 0 rgba(0,0,0,0.15) inset;
  box-shadow: 3px 0 0 0 rgba(0,0,0,0.15) inset;
}
.veriasist.table tr.negative td,
.veriasist.table td.negative {
  background-color: #d6909a;
  color: #6d2d36;
}
.veriasist.celled.table tr.negative:hover td,
.veriasist.celled.table tr:hover td.negative,
.veriasist.table tr.negative:hover td,
.veriasist.table td:hover.negative,
.veriasist.table th:hover.negative {
  background-color: #c76c78;
  color: #6d2d36;
}
.veriasist.table tr.error,
.veriasist.table td.error {
  -webkit-box-shadow: 3px 0 0 0 rgba(0,0,0,0.15) inset;
  box-shadow: 3px 0 0 0 rgba(0,0,0,0.15) inset;
}
.veriasist.table tr.error td,
.veriasist.table td.error,
.veriasist.table th.error {
  background-color: #d6909a;
  color: #6d2d36;
}
.veriasist.celled.table tr.error:hover td,
.veriasist.celled.table tr:hover td.error,
.veriasist.table tr.error:hover td,
.veriasist.table td:hover.error,
.veriasist.table th:hover.error {
  background-color: #c76c78;
  color: #6d2d36;
}
.veriasist.table tr.warning,
.veriasist.table td.warning {
  -webkit-box-shadow: 3px 0 0 0 rgba(0,0,0,0.15) inset;
  box-shadow: 3px 0 0 0 rgba(0,0,0,0.15) inset;
}
.veriasist.table tr.warning td,
.veriasist.table td.warning,
.veriasist.table th.warning {
  background-color: #fedd8c;
  color: #ba8505;
}
.veriasist.celled.table tr.warning:hover td,
.veriasist.celled.table tr:hover td.warning,
.veriasist.table tr.warning:hover td,
.veriasist.table td:hover.warning,
.veriasist.table th:hover.warning {
  background-color: #fdce5a;
  color: #ba8505;
}
.veriasist.table tr.info,
.veriasist.table td.info {
  -webkit-box-shadow: 3px 0 0 0 rgba(0,0,0,0.15) inset;
  box-shadow: 3px 0 0 0 rgba(0,0,0,0.15) inset;
}
.veriasist.table tr.info td,
.veriasist.table td.info {
  background-color: #bed3ea;
  color: #3a6da2;
}
.veriasist.celled.table tr.info:hover td,
.veriasist.celled.table tr:hover td.info,
.veriasist.table tr.info:hover td,
.veriasist.table td:hover.info,
.veriasist.table th:hover.info {
  background-color: #98badd;
  color: #3a6da2;
}
.veriasist.table tr.active,
.veriasist.table td.active {
  -webkit-box-shadow: 2px 0 0 rgba(50,50,50,0.9) inset;
  box-shadow: 2px 0 0 rgba(50,50,50,0.9) inset;
}
.veriasist.table tr.active td,
.veriasist.table tr td.active {
  background-color: #E0E0E0;
  color: rgba(50,50,50,0.9);
}
.veriasist.table tr.disabled td,
.veriasist.table tr td.disabled,
.veriasist.table tr.disabled:hover td,
.veriasist.table tr:hover td.disabled {
  color: rgba(150,150,150,0.3);
}
/* == Variations == */
.veriasist.two.cols.table td {
  width: 50%;
}
.veriasist.three.cols.table td {
  width: 33.3333%;
}
.veriasist.four.cols.table td {
  width: 25%;
}
.veriasist.five.cols.table td {
  width: 20%;
}
.veriasist.six.cols.table td {
  width: 16.66667%;
}
.veriasist.seven.cols.table td {
  width: 14.2857%;
}
.veriasist.eight.cols.table td {
  width: 12.5%;
}
.veriasist.nine.cols.table td {
  width: 11.1111%;
}
.veriasist.ten.cols.table td {
  width: 10%;
}
.veriasist.eleven.cols.table td {
  width: 9.0909%;
}
.veriasist.twelve.cols.table td {
  width: 8.3333%;
}
.veriasist.thirteen.cols.table td {
  width: 7.6923%;
}
.veriasist.fourteen.cols.table td {
  width: 7.1428%;
}
.veriasist.fifteen.cols.table td {
  width: 6.6666%;
}
.veriasist.sixteen.cols.table td {
  width: 6.25%;
}
/* == Column Width == */
.veriasist.table th.one.wide,
.veriasist.table td.one.wide {
  width: 6.25%;
}
.veriasist.table th.two.wide,
.veriasist.table td.two.wide {
  width: 12.5%;
}
.veriasist.table th.three.wide,
.veriasist.table td.three.wide {
  width: 18.75%;
}
.veriasist.table th.four.wide,
.veriasist.table td.four.wide {
  width: 25%;
}
.veriasist.table th.five.wide,
.veriasist.table td.five.wide {
  width: 31.25%;
}
.veriasist.table th.six.wide,
.veriasist.table td.six.wide {
  width: 37.5%;
}
.veriasist.table th.seven.wide,
.veriasist.table td.seven.wide {
  width: 43.75%;
}
.veriasist.table th.eight.wide,
.veriasist.table td.eight.wide {
  width: 50%;
}
.veriasist.table th.nine.wide,
.veriasist.table td.nine.wide {
  width: 56.25%;
}
.veriasist.table th.ten.wide,
.veriasist.table td.ten.wide {
  width: 62.5%;
}
.veriasist.table th.eleven.wide,
.veriasist.table td.eleven.wide {
  width: 68.75%;
}
.veriasist.table th.twelve.wide,
.veriasist.table td.twelve.wide {
  width: 75%;
}
.veriasist.table th.thirteen.wide,
.veriasist.table td.thirteen.wide {
  width: 81.25%;
}
.veriasist.table th.fourteen.wide,
.veriasist.table td.fourteen.wide {
  width: 87.5%;
}
.veriasist.table th.fifteen.wide,
.veriasist.table td.fifteen.wide {
  width: 93.75%;
}
.veriasist.table th.sixteen.wide,
.veriasist.table td.sixteen.wide {
  width: 100%;
}
/* == Celled == */
.veriasist.celled.table {
  color: rgba(0,0,0,0.8);
}
.veriasist.celled.table tbody tr,
.veriasist.celled.table tfoot tr {
  border: none;
}
.veriasist.celled.table th,
.veriasist.celled.table td {
  border: 1px solid rgba(0,0,0,0.1);
}
.veriasist.celled.table th {
  border-top: 0;
  box-shadow: inset 1px 0 0 0 rgba(255,255,255,0.6);
}
.veriasist.celled.table tfoot td {
  border-bottom: 0;
}
/* == Coupling == */
.veriasist.celled.table.segment th:first-child,
.veriasist.celled.table.segment td:first-child {
  border-left: none;
  box-shadow: none;
}
.veriasist.celled.table.segment th:last-child,
.veriasist.celled.table.segment td:last-child {
  border-right: none;
}
/* == Sortable == */
.veriasist.sortable.table thead th {
  cursor: pointer;
  white-space: nowrap;
}
.veriasist.sortable.table thead th.asc,
.veriasist.sortable.table thead th.desc {
  background-color: rgba(228,228,220,1);
}
.veriasist.sortable.table thead th.asc:hover,
.veriasist.sortable.table thead th.desc:hover {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.veriasist.sortable.table thead th:after {
  display: inline-block;
  width: 1em;
  opacity: 0.5;
  margin: 0 0 0 .5em;
  font-family: Icons;
  content: '\f0dc';
  font-style: normal;
  font-weight: 400;
  text-decoration: inherit;
}
.veriasist.sortable.table thead th.asc:after {
  content: '\f0de';
}
.veriasist.sortable.table thead th.desc:after {
  content: '\f0dd';
}
.veriasist.sortable.table th.disabled:after {
  content: '';
}
.veriasist.sortable.table td.handle {
  background-color: rgba(0,0,0,0.03);
  cursor: move;
}
/* == Collapsing == */
.veriasist.collapsing.table {
  width: auto;
}
/* == Basic == */
.veriasist.basic.table th {
  background-color: transparent;
  padding: .5em;
}
.veriasist.basic.table tbody tr {
  border-bottom: 1px solid rgba(0,0,0,0.03);
}
.veriasist.basic.table td {
  padding: .8em .5em;
}
.veriasist.basic.table tbody tr:nth-child(2n) {
  background-color: transparent;
}
/* == Padded == */
.veriasist.padded.table th,
.veriasist.padded.table td {
  padding: .8em 1em;
}
.veriasist.compact.table th {
  padding: .3em .5em;
}
.veriasist.compact.table td {
  padding: .2em .5em;
}
/* == Sizes == */
.veriasist.small.table {
  font-size: .875em;
}
.veriasist.table {
  font-size: 1em;
}
.veriasist.large.table {
  font-size: 1.1em;
}
/* == Responsive == */
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .veriasist.table {
    display: block;
    padding: 0;
  }
  .veriasist.table thead {
    display: none;
  }
  .veriasist.table tbody,
  .veriasist.table tfoot {
    display: block;
  }
  .veriasist.table tr {
    display: block;
  }
  .veriasist.table tr > td {
    width: 100%;
    display: block;
    border: none;
    padding: .25em .75em;
    -webkit-box-shadow: 0 1px 0 0 rgba(0,0,0,0.05);
    box-shadow: 0 1px 0 0 rgba(0,0,0,0.05);
  }
  .veriasist.table td:first-child {
    font-weight: 700;
    padding-top: 1em;
  }
  .veriasist.table td:last-child {
    -webkit-box-shadow: 0 -1px 0 0 rgba(0,0,0,0.1) inset;
    box-shadow: 0 -1px 0 0 rgba(0,0,0,0.1) inset;
    padding-bottom: 1em;
  }
  .veriasist.basic.table td:first-child {
    font-weight: 400;
  }
  .veriasist.basic.table td:last-child {
    -webkit-box-shadow:none;
    box-shadow:none;
    padding-bottom: 1em;
  }
  .veriasist.celled.table td {
    border: 0;
  }
  .veriasist.table *[class*="hide-"] {
    display: none;
  }
   .veriasist.table tr > td.warning,
   .veriasist.table tr > td.error,
   .veriasist.table tr > td.active,
   .veriasist.table tr > td.positive,
   .veriasist.table tr > td.info,
   .veriasist.table tr > td.negative {
    background-color: transparent;
  }
}
