/* == List == */
ul.veriasist.list,
ol.veriasist.list,
.veriasist.list {
  list-style-type: none;
  margin: 1em 0;
  padding: 0
}
ul.veriasist.list ul,
ol.veriasist.list ol,
.veriasist.list .list {
  margin: 0;
  padding: .5em 0 .5em 1em
}
ul.veriasist.list:first-child,
ol.veriasist.list:first-child,
.veriasist.list:first-child {
  margin-top: 0
}
ul.veriasist.list:last-child,
ol.veriasist.list:last-child,
.veriasist.list:last-child {
  margin-bottom: 0
}
/* == Content == */
ul.veriasist.list li,
ol.veriasist.list li,
.veriasist.list .item {
  display: list-item;
  list-style-type: none;
  list-style-position: inside;
  padding: .5em 0;
  line-height: 1.2
}
.veriasist.list .item:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden
}
.veriasist.list .list {
  clear: both
}
/* == Icon == */
.veriasist.list .item > .icon {
  display: block;
  float: left;
  margin: 0 1em 0 0;
  padding: .1em 0 0
}
.veriasist.list .item > .icon:only-child {
  display: inline-block
}
.veriasist.horizontal.list .item > .icon {
  margin: 0;
  padding: 0 .25em 0 0
}
.veriasist.horizontal.list .item > .icon,
.veriasist.horizontal.list .item > .icon + .content {
  float: none;
  display: inline-block
}
/* == Image == */
.veriasist.list .item > img {
  display: block;
  float: left;
  margin-right: 1em;
  vertical-align: middle
}
.veriasist.list .item > .content {
  display: inline-block;
  vertical-align: middle;
  line-height: 1.2
}
.veriasist.list .item > .icon + .content {
  display: table-cell;
  vertical-align: top
}
.veriasist.list a {
  cursor: pointer
}
.veriasist.list a .icon {
  -webkit-transition: color .2s ease;
  transition: color .2s ease
}
.veriasist.list .header {
  font-weight: 700;
}
.veriasist.list .description {
  color: rgba(0,0,0,0.5);
  margin-top:.25em;
}
.veriasist.list .item > .left.floated {
  margin-right: 1em;
  float: left
}
.veriasist.list .item > .right.floated {
  margin-left: 1em;
  float: right
}
/* == Types == */
.veriasist.horizontal.list {
  display: inline-block;
  font-size: 0
}
.veriasist.horizontal.list > .item {
  display: inline-block;
  margin-left: 1em;
  font-size: 1rem
}
.veriasist.horizontal.list > .item:first-child {
  margin-left: 0
}
.veriasist.horizontal.list .list {
  padding-left: 0;
  padding-bottom: 0
}
.veriasist.list a:hover .icon {
  color: rgba(0,0,0,0.8)
}
/* == Link == */
.veriasist.link.list .item {
  color: rgba(0,0,0,0.3)
}
.veriasist.link.list a.item,
.veriasist.link.list .item a {
  color: rgba(0,0,0,0.5)
}
.veriasist.link.list a.item:hover,
.veriasist.link.list .item a:hover {
  color: rgba(0,0,0,0.8)
}
.veriasist.link.list a.item:active,
.veriasist.link.list .item a:active {
  color: rgba(0,0,0,0.8)
}
.veriasist.link.list a.active.item,
.veriasist.link.list .active.item a {
  color: rgba(0,0,0,0.8)
}
/* == Selection == */
.veriasist.selection.list .item {
  cursor: pointer;
  color: rgba(0,0,0,0.4);
  padding: .5em;
  -webkit-transition: .2s color ease, .2s padding-left ease, .2s background-color ease;
  transition: .2s color ease, .2s padding-left ease, .2s background-color ease
}
.veriasist.selection.list .item:hover {
  background-color: rgba(0,0,0,0.02);
  color: rgba(0,0,0,0.7)
}
.veriasist.selection.list .item:active {
  background-color: rgba(0,0,0,0.05);
  color: rgba(0,0,0,0.7)
}
.veriasist.selection.list .item.active,
.veriasist.divided.list .item.active {
  background-color: rgba(0,0,0,0.04);
  color: rgba(0,0,0,0.7)
}
.veriasist.animated.list .item {
  -webkit-transition: .2s color ease, .2s padding-left ease, .2s background-color ease;
  transition: .2s color ease, .2s padding-left ease, .2s background-color ease
}
.veriasist.animated.list:not(.horizontal) .item:hover {
  padding-left: 1em
}
.veriasist.animated.list:not(.horizontal) .item:hover .item:hover {
  padding-left: .5em
}
/* == Bulleted == */
ul.veriasist.list,
.veriasist.bulleted.list {
  margin-left: 1.5em
}
ul.veriasist.list li,
.veriasist.bulleted.list .item {
  position: relative
}
ul.veriasist.list li:before,
.veriasist.bulleted.list .item:before {
  position: absolute;
  left: -1.5em;
  content: '•';
  line-height: 1.2rem;
  vertical-align: top
}
ul.veriasist.list ul,
.veriasist.bulleted.list .list {
  padding-left: 1.5em
}
ul.veriasist.horizontal.bulleted.list,
.veriasist.horizontal.bulleted.list {
  margin-left: 0
}
ul.veriasist.horizontal.bulleted.list li,
.veriasist.horizontal.bulleted.list .item {
  margin-left: 1.5em
}
ul.veriasist.horizontal.bulleted.list li:before,
.veriasist.horizontal.bulleted.list .item:before {
  left: -.9em
}
ul.veriasist.horizontal.bulleted.list li:first-child,
.veriasist.horizontal.bulleted.list .item:first-child {
  margin-left: 0
}
ul.veriasist.horizontal.bulleted.list li:first-child::before,
.veriasist.horizontal.bulleted.list .item:first-child::before {
  display: none
}
/* == Ordered == */
ol.veriasist.list,
.veriasist.ordered.list {
  counter-reset: ordered;
  margin-left: 2em;
  list-style-type: none
}
ol.veriasist.list li,
.veriasist.ordered.list .item {
  list-style-type: none;
  position: relative
}
ol.veriasist.list li:before,
.veriasist.ordered.list .item:before {
  position: absolute;
  left: -2em;
  counter-increment: ordered;
  content: counters(ordered, ".");
  text-align: right;
  vertical-align: top;
  opacity: 0.75
}
ol.veriasist.list ol,
.veriasist.ordered.list .list {
  counter-reset: ordered;
  padding-left: 2.5em
}
ol.veriasist.list ol li:before,
.veriasist.ordered.list .list .item:before {
  left: -2.5em
}
ol.veriasist.horizontal.list,
.veriasist.ordered.horizontal.list {
  margin-left: 0
}
ol.veriasist.horizontal.list li:before,
.veriasist.ordered.horizontal.list .item:before {
  position: static;
  margin: 0 .5em 0 0
}
/* == Divided == */
.veriasist.divided.list > .item,
.veriasist.divided.list:not(.horizontal) > .list {
  border-top: 1px solid rgba(0,0,0,0.1);
  padding-left: .5em;
  padding-right: .5em
}
.veriasist.divided.list .item .menu .item {
  border-width: 0
}
.veriasist.divided.list .item:first-child {
  border-top-width: 0
}
.veriasist.divided.list:not(.horizontal) .list {
  margin-left: -.5em;
  margin-right: -.5em
}
.veriasist.divided.list:not(.horizontal) .list .item {
  padding-left: 1em;
  padding-right: 1em
}
.veriasist.divided.list:not(.horizontal) .list .item:first-child {
  border-top-width: 1px
}
.veriasist.divided.bulleted.list {
  margin-left: 0
}
.veriasist.divided.bulleted.list .item {
  padding-left: 1.5em
}
.veriasist.divided.bulleted.list .item:before {
  left: .5em
}
.veriasist.divided.ordered.list {
  margin-left: 0
}
.veriasist.divided.ordered.list > .item {
  padding-left: 2em;
  padding-right: 2em
}
.veriasist.divided.ordered.list > .item:before {
  left: .5em
}
.veriasist.divided.ordered.list .item .list {
  margin-left: -2em;
  margin-right: -2em
}
.veriasist.divided.horizontal.list {
  margin-left: 0
}
.veriasist.divided.horizontal.list > .item {
  border-top: none;
  border-left: 1px solid rgba(0,0,0,0.1);
  margin: 0;
  padding-left: .75em;
  padding-right: .75em;
  line-height: 0.6
}
.veriasist.horizontal.divided.list > .item:first-child {
  border-left: none;
  padding-left: 0
}
/* == Celled == */
.veriasist.celled.list > .item,
.veriasist.celled.list > .list {
  border-top: 1px solid rgba(0,0,0,0.1);
  padding-left: .5em;
  padding-right: .5em
}
.veriasist.celled.list > .item:last-child {
  border-bottom: 1px solid rgba(0,0,0,0.1)
}
.veriasist.celled.list .item .list {
  margin-left: -.5em;
  margin-right: -.5em
}
.veriasist.celled.list .item .list .item {
  border-width: 0
}
.veriasist.celled.list .list .item:first-child {
  border-top-width: 0
}
.veriasist.celled.bulleted.list {
  margin-left: 0
}
.veriasist.celled.bulleted.list > .item {
  padding-left: 1.5em
}
.veriasist.celled.bulleted.list > .item:before {
  left: .5em
}
.veriasist.celled.ordered.list {
  margin-left: 0
}
.veriasist.celled.ordered.list .item {
  padding-left: 2em;
  padding-right: 2em
}
.veriasist.celled.ordered.list .item:before {
  left: .5em
}
.veriasist.celled.ordered.list .item .list {
  margin-left: -2em;
  margin-right: -2em
}
.veriasist.horizontal.celled.list {
  margin-left: 0
}
.veriasist.horizontal.celled.list .item {
  border-top: none;
  border-left: 1px solid rgba(0,0,0,0.1);
  margin: 0;
  padding-left: .75em;
  padding-right: .75em;
  line-height: 0.6
}
.veriasist.horizontal.celled.list .item:last-child {
  border-bottom: none;
  border-right: 1px solid rgba(0,0,0,0.1)
}
/* == Grid List == */	
.veriasist.grid {
  position: relative;
  overflow: hidden;
  width: 100%/*
  position: relative;
  z-index: 1;
  left: 0;
  width: 100%;
  top: 0;
  */
}
.veriasist.grid > .item {
  background-color: #F7F6F2;
  -webkit-box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.05);
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.05);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.5em;
}
.veriasist.grid > .item img {
  padding: 1px;
}
.veriasist.grid.fitted > .item {
  padding: 0;
}
.veriasist.grid > .item > .veriasist.label {
  font-size: 1.4em
}
/* == Relaxed == */
.veriasist.relaxed.list:not(.horizontal) .item {
  padding-top: .5em;
  padding-bottom: .5em
}
.veriasist.relaxed.list .header {
  margin-bottom: .25em
}
.veriasist.horizontal.relaxed.list .item {
  padding-left: 1.25em;
  padding-right: 1.25em
}
.veriasist.very.relaxed.list:not(.horizontal) .item {
  padding-top: 1em;
  padding-bottom: 1em
}
.veriasist.very.relaxed.list .header {
  margin-bottom: .5em
}
.veriasist.horizontal.very.relaxed.list .item {
  padding-left: 2em;
  padding-right: 2em
}
/* == Sortable == */
ul.veriasist.sortable {
  min-height: 100px;
}
ul.veriasist.sortable,
ul.veriasist.sortable li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.veriasist.sortable li,
.veriasist.sortable > .list {
  margin-bottom: 5px;
  padding: .5em 1em;
  list-style-type: none;
  color: rgba(0,0,0,0.4);
  background-color: rgba(0,0,0,0.05);
  box-shadow:0 -.2rem 0 rgba(0,0,0,0.1) inset;
  text-shadow: 0 1px 0 #fff;
  border-radius: .225em;
}
ul.veriasist.sortable li:before {
    content: "";
    left: 0;
}
ul.veriasist.sortable li:last-child,
.veriasist.sortable list:last-child {
  margin-bottom: 0
}
ul.veriasist.sortable li a {
  display: inline-block;
}
.veriasist.sortable a.list {
  display: block;
}
.veriasist.sortable a.list:hover {
  background-color: #EDAA10;
  text-shadow: none;
  color: #fff;
}
ul.veriasist.sortable li .icon.reorder {
  opacity: .75;
  margin-right: .5em;
  cursor: move;
}
.placeholder {
  background-color: #FFC!important;
  border: 1px solid #FC9;
  height: 32px;
}
/* == Sizes == */
.veriasist.mini.list .item {
font-size:.7rem
}
.veriasist.tiny.list .item {
font-size:.8125rem
}
.veriasist.small.list .item {
font-size:.875rem
}
.veriasist.list .item {
  font-size: 1em
}
.veriasist.large.list .item {
  font-size: 1.125rem
}
.veriasist.big.list .item {
  font-size: 1.25rem
}
.veriasist.huge.list .item {
  font-size: 1.375rem
}
.veriasist.massive.list .item {
  font-size: 1.5rem
}
/* == Modal Filegrid == */
.filegrid {
  position: relative
}
.filegrid,
.filegrid li {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
.filegrid li a {
  box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1);
  line-height: 0;
  padding: .25em;
  margin: .25em;
  display: block;
}

.filegrid.alt li  {
  float: left;
  width: 146px;
  height: 121px;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
  margin:2px;
}
.filegrid li a {
  box-shadow:none;
  padding:0;
  margin:0;
  line-height:125px
}
.filegrid li a img{
  vertical-align: middle;
}