/* == Messge == */
.veriasist.message {
  position: relative;
  min-height: 18px;
  margin: 1em 0;
  height: auto;
  background-color: rgba(0, 0, 0, 0.025);
  padding: 1em;
  line-height: 1.33;
  color: rgba(0,0,0,0.6);
  box-shadow: inset 0 -2px 0 0 rgba(0,0,0,0.15);
  -webkit-transition: opacity .1s ease, color .1s ease, background .1s ease, 0 .1s ease;
  transition: opacity .1s ease, color .1s ease, background .1s ease, box-shadow .1s ease;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: .325em;
}
/* == Notices == */
#veriasist-overlay {
  position: fixed;
  top: 45%;
  right: 10px;
  max-width: 350px;
  z-index: 9999;
}
.veriasist.message.notice {
  border-radius: .225em;
  box-shadow: 6px 6px 0 0 rgba(0,0,0,0.08),  inset 5px 0 0 0 rgba(0,0,0,0.3),  inset 6px 0 0 0 rgba(255,255,255,0.15);
  margin-top: 1px;
  margin-bottom: 0;
}
.veriasist.message.notice span {
  font-weight: 600;
  font-family: 'Open Sans Condensed';
}
.veriasist.message.notice p {
  margin-top: 0;
}
.veriasist.message.notice a.notice-close {
  opacity:0;
}
.veriasist.message.notice:hover a.notice-close{
  opacity: 1;
}
.veriasist.message.notice i.icon.close {
  position: absolute;
  right: 1em;
  top: .5em;
  color: rgba(255,255,255,0.8)
}
.veriasist.message.notice.success {
  background-color: #444;
  color: #B2D280;
}
.veriasist.message.notice.info {
  background-color: #444;
  color: #BED3EA
}
.veriasist.message.notice.warning {
  background-color: #444;
  color: #FEDD8C
}
.veriasist.message.notice.error {
  background-color: #444;
  color: #d6909a
}
.veriasist.message:first-child {
  margin-top: 0
}
.veriasist.message:last-child {
  margin-bottom: 0
}
.veriasist.message.basic.notice {
  box-shadow:inset 5px 0 0 0 rgba(0,0,0,0.3);
}

/* == Content == */
.veriasist.message .header {
  margin: 0;
  font-size: 1.35em;
  font-weight: 700;
  font-family: 'Open Sans Condensed'
}
.veriasist.message p {
  margin: 1em 0
}
.veriasist.message p:first-child {
  margin-top: 0
}
.veriasist.message p:last-child {
  margin-bottom: 0
}
.veriasist.message .header + p {
  margin-top: .3em
}
.veriasist.message > :first-child {
  margin-top: 0
}
.veriasist.message > :last-child {
  margin-bottom: 0
}
.veriasist.message ul.list {
  list-style-position: inside;
  margin: .2em 0;
  padding: 0
}
.veriasist.message ul.list li:first-child{
  margin-top:.5em
}
.veriasist.message ul.list li {
  position: relative;
  list-style-type: none;
  margin: 0 0 .3em 1em;
  padding: 0;
  font-weight: 600;
  font-family: 'Open Sans Condensed'
}
.veriasist.message ul.list li:before {
  position: absolute;
  content: '\2022';
  top: -.05em;
  left: -.8em;
  height: 100%;
  vertical-align: baseline;
  opacity: 0.5
}
/* == Dismissable == */
.veriasist.message > .close.icon {
  cursor: pointer;
  position: absolute;
  top: 1em;
  right: 1em;
  opacity: 0.7;
  -webkit-transition: opacity .1s linear;
  transition: opacity .1s linear
}
.veriasist.message > .close.icon:hover {
  opacity: 1
}
/* == Variations == */
.veriasist.compact.message {
  display: inline-block
}
.veriasist.attached.message {
  margin-left: -1px;
  margin-right: -1px;
  margin-bottom: -1px;
  border-radius: .325em .325em 0 0;
  -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.1) inset;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.1) inset
}
.veriasist.attached + .veriasist.attached.message:not(.top):not(.bottom) {
  margin-top: -1px;
  border-radius: 0
}
.veriasist.bottom.attached.message {
  margin-top: -1px;
  border-radius: 0 0 .325em .325em
}
.veriasist.bottom.attached.message:not(:last-child) {
  margin-bottom: 1em
}
.veriasist.attached.icon.message {
  display: block;
  width: auto
}
.veriasist.icon.message {
  display: table;
  width: 100%
}
.veriasist.icon.heading.message {
  margin: 0;
  box-shadow: none;
  background-color: #F7F6F2;
  border-bottom: 1px solid #CCCBBF;
  border-radius:0
}
.veriasist.icon.heading.message.green {
  box-shadow:inset 0 6px 0 0 #6EC586;
}
.veriasist.icon.heading.message.purple {
  box-shadow:inset 0 6px 0 0 #9F5ED6;
}
.veriasist.icon.heading.message.orange {
  box-shadow:inset 0 6px 0 0 #DBA766;
}
.veriasist.icon.heading.message.dust {
  box-shadow:inset 0 6px 0 0 #71716F;
}
.veriasist.icon.heading.message.blue {
  box-shadow:inset 0 6px 0 0 #676BD9;
}
.veriasist.icon.heading.message.sky {
  box-shadow:inset 0 6px 0 0 #62A8DB;
}
.veriasist.icon.heading.message.coral {
  box-shadow:inset 0 6px 0 0 #A46E70;
}
.veriasist.icon.heading.message.teal {
  box-shadow:inset 0 6px 0 0 #70A49B;
}
.veriasist.icon.heading.message.mortar {
  box-shadow:inset 0 6px 0 0 #4F3F50;
}
.veriasist.icon.heading.message:before, .veriasist.icon.heading.message:after {
	content: "";
	position: absolute;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	top: 100%;
	left: 50px;
	margin-left: -10px;
}

.veriasist.icon.heading.message:before {
	border-top: 10px solid #CCCBBF;
	border-top: 10px solid #CCCBBF;
	margin-top:0px;
}

.veriasist.icon.heading.message:after{
	border-top: 10px solid #F7F6F2;
	margin-top: -1px;
	z-index: 1;
}
.veriasist.icon.heading.message > .icon:not(.close) {
  font-size:2em;
  opacity: 0.75;
  vertical-align: top;
}
.veriasist.icon.message > .icon:not(.close) {
  display: table-cell;
  vertical-align: middle;
  font-size: 4em;
  opacity: 0.75
}
.veriasist.icon.message a.helper{
  font-size:2em;
  line-height:1
}
.veriasist.icon.message > .icon + .content {
  padding-left: 1em
}
.veriasist.icon.message > .content {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}
.veriasist.inverted.message {
  background-color: rgba(255,255,255,0.05);
  color: rgba(255,255,255,0.95)
}
.veriasist.floating.message {
  -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1), 0 0 0 1px rgba(0,0,0,0.05) inset;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1), 0 0 0 1px rgba(0,0,0,0.05) inset
}
/* == Colors == */
.veriasist.black.message,
.veriasist.inverted.message {
  background-color: #5C6166;
  color: rgba(255,255,255,0.95);
}
.veriasist.info.message {
  background-color: #bed3ea;
  color: #3a6da2;
}
.veriasist.warning.message {
  background-color: #fedd8c;
  color: #ba8505;
}
.veriasist.success.message,
.veriasist.positive.message {
  background-color: #a9d5be;
  color: #3e7558;
}
.veriasist.error.message,
.veriasist.negative.message {
  background-color: #d6909a;
  color: #6d2d36;
}
.veriasist.inverted.message .header,
.veriasist.black.message .header {
}
.veriasist.info.message .header,
.veriasist.warning.message .header,
.veriasist.success.message .header,
.veriasist.positive.message .header,
.veriasist.error.message .header,
.veriasist.negative.message .header {
}
/* == Size == */
.veriasist.small.message {
  font-size: .875em
}
.veriasist.message {
  font-size: 1em
}
.veriasist.large.message {
  font-size: 1.125em
}
.veriasist.huge.message {
  font-size: 1.5em
}
.veriasist.massive.message {
  font-size: 2em
}