/* == Segment == */
.veriasist.segment {
  position: relative;
  background-color: rgba(0, 0, 0, 0.025);
  -webkit-box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.05);
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.05);
  margin: 1em 0;
  padding: 1em;
  border-radius: .225em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.veriasist.segment:first-child {
  margin-top: 0
}
.veriasist.segment:last-child {
  margin-bottom: 0
}
.veriasist.segment:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden
}
.veriasist.segment > :first-child {
  margin-top: 0
}
.veriasist.segment > :last-child {
  margin-bottom: 0
}
.veriasist.segment > .content {
  padding: 1em
}
/* == Types == */
.veriasist.piled.segment {
  margin: 2em 0;
  -webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,0.15);
  -ms-box-shadow: 0 0 1px 1px rgba(0,0,0,0.15);
  -o-box-shadow: 0 0 1px 1px rgba(0,0,0,0.15);
  box-shadow: 0 0 1px 1px rgba(0,0,0,0.15)
}
.veriasist.piled.segment:first-child {
  margin-top: 0
}
.veriasist.piled.segment:last-child {
  margin-bottom: 0
}
.veriasist.piled.segment:after,
.veriasist.piled.segment:before {
  background-color: #FFF;
  visibility: visible;
  content: "";
  display: block;
  height: 100%;
  left: -1px;
  position: absolute;
  width: 100%;
  -webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,0.1);
  box-shadow: 0 0 1px 1px rgba(0,0,0,0.1)
}
.veriasist.piled.segment:after {
  -webkit-transform: rotate(1.2deg);
  -ms-transform: rotate(1.2deg);
  transform: rotate(1.2deg);
  top: 0;
  z-index: -1
}
.veriasist.piled.segment:before {
  -webkit-transform: rotate(-1.2deg);
  -ms-transform: rotate(-1.2deg);
  transform: rotate(-1.2deg);
  top: 0;
  z-index: -2
}
.veriasist.stacked.segment {
  padding-bottom: 1.7em
}
.veriasist.stacked.segment:after,
.veriasist.stacked.segment:before {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  border-top: 1px solid rgba(0,0,0,0.1);
  background-color: rgba(0,0,0,0.02);
  width: 100%;
  height: 5px;
  visibility: visible
}
.veriasist.stacked.segment:before {
  bottom: 0
}
.veriasist.stacked.inverted.segment:after,
.veriasist.stacked.inverted.segment:before {
  background-color: rgba(255,255,255,0.1);
  border-top: 1px solid rgba(255,255,255,0.35)
}
.veriasist.raised.segment {
  -webkit-box-shadow: 0 1px 2px 1px rgba(0,0,0,0.1);
  box-shadow: 0 1px 2px 1px rgba(0,0,0,0.1)
}
/* == Variations == */
.veriasist.basic.segment {
  position: relative;
  background-color: transparent;
  border: 1px solid #EDEDED;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.04);
  border-radius: 0;
  padding: 0;
}
.veriasist.basic.segment:first-child {
  padding-top: 0
}
.veriasist.basic.segment:last-child {
  padding-bottom: 0
}
.veriasist.fitted.segment {
  padding: 0;
  border: 0
}
.veriasist.tabular.segment {
  background-color: #fff;
  padding:0;
  margin:0;
  margin-bottom:4px;
  border-radius: 0;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.04);
  -webkit-box-shadow: 0 4px 0 rgba(0, 0, 0, 0.04);
  border: 1px solid rgba(0, 0, 0, 0.075);
  display:table;
  width:100%
}
/*
.veriasist.tabular.segment > section,
.veriasist.tabular.segment > aside  {
  display:table-cell;
  padding:0
}
.veriasist.tabular.segment > section  {
  width: auto;
}
*/
.veriasist.secondary.segment {
  background-color: #fff;
}
.veriasist.tertiary.segment {
  border: 1px solid rgba(0,0,0,.075);
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.04);
  background-color: #fff;
  margin: 0;
  padding: 1.5em;
  border-radius: 0;
  position: relative;
  z-index: 1;
}
.veriasist.tertiary.segment:before {
  background: #F4BF1E;
  color: #F4BF1E;
  content: "";
  display: block;
  height: 40px;
  left: 0;
  position: absolute;
  text-indent: 5px;
  top: 1em;
  width: 2px;
}
/* == Colors == */
.veriasist.info.segment .header,
.veriasist.positive.segment .header,
.veriasist.danger.segment .header,
.veriasist.negative.segment .header,
.veriasist.warning.segment .header,
.veriasist.purple.segment .header,
.veriasist.teal.segment .header,
.veriasist.info.segment .footer,
.veriasist.positive.segment .footer,
.veriasist.danger.segment .footer,
.veriasist.negative.segment .footer,
.veriasist.warning.segment .footer,
.veriasist.purple.segment .footer,
.veriasist.teal.segment .footer {
  background-color: #5795AF;
  color: #fff;
  border-radius: .225em .225em 0 0;
  padding: 1em;
}
.veriasist.info.segment .footer,
.veriasist.positive.segment .footer,
.veriasist.danger.segment .footer,
.veriasist.negative.segment .footer,
.veriasist.warning.segment .footer,
.veriasist.purple.segment .footer,
.veriasist.teal.segment .footer {
  border-radius: 0 0 .225em .225em;
}
.veriasist.info.segment .header a.link,
.veriasist.positive.segment .header a.link,
.veriasist.danger.segment .header a.link,
.veriasist.negative.segment .header a.link,
.veriasist.warning.segment .header a.link,
.veriasist.purple.segment .header a.link,
.veriasist.teal.segment .header a.link {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}
.veriasist.info.segment .header a.link {
  color: #5795AF;
}
.veriasist.positive.segment .header a.link {
  color: #3E7558;
}
.veriasist.danger.segment .header a.link,
.veriasist.negative.segment .header a.link {
  color: #ac7070;
}
.veriasist.warning.segment .header a.link {
  color: #FEDD8C;
}
.veriasist.purple.segment .header a.link {
  color: #87719f;
}
.veriasist.teal.segment .header a.link {
  color: #61A299;
}
.veriasist.positive.inverted.segment,
.veriasist.danger.inverted.segment,
.veriasist.negative.inverted.segment,
.veriasist.warning.inverted.segment,
.veriasist.purple.inverted.segment,
.veriasist.teal.inverted.segment,
.veriasist.info.inverted.segment,
.veriasist.info.segment .header a.link:hover,
.veriasist.positive.segment .header a.link:hover,
.veriasist.danger.segment .header a.link:hover,
.veriasist.negative.segment .header a.link:hover,
.veriasist.warning.segment .header a.link:hover,
.veriasist.purple.segment .header a.link:hover,
.veriasist.teal.segment .header a.link:hover {
  color: #fff;
  text-shadow: none;
}
.veriasist.positive.inverted.segment,
.veriasist.positive.segment .header,
.veriasist.positive.segment .footer {
  background-color: #61A270;
}
.veriasist.danger.inverted.segment,
.veriasist.danger.segment .header,
.veriasist.danger.segment .footer,
.veriasist.negative.inverted.segment,
.veriasist.negative.segment .header,
.veriasist.negative.segment .footer {
  background-color: #A26161
}
.veriasist.warning.inverted.segment,
.veriasist.warning.segment .header,
.veriasist.warning.segment .footer {
  background-color: #EDAA10
}
.veriasist.purple.inverted.segment,
.veriasist.purple.segment .header,
.veriasist.purple.segment .footer {
  background-color: #7A6591
}
.veriasist.teal.inverted.segment,
.veriasist.teal.segment .header,
.veriasist.teal.segment .footer {
  background-color: #3CC9CA
}
.veriasist.info.inverted.segment,
.veriasist.info.segment .header,
.veriasist.info.segment .footer {
  background-color: #5795AF
}
.veriasist.info.segment:not(.fitted) {
  box-shadow: 0 -2px 0 0 #5795AF;
  border-top: 0
}
.veriasist.positive.segment:not(.fitted) {
  box-shadow: 0 -2px 0 0 #B2D280;
  border-top: 0
}
.veriasist.danger.segment:not(.fitted),
.veriasist.negative.segment:not(.fitted) {
  box-shadow: 0 -2px 0 0 #A26161;
  border-top: 0
}
.veriasist.warning.segment:not(.fitted) {
  box-shadow: 0 -2px 0 0 #EDAA10;
  border-top: 0
}
.veriasist.purple.segment:not(.fitted) {
  box-shadow: 0 -2px 0 0 #7A6591;
  border-top: 0
}
.veriasist.teal.segment:not(.fitted) {
  box-shadow: 0 -2px 0 0 #3CC9CA;
  border-top: 0
}
.veriasist.positive.inverted.segment,
.veriasist.danger.inverted.segment,
.veriasist.negative.inverted.segment,
.veriasist.warning.inverted.segment,
.veriasist.purple.inverted.segment,
.veriasist.teal.inverted.segment,
.veriasist.info.inverted.segment {
  -webkit-box-shadow:none;
  box-shadow:none
}
/* == Aligned == */
.veriasist.left.aligned.segment {
  text-align: left
}
.veriasist.right.aligned.segment {
  text-align: right
}
.veriasist.center.aligned.segment {
  text-align: center
}
.veriasist.justified.segment {
  text-align: justify;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto
}
/* == Floated == */
.veriasist.floated.segment,
.veriasist.left.floated.segment {
  float: left
}
.veriasist.right.floated.segment {
  float: right
}
/* == Attached == */
.veriasist.segment.attached {
  top: -1px;
  bottom: -1px;
  border-radius: 0;
  margin: 0;
  -webkit-box-shadow: 0 0 0 1px #DDD;
  box-shadow: 0 0 0 1px #DDD
}
.veriasist.top.attached.segment {
  top: 0;
  bottom: -1px;
  margin-top: 1em;
  margin-bottom: 0;
  border-radius: 5px 5px 0 0
}
.veriasist.segment.top.attached:first-child {
  margin-top: 0
}
.veriasist.segment.bottom.attached {
  top: -1px;
  bottom: 0;
  margin-top: 0;
  margin-bottom: 1em;
  border-radius: 0 0 5px 5px
}
.veriasist.segment.bottom.attached:last-child {
  margin-bottom: 0
}
/* == Loading == */
.veriasist.segment.loading {
  position: relative
}
.veriasist.segment.loading:after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.8) url(../images/loader-large.gif) no-repeat 50% 50%;
  visibility: visible;
  z-index: 5000;
}