.grid-style-solutions .tab-content ul li{
	padding: 10px;
}
.grid-style-solutions .grid figure img {position: relative; top: 0; opacity: .7; }
.grid-style-solutions .grid figure:hover img {top:0; -ms-transform: scale(1.1,1.1); -webkit-transform: scale(1.1,1.1);  transform: scale(1.1,1.1); opacity: .3;  cursor:url("../images/icon-zoom-white2.png"), pointer; box-shadow: none; outline: none;}
.grid-style-solutions .grid h3 { font-size: 18px; position: absolute; left: 0; right: 0; text-align: center; bottom: 0; z-index: 5; line-height: 25px; opacity: 0; color: rgba(255,255,255,1)}
.grid-style-solutions .grid h3:after { border-bottom: 8px solid rgba(255,26,86,1); content: ""; left: 0; right: 0; position: absolute; bottom: -25px; width: 40%; margin: 0 auto }
.grid-style-solutions .grid figure h3 {opacity: 1; bottom: 70px; letter-spacing: 10px;}
.grid-style-solutions .grid h3 a { color: rgba(255,255,255,1)}


.mfp-arrow {
	position: fixed;
}

.mfp-arrow-right-popup {
    position: fixed;
    z-index: 9;
    top: 296px !important;
    right: -4px;
    border: 4px solid black;
    padding: 11px;
    color: black;
    background: white;
    opacity: 0;
    visibility: hidden;
-webkit-border-top-left-radius: 20px;
-webkit-border-bottom-left-radius: 20px;
-moz-border-radius-topleft: 20px;
-moz-border-radius-bottomleft: 20px;
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
-webkit-box-shadow: 0px 0px 46px 2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 46px 2px rgba(0,0,0,0.75);
box-shadow: 0px 0px 46px 2px rgba(0,0,0,0.75);
}
.mfp-arrow-right:hover > .mfp-arrow-right-popup{
   visibility: visible;
    opacity: 1;
}

.mfp-arrow-left-popup {
    position: fixed;
    z-index: 9;
    top: 296px !important;
    left: -4px;
    border: 4px solid black;
    padding: 11px;
    color: black;
    background: white;
    opacity: 0;
    visibility: hidden;
	-webkit-border-top-right-radius: 20px;
-webkit-border-bottom-right-radius: 20px;
-moz-border-radius-topright: 20px;
-moz-border-radius-bottomright: 20px;
border-top-right-radius: 20px;
border-bottom-right-radius: 20px;
-webkit-box-shadow: 0px 0px 46px 2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 46px 2px rgba(0,0,0,0.75);
box-shadow: 0px 0px 46px 2px rgba(0,0,0,0.75);
}
.mfp-arrow-left:hover > .mfp-arrow-left-popup {
    visibility: visible;
    opacity: 1;
}

a.mfp-close, a.mfp-arrow {
	overflow: visible;
	cursor: pointer;
	background: transparent;
	border: 0;
	-webkit-appearance: none;
	display: block;
	outline: none;
	padding: 0;
	z-index: 9;
	-webkit-box-shadow: none;
	box-shadow: none;
    top: 320px !important;
}

a.mpf-exit {
    top: 110px;
    right: 12px;
    background-color: transparent !important;
    border: 1px solid #fff;
    width: 25px;
    height: 25px;
    position: absolute;
    z-index: 9;
    padding: 1px 0 0 4px;
}
a.mpf-exit i {
    color: #fff;
}

#t-no-gallery {
	height: 310px;
    background-attachment: fixed;
}

.popup-main {
	margin-top: -20px;
}


.slider-video-controls {
	padding-bottom: 20px;
}
.slider-video-controls .volume {
	background-image: url(images/volume.png);
    position: absolute;
    opacity: 0;
    margin: -25px 0 0 -97px;
    width: 42px;
    height: 42px;
    background-position: 0px 2px;
    z-index: 3;
    -webkit-user-select: none;
    -khtml-user-select: none;
    border: 1px solid #ffffff;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    border-radius: 50%;
}
.slider-video-controls .mute {
	background-image: url(images/mute.png);
	background-position: 0px 0px;
}
.slider-video-controls .play {
	background-image: url(images/play-btn.png);
	position: absolute;
    opacity: 0.9;
    margin: -45px 0 0 -42px;
    width: 81px;
    height: 81px;
    background-position: 0 0;
    z-index: 3;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.slider-video-controls .pause {
	background-image: url(images/pause-btn.png);
	background-position: 0px 0px;
}
.slider-video-controls .expand {
	background-image: url(images/expand.png);
	position: absolute;
    opacity: 0;
    margin: -25px 0 0 53px;
    width: 42px;
    height: 42px;
    background-position: 0 0;
    z-index: 3;
    -webkit-user-select: none;
    -khtml-user-select: none;
    border: 1px solid #ffffff;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    border-radius: 50%;
}
:-webkit-full-screen-ancestor {
	z-index: 2147483647 !important;
}

.html-video {
	left: 0 !important;
	top: 0 !important;
	transform: unset !important;
}


.mpf-popup-form {
    z-index: 9;
    color: #fff;
    position: absolute;
    right: 10px;
    top: 120px;
}

.cbox-input {
    padding: 5px;
}