#digiwrap {
  position: relative
}
#digiwrap.digigrid .item {
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.075);
}
#digiwrap.digigrid .item section {
  padding: 1.5em;
  position: relative;
  box-shadow: 0 4px 0 #E14D43;
}
#digiwrap.digigrid .item article {
  position: relative;
  text-align: center;
  padding: 1.45em;
  background-color: #FCFCFC;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.075);
  position: relative;
  margin-top: 4px;
}
#digiwrap.digigrid .item article a.like {
  position: absolute;
  top: 0;
  right: 0;
  padding: .5em;
}
#digiwrap.digigrid .item article h4 {
  margin: 0;
  font-weight: 500;
  font-family: 'Raleway';
  margin-bottom: 1em;
}
#digiwrap.digilist aside {
  border-right: 3px solid #E14D43;
  position: relative;
}
#digiwrap.digilist aside:after {
  position: absolute;
  z-index: 2;
  content: "";
  width: 0;
  height: 0;
  right: -9px;
  top: 50%;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid #E14D43;
}
#digiwrap.digilist section {
  padding: 1em;
}
#digiwrap.digilist section h4 {
}
 @media screen and (max-width:800px) {
#digiwrap.digilist aside {
  border-right: 0;
  border-bottom: 3px solid #E14D43;
}
}