#digiwrap {
  position: relative
}
#digiwrap.digigrid .item {
  box-shadow: 0 0 0 1px rgba(0,0,0,.1);
}
#digiwrap.digigrid .item section {
  padding: 1.5em;
  position: relative;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.04);
  background-color: #FFF;
}

#digiwrap.digigrid .item article {
  position: relative;
  text-align: center;
  padding: 1.45em;
  background-color: #FCFCFC;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.075);
  position: relative;
  margin-top: 4px;
}
#digiwrap.digigrid .item article a.like {
  position: absolute;
  top: 0;
  right: 0;
  padding: .5em;
}
#digiwrap.digigrid .item article h4 {
  margin: 0;
  font-weight: 600;
  font-family: 'Quicksand';
  margin-bottom: 1em;
}
#digiwrap.digilist aside {
  border-right: 3px solid #F4BF1E;
}
#digiwrap.digilist section {
  padding: 1em;
}
#digishop.main-item {
  background-color: #FFF;
  padding: 1em;  
  border-bottom: 3px solid #E2E8EC;
    border-radius: 6px;
}
 @media screen and (max-width:800px) {
#digiwrap.digilist aside {
  border-right: 0;
  border-bottom: 3px solid #F4BF1E;
}
}
