/* == Breadcrumb == */
.veriasist.breadcrumb {
  display: inline-block;
  vertical-align: middle;
  font-weight: 400;
  margin: .25em 0 0;
}
.veriasist.breadcrumb:first-child {
  margin-top: 0;
  white-space: nowrap;
}
.veriasist.breadcrumb:last-child {
  margin-bottom: 0;
}
/* == Content == */
.veriasist.breadcrumb .divider {
  display: inline-block;
  opacity: 0.5;
  margin: 0 .4em;
  font-size: 1em;
}
.veriasist.breadcrumb .divider:before {
 content: "/"
}
.veriasist.breadcrumb a.section {
  cursor: pointer;
  color:#fff;
}
.veriasist.breadcrumb .section {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.veriasist.breadcrumb.segment {
  display: inline-block;
  padding: .5em 1em;
}
.veriasist.breadcrumb .active.section {
  font-weight: 300;
  color:#999999;
}
/* == Variations == */
.veriasist.small.breadcrumb {
  font-size: .75em;
}
.veriasist.large.breadcrumb {
  font-size: 1.1em;
}
.veriasist.huge.breadcrumb {
  font-size: 1.3em;
}
