html,
body {
  font-size: 14px;
}
body {
  font-family: "Arial", sans-serif;
  margin: 0px;
  padding: 0px;
  color: #6F808C;
  text-rendering: optimizeLegibility;
  font-weight: 400;
  background-color: #F1F5F8;
}
a,
a.inverted,
a.white {
  cursor: pointer;
  color: #00B8E1;
  text-decoration: none;
  -webkit-transition: all .35s ease;
  -moz-transition: all .35s ease;
  -o-transition: all .35s ease;
  transition: all .35s ease;
  outline: none
}
a.inverted {
  color: #474948;
}
a.white {
  color: #fff;
}
a:hover,
a.hover,
a:focus {
  color: #474948;
  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -o-transition: all .35s ease;
  transition: all .55s ease;
  outline: none;
  text-decoration: none
}
a.inverted:hover,
a.inverted:focus {
  color: #00B8E1;
}
a.white:hover,
a.white:focus {
  color: rgba(0,0,0,0.4);
}
hr {
  margin-top: 2em;
  margin-bottom: 2em;
  border: 0;
  height: 3px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.1), rgba(0,0,0,0));
  background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.1), rgba(0,0,0,0));
  background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.1), rgba(0,0,0,0));
  background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.1), rgba(0,0,0,0));
}
h1,
h2,
h2.h3.h4,
h3,
h5,
h6 {
  font-family: 'Quicksand';
  color: #00B8E1;
  margin-bottom: 1rem;
}
p {
  margin-bottom: 1em;
}
p:last-child {
  margin-bottom: 0;
}
.veriasist-content {
  padding: 1em;
}
.veriasist-content-full {
  padding: 2em
}
.veriasist-content-half {
  padding: .5em 1em;
}
header {
  position: relative;
  background-color: #FFF;
}
header .top-bar {
  background-color: #2C3E50;
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
}
header .middle-bar {
  box-shadow: 0 1px 2px rgba(71, 73, 72, 0.2);
  position: relative;
  z-index: 2;
  background-color: #E7ECF0;
}
header .top-bar .doSearch {
  float: right;
  min-width: 300px
}
.subheader {
  background-color: #F5F5F5;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
  display: block;
  background-image: url(../images/crumbs_bg.jpg);
  padding: 1em 0;
  background-attachment: fixed;
}
.subheader h1 {
  color: rgba(255,255,255, 0.85);
  margin: 0
}
.subheader h1 small {
  display: inline-block;
  padding-left: 1em;
  font-weight: 600;
  font-size: .5em;
  color: rgba(255,255,255, 0.55);
}
#suggestions {
  position: absolute;
  width: 100%;
  top: 3em;
  z-index: 100
}
#search-results {
  background-color: #FFF;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.08);
}
#search-results {
  background-color: #FFF;
}
#search-results .item {
  display: block
}
#page {
  margin-top: 2em;
  margin-bottom: 2em;
}
/* == Menu Navigation == */
.sm,
.sm ul,
.sm li {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: normal;
  direction: ltr;
}
ul.sm li {
  position: relative;
}
ul.sm a {
  position: relative;
  display: block;
}
ul.sm a.disabled {
  cursor: default;
}
ul.sm ul {
  position: absolute;
  top: -999999px;
  left: -800px;
  width: 100px;
}
ul.sm li {
  float: left;
}
ul.sm-rtl {
  direction: rtl;
}
ul.sm-rtl li {
  float: right;
}
ul.sm ul li,
ul.sm-vertical li {
  float: none;
}
ul.sm a {
  white-space: nowrap;
}
ul.sm ul a,
ul.sm-vertical a {
  white-space: normal;
}
* html ul.sm-vertical li {
  float: left;
  width: 100%;
}
* html ul.sm-vertical ul li {
  float: none;
  width: auto;
}
*:first-child+html ul.sm-vertical>li {
  float: left;
  width: 100%;
}
ul.sm ul.sm-nowrap>li>a {
  white-space: nowrap;
}
ul.sm:after {
  content: "\00a0";
  display: block;
  height: 0;
  font: 0/0 serif;
  clear: both;
  visibility: hidden;
  overflow: hidden;
}
* html ul.sm {
  height: 1px;
}
*:first-child+html ul.sm {
  min-height: 1px;
}
ul.sm li *,
ul.sm li *:before,
ul.sm li *:after {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
ul.sm {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.isStuck {
  left: 0px;
  width: 100%;
}
/* Menu box
===================*/
#menu-wrap {
  background-color: #2C3E50;
  box-shadow: 0 5px 3px rgba(0, 0, 0, 0.02);
  z-index: 9000
}
.top-menu {
  position: relative;
}
.topmenu li > a {
  display: block;
  position: relative;
  -webkit-transition: all .35s ease;
  -moz-transition: all .35s ease;
  -o-transition: all .35s ease;
  transition: all .35s ease;
  height: 100%;
  color: #00B8E1;
  font-weight: 600;
  padding: 1.2em 1em;
}
.topmenu li > a small {
  display: none;
  opacity: 0;
  filter: alpha(opacity=0);
}
.topmenu li:hover > a {
  color: #6F808C;
  -webkit-transition: all .35s ease;
  -moz-transition: all .35s ease;
  -o-transition: all .35s ease;
  transition: all .35s ease
}
.topmenu li > a.active {
  color: #fff;
  background: #00B8E1;
}
.topmenu li > a i.icon {
  margin-right: .5em;
}
.topmenu li > a.has-submenu {
  padding-right: 2em;
}
#menu ul.two.cols {
  width: 380px!important;
}
#menu ul.three.cols {
  width: 500px!important;
}
#menu ul.three.cols li {
  width: 33.33%;
}
#menu ul.four.cols li {
  width: 25%;
}
#menu ul.four.cols {
  width: 680px!important;
}
#menu ul.cols li {
  display: block;
  float: left;
  width: 50%;
  box-shadow: inset 1px 0 0 0 #EEE;
}
#menu ul.cols li:first-child {
  box-shadow: none
}
#menu ul.cols {
  clear: both
}
.topmenu ul {
  background: #FFF;
  border-top: 5px solid #00B8E1;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}
/* Sub menu indicators
===================*/
.topmenu ul.menu-submenu {
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
}
.topmenu a span.sub-arrow {
}
.topmenu ul a span.sub-arrow {
  position: absolute;
  right: 1em;
  transform: rotate(-90deg);
}
.topmenu ul a {
  font-size: 1em;
  white-space: nowrap;
  font-weight: 400;
  text-transform: none;
  padding: 8px 15px
}
.topmenu ul a:hover {
  background: #00B8E1;
  color: #FFF
}
.topmenu ul a.active {
  box-shadow: none;
  background: #00B8E1;
  color: #FFF
}
/* == Plugis Layout == */
#topwidget {
  box-shadow: 0 -2px 0 0 #fff;
  background-color: #fff;
}
#topwidget .static-image {
  background-attachment: scroll;
  background-image: url("uploads/images/pages/static.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 3em;
  padding-bottom: 3em;
  color: #fff
}
#topwidget .static-image > h1 {
  font-size: 3em;
  text-transform: uppercase;
  color: #fff;
  font-family: 'Quicksand';
  font-weight: 600;
}
#rightwidget aside,
#leftwidget aside {
  margin-bottom: 1.5em;
}
#rightwidget aside h3,
#leftwidget aside h3 {
}
#botwidget {
  position: relative;
  background-color: #2C3E50;
  box-shadow: inset 0 5px 0 0 rgba(255,255,255,0.2);
  color: #C9D5E1;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/botwidget_bg.jpg);
  background-attachment: fixed;
}
#botwidget h3 {
  font-size: 1.6em;
  padding-top: 1em;
  padding-bottom: .5em;
  color: #6A7F94;
  position: relative
}
#botwidget h3:after {
  background: #6A7F94;
  bottom: 0;
  content: "";
  display: block;
  height: 3px;
  left: 0;
  position: absolute;
  width: 40px;
}
/* == Loading == */
.loader {
  position: relative
}
.loader:after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.8) url(../images/loader-large.gif) no-repeat 50% 50%;
  visibility: visible;
  z-index: 5000;
}
#login .section {
  background-color: #FCFCFC;
  border: 1px solid #F1F1F1;
  padding: 1.5em;
  position: relative;
  margin-top: -1px;
  z-index: 1
}
#login .section .item {
  margin-bottom: 2em;
}
#login .section .item label {
  display: block;
  margin-top: 1em;
}
#login .section .item input {
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  box-shadow: none;
  color: #888888;
  display: inline-block;
  line-height: 20px;
  outline: medium none;
  padding: 14px 10px;
  resize: none;
  transition: all 0.1s linear 0s;
  width: 100%;
  background-color: #FFFFFF;
}
#login .nav {
  z-index: 2
}
#login .nav > a {
  display: block;
  float: left;
  padding-top: 1em;
  padding-right: 1.5em;
  padding-bottom: 1em;
  padding-left: 1.5em;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.05);
}
#login .nav > a:last-child {
  border-left: 0
}
#login .nav > a.active {
  background-color: #FCFCFC;
  border-bottom: 1px solid #FCFCFC;
}
/* == Footer == */
footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 0 0 #fff;
  color: #939694;
}
footer .logo {
  max-width: 130px
}
footer .copyright {
  text-align: right;
}
#scrollUp {
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: #000;
  border-radius: 4px;
  text-align: center;
  line-height: 35px;
  opacity: 0.8;
  color: #ccc;
}
#scrollUp:before {
  content: "\f077";
  display: inline-block;
  vertical-align: middle;
  font: 14px/18px 'Icons';
  color: #ccc;
}
#error-page {
  height: 100%;
  background-image: url(../images/404_bg.png);
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: top center;
  height: 100vh;
  text-align: center;
  background-color: #282828;
  box-shadow: inset 0 10px 0 0 #000000, inset 0 -10px 0 0 #000000;
  position: relative
}
#error-page .logo {
  padding-top: 2em;
}
#error-page h1 {
  padding-top: .5em;
  color: #fff;
  font-size: 5em;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
}
#error-page h3 {
  color: #7F7F7F;
  font-size: 1.5em;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
}
#error-page h3.primary {
  margin-top: 2em;
}
#error-page #but.button {
  font-size: 2em;
}
#error-page #but.button i.icon {
  font-size: 4em;
}
 @media only screen and (max-width: 768px) {
.logo {
  margin-top: 0;
  margin-right: auto;
  margin-bottom: .5em;
  margin-left: auto;
  text-align: center;
}
ul.topmenu {
  width: auto;
  background-color: #525252;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2)
}
ul.topmenu ul {
  display: none;
  position: static;
  top: auto!important;
  left: auto!important;
  margin-left: 0 !important;
  margin-top: 0!important;
  width: auto !important;
  min-width: 0 !important;
  max-width: none !important;
}
ul.topmenu>li {
  float: none;
}
ul.topmenu>li>a,
ul.topmenu ul.sm-nowrap>li>a {
  white-space: normal;
}
ul.topmenu iframe {
  display: none;
}
/* Menu box
===================*/
.topmenu ul.menu-submenu {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #525252;
}
.topmenu li > a {
  display: block;
  padding: .5em 1em;
  text-align: left;
  color: #f9f9f9;
}
.topmenu li a > i {
  display: inline-block;
  font-size: 1em;
  margin-right: 1em;
}
.topmenu li > a strong {
  display: inline-block;
  font-weight: 500;
  font-size: .95em;
}
.topmenu li > a small {
  display: none;
}
.topmenu a span.sub-arrow {
  position: absolute;
  left: auto;
  right: 1em;
  bottom: 1em;
  width: 1em;
  height: 1em;
  line-height: 1em;
}
.topmenu ul a span.sub-arrow,
.topmenu-vertical a span.sub-arrow {
  left: auto;
  right: 1em;
}
#menu ul.two.cols,
#menu ul.three.cols,
#menu ul.four.cols {
  width: 100%!important;
}
#menu ul.cols li {
  float: none;
  width: auto;
  box-shadow: none
}
.topmenu li:hover > a {
  background: #00B8E1;
  color: #fff;
}
.topmenu li > a.active,
.topmenu > li:first-child,
.topmenu li:hover > a {
  box-shadow: none
}
.topmenu a.highlighted span.sub-arrow {
  display: none;
}
.topmenu li {
  border-left: 0;
}
.topmenu li a {
  box-shadow: 0 1px 0 rgba(255,255,255,0.1);
  padding: 1em;
}
.topmenu li:first-child {
  border-top: 0;
}
#footer .links {
  float: none!important
}
.veriasist.tabs li {
  float: none;
}
.veriasist.tabs li a.active,
 .veriasist.tabs li a.active:hover {
  border-color: #00B8E1;
}
}
