#forum > .section {
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.075);
  margin-bottom: 1.2em;
  position: relative;
}
#forum > .section.reply {
  margin-top: -1.2em
}
#forum > .section.active {
  background-color: #FFC;
}
#forum > .section:last-child {
  margin-bottom: 0
}
#forum > .section section {
  padding: 1em;
  position: relative;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.04);
}
#forum > .section section:before {
  background: none repeat scroll 0 0 #F4BF1E;
  content: "";
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  top: -1px;
  width: 11px;
  z-index: 2;
}
#forum > .section section:after {
  background: none repeat scroll 0 0 #F4BF1E;
  content: "";
  display: block;
  height: 10px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 2px;
}
#forum > .section article {
  position: relative;
  padding: 1.2em;
  background-color: #FCFCFC;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.075);
  position: relative;
  margin-top: 4px
}
#forum > .section footer {
  padding: .5em;
  position: relative;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.075);
  text-align: right
}