@media (max-width: 768px) {

    .modal-mobil {
        
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        max-width: 100% !important;
        border-radius: 0;
        padding: 100px 20px;
    }

    .popup-close-button {
        height: 50px !important;
    }

    .w25 {
        width:100% !important;
    }

}

.mt-10 {
    margin-top:10px;
}

.popup-close-button {
    height: 20px;
    position: absolute;
    top: 10px;
    cursor: pointer;
}

.w25 {
    width:25%;
}