@import url(https://fonts.googleapis.com/css?family=Raleway);
html,
body {
  font-size: 14px;
}
body {
  font-family: "Raleway", sans-serif;
  margin: 0px;
  padding: 0px;
  color: #999999;
  text-rendering: optimizeLegibility;
  font-weight: 400;
  background-color: #FFFFFF;
  overflow-x: hidden;
}
a,
a.inverted,
a.white {
  cursor: pointer;
  color: #E14D43;
  text-decoration: none;
  -webkit-transition: all .35s ease;
  -moz-transition: all .35s ease;
  -o-transition: all .35s ease;
  transition: all .35s ease;
  outline: none
}
a.inverted {
  color: #999;
}
a.white {
  color: #fff;
}
a:hover,
a.hover,
a:focus {
  color: #9AD03E;
  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -o-transition: all .35s ease;
  transition: all .55s ease;
  outline: none;
  text-decoration: none
}
a.inverted:hover,
a.inverted:focus {
  color: #E14D43;
}
a.white:hover,
a.white:focus {
  color: #E14D43;
}
hr {
  margin-top: 2em;
  margin-bottom: 2em;
  border: 0;
  height: 3px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.1), rgba(0,0,0,0));
  background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.1), rgba(0,0,0,0));
  background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.1), rgba(0,0,0,0));
  background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.1), rgba(0,0,0,0));
}
h1,
h2,
h2.h3.h4,
h3,
h5,
h6 {
  font-family: 'Raleway';
  color: #2D343E;
  margin-bottom: 1rem;
}
p {
  margin-bottom: 1em;
}
p:last-child {
  margin-bottom: 0;
}
.veriasist-content {
  padding: 1em;
}
.veriasist-content-full {
  padding: 2em 1em
}
.veriasist-content-half {
  padding: .5em 1em;
}
header {
  position: relative;
  background-color: #FFF;
}
header .top-bar {
  background-color: #363B3F;
  color: #999999;
  box-shadow: inset 0 -1px 0 0 #000000;
}
header .top-bar .doSearch {
  float: right;
  min-width: 300px
}
header .logo{
  margin-top:1.2em;
}

.subheader {
  background-image: url(../images/crumbs_bg.jpg);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.subheader h1 {
  color: #fff;
  margin: 0;
  font-weight:100
}
.subheader h1 small {
  display:block;
  font-weight: 300;
  color: #fff;
  margin-top:.5em;
}
.subheader .veriasist.breadcrumb {
  position: absolute;
  bottom: 0;
  right:1em;
  background-color: #E74C3C; 
  color:#fff;
   padding: .5em 1.2em;
  text-transform: capitalize;
  width: auto;
}
.subheader .veriasist.breadcrumb a.section {
  color:#fff;
}
.subheader .veriasist.breadcrumb a:hover {
  text-decoration: underline;
}
.subheader .veriasist.breadcrumb .section {
  font-size:.876em;
  color:#fff;
}
.subheader .veriasist.inverted.input{
  width:300px;
}
#suggestions {
  position: absolute;
  width:300px;
  top: 5em;
  z-index: 100
}
#search-results {
  background-color: #FFF;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.08);
}
#search-results {
  background-color: #FFF;
}
#search-results .item {
  display: block
}
#page {}
#pagination{
  margin-top:1em;
}
/* == Menu Navigation == */
.sm,
.sm ul,
.sm li {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: normal;
  direction: ltr;
}
ul.sm li {
  position: relative;
}
ul.sm a {
  position: relative;
  display: block;
}
ul.sm a.disabled {
  cursor: default;
}
ul.sm ul {
  position: absolute;
  top: -999999px;
  left: -800px;
  width: 100px;
}
ul.sm li {
  float: left;
}
ul.sm-rtl {
  direction: rtl;
}
ul.sm-rtl li {
  float: right;
}
ul.sm ul li,
ul.sm-vertical li {
  float: none;
}
ul.sm a {
  white-space: nowrap;
}
ul.sm ul a,
ul.sm-vertical a {
  white-space: normal;
}
* html ul.sm-vertical li {
  float: left;
  width: 100%;
}
* html ul.sm-vertical ul li {
  float: none;
  width: auto;
}
*:first-child+html ul.sm-vertical>li {
  float: left;
  width: 100%;
}
ul.sm ul.sm-nowrap>li>a {
  white-space: nowrap;
}
ul.sm:after {
  content: "\00a0";
  display: block;
  height: 0;
  font: 0/0 serif;
  clear: both;
  visibility: hidden;
  overflow: hidden;
}
* html ul.sm {
  height: 1px;
}
*:first-child+html ul.sm {
  min-height: 1px;
}
ul.sm li *,
ul.sm li *:before,
ul.sm li *:after {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
ul.sm {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* Menu box
===================*/
.top-menu {
  position: relative;
}
.topmenu,
 .topmenu ul {
  background: #fff;
}
.topmenu li > a {
  display: block;
  text-decoration: none;
  padding: .85em 1.6em;
  text-align: center;
  font-weight: 300;
  color: #999999;
}
.topmenu li a > i {
  display: block;
  font-size: 2em;
}
.topmenu li > a strong {
  display: block;
  text-transform: uppercase;
  font-weight: 500;
  font-size: .95em;
}
.topmenu li > a small {
  display: block;
 font-size:.85em;
}
.topmenu li > a i,
.topmenu li > a strong,
.topmenu li > a small {
  position: relative;
  transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -webkit-transition: all 300ms linear;
}
.topmenu li:hover > a i {
  opacity: 1;
  -webkit-animation: moveFromTop 300ms ease-in-out;
  -moz-animation: moveFromTop 300ms ease-in-out;
  -ms-animation: moveFromTop 300ms ease-in-out;
  -o-animation: moveFromTop 300ms ease-in-out;
  animation: moveFromTop 300ms ease-in-out;
}
.topmenu li:hover a strong {
  opacity: 1;
  -webkit-animation: moveFromLeft 300ms ease-in-out;
  -moz-animation: moveFromLeft 300ms ease-in-out;
  -ms-animation: moveFromLeft 300ms ease-in-out;
  -o-animation: moveFromLeft 300ms ease-in-out;
  animation: moveFromLeft 300ms ease-in-out;
}
.topmenu li:hover a small {
  opacity: 1;
  -webkit-animation: moveFromRight 300ms ease-in-out;
  -moz-animation: moveFromRight 300ms ease-in-out;
  -ms-animation: moveFromRight 300ms ease-in-out;
  -o-animation: moveFromRight 300ms ease-in-out;
  animation: moveFromRight 300ms ease-in-out;
}
.topmenu a >small {
  display: block
}
.topmenu a:hover,
.topmenu a:focus,
.topmenu a:active,
.topmenu a.highlighted {
  color: #e74c3c;
}
.topmenu li > a.active {
  background: #e74c3c;
  color: #fff;
}
.topmenu a.has-submenu {}
.topmenu li.nav-submenu-item i.icon {
  margin-right: .5em
}
.topmenu ul a.has-submenu,
 .topmenu-vertical a.has-submenu {
  padding-right:1.8em;
}
.topmenu li ul li a {
  padding: .85em;
  text-align: left;
  border: 0;
  box-shadow:inset 0 -1px 0 0 #EEE;
}
.topmenu li ul li a i {
  font-size: 1em;
  display: inline-block;
  margin: 0 .5em 0 0;
}
#menu ul.two.cols {
  width: 380px!important;
}
#menu ul.three.cols {
  width: 500px!important;
}
#menu ul.three.cols li {
  width: 33.33%;
}
#menu ul.four.cols li {
  width: 25%;
}
#menu ul.four.cols {
  width: 680px!important;
}
#menu ul.cols li {
  display: block;
  float: left;
  width: 50%;
  box-shadow:inset 1px 0 0 0 #EEE;
}
#menu ul.cols li:first-child {
  box-shadow:none
}
#menu ul.cols {
  clear: both
}
/* Sub menu indicators
===================*/
.topmenu ul.menu-submenu{
box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
}
.topmenu a  span.sub-arrow {
  position: absolute;
  left: 45%;
  bottom: -.25em;
  width: 1em;
  height: 1em;
  line-height: 1em;
}
.topmenu ul.menu-submenu a span.sub-arrow,
.topmenu-vertical a span.sub-arrow {
  right: 1em;
  top: 1.4em;
  left: auto;
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
/* Items separators
===================*/
.topmenu li {
  border-left: 1px solid #f3f3f3;
}
.topmenu li:first-child {
  border-left: 0;
}
.topmenu ul li,
 .topmenu-vertical li {
  border-left: 0;
}
.topmenu ul li:first-child,
 .topmenu-vertical li:first-child {
  border-top: 0;
}

.topmenu span.scroll-up,
.topmenu span.scroll-down {
  position: absolute;
  display: none;
  visibility: hidden;
  overflow: hidden;
  border: solid #bbb;
  border-width: 1px 0;
  background: #fff;
  height: 20px;
}
.topmenu span.scroll-up-arrow,
.topmenu span.scroll-down-arrow {
  position: absolute;
  top: -2px;
  left: 50%;
  margin-left: -8px;
  width: 0;
  height: 0;
  overflow: hidden;
  border-width: 8px;
  border-style: dashed dashed solid dashed;
  border-color: transparent transparent #555 transparent;
}
.topmenu span.scroll-down-arrow {
  top: 6px;
  border-style: solid dashed dashed dashed;
  border-color: #555 transparent transparent transparent;
}

/* == Plugis Layout == */
#topwidget {
  box-shadow: 0 5px 0 0 #fff, 0 5px 0 0 #fff, 0 0 25px #F5F5F5 inset;
  background-color: #fff;
}
#topwidget .static-image {
  background-attachment: scroll;
  background-image: url("uploads/images/pages/static2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 3em;
  padding-bottom: 3em;
  color: #fff
}
#topwidget .static-image > h1 {
  font-size: 3em;
  text-transform: uppercase;
  color: #fff;
  font-family: "Raleway";
  font-weight: 100;
}
#rightwidget aside,
#leftwidget aside {
  margin-bottom: 1.5em;
}
#rightwidget aside h3,
#leftwidget aside h3 {
  font-weight:400;
  color:#333
}
#botwidget {
  position: relative;
  background-color: #363B3F;
  color: #999999;
}
#botwidget h3 {
  font-size: 1.6em;
  padding-top: 1em;
  color: #fff;
  text-transform: capitalize;
  font-weight: 200;
}
/* == Loading == */
.loader {
  position: relative
}
.loader:after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.8) url(../images/loader-large.gif) no-repeat 50% 50%;
  visibility: visible;
  z-index: 5000;
}
/* == Footer == */
footer {
  background-color: #363B3F;
}
footer .footer-wrap {
  border-top: 1px solid #E14D43;
}
footer .logo {
  max-width: 130px
}
footer .copyright {
  text-align: right;
}
#scrollUp {
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: #363B3F;
  border-radius: 4px;
  text-align: center;
  line-height: 35px;
  opacity: 0.8;
  color: #999;
}
#scrollUp:before {
  content: "\f077";
  display: inline-block;
  vertical-align: middle;
  font: 14px/18px 'Icons';
  color: #ccc;
}
#error-page {
  height: 100%;
  background-image: url(../images/404_bg.png);
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: top center;
  height: 100vh;
  text-align: center;
  background-color: #282828;
  box-shadow: inset 0 10px 0 0 #000000, inset 0 -10px 0 0 #000000;
  position: relative
}
#error-page .logo {
  padding-top: 2em;
}
#error-page h1 {
  padding-top: .5em;
  color: #fff;
  font-size: 5em;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
}
#error-page h3 {
  color: #7F7F7F;
  font-size: 1.5em;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
}
#error-page h3.primary {
  margin-top: 2em;
}
#error-page #but.button {
  font-size: 2em;
}
#error-page #but.button i.icon {
  font-size: 4em;
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
.topmenu li > a {
  padding: .5em 1em;
}  
.topmenu li a > i {
  font-size: 1.2em;
}
.topmenu li > a strong {
  font-size: .85em;
}
.topmenu li > a small {
 font-size:.65em;
}
.topmenu a span.sub-arrow {
  left: 40%;
}
}
 @media only screen and (max-width: 768px) {
.logo {
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  text-align: center;
}
#footer .links {
  float: none!important
}
.veriasist.tabs li {
  float: none;
}
.veriasist.tabs li a.active,
 .veriasist.tabs li a.active:hover {
  border-color: #F4BF1E;
}

ul.topmenu {
  width: auto;
}
ul.topmenu ul {
  display: none;
  position: static;
  top: auto!important;
  left: auto!important;
  margin-left: 0 !important;
  margin-top: 0!important;
  width: auto !important;
  min-width: 0 !important;
  max-width: none !important;
}
ul.topmenu>li {
  float: none;
}
ul.topmenu>li>a,
ul.topmenu ul.sm-nowrap>li>a {
  white-space: normal;
}
ul.topmenu iframe {
  display: none;
}


/* Menu box
===================*/
.topmenu ul.menu-submenu  {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.topmenu li > a {
  display: block;
  text-decoration: none;
  padding: .5em 1em;
  text-align: left;
  font-weight: 300;
  color: #999999;
  box-shadow:inset 0 -1px 0 0 #EEE;
}

.topmenu li a > i {
  display: inline-block;
  font-size: 1em;
  margin-right:1em;
}
.topmenu li > a strong {
  display: inline-block;
  font-weight: 500;
  font-size: .95em;
}

.topmenu li > a small {
  display: block;
  font-size:.8em;
  margin-left:2.5em;
}
.topmenu a span.sub-arrow {
  left:auto;
  right:1em;
  bottom:1em;
  width: 1em;
  height: 1em;
  line-height: 1em;
}
.topmenu ul a span.sub-arrow,
.topmenu-vertical a span.sub-arrow {
   left:auto;
   right:1em;
}
#menu ul.two.cols,
#menu ul.three.cols,
#menu ul.four.cols {
  width: 100%!important;
}
#menu ul.cols li {
  float: none;
  width: auto;
  box-shadow:none
}
.topmenu li:hover > a i,
.topmenu li:hover a small {
  opacity: 1;
  -webkit-animation:none;
  -moz-animation: none;
  -ms-animation: none;
  -o-animation: none;
  animation: none;
}
.topmenu a.highlighted span.sub-arrow {
  display: none;
}
.topmenu li {
  border-left: 0;
}
.topmenu li:first-child {
  border-top: 0;
}
}