body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 1.618;
    color: rgba(0, 0, 0, 0.87);
    background: whitesmoke;
}


.content{
	margin-right: 15px;
    margin-left: 15px;
}
.p-t-3 {
	padding-top: 3rem !important;
}
.row {
    margin-left: -10px;
    margin-right: -10px;
}


.card {
	height: 121px;
    width: 100%;
    position: relative;
    margin: 0 0 20px 0;
    border-radius: 3px;
    border: 0;
    background-color: #fff;
    box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.26);
    overflow: hidden;
}
.card.card-iconic {
    max-height: 121px;
}
.card.card-iconic {
    overflow: hidden;
}

.card.card-green {
    background-color: #4bae4f;
    color: #ffffff;
}
.card.card-red {
    background-color: #f34235;
    color: #ffffff;
}
.card.card-amber {
    background-color: #fec006;
    color: #ffffff;
}
.card.card-pink {
    background-color: #e81d62;
    color: #ffffff;
}
.card.card-brown {
    background-color: #785447;
    color: #ffffff;
}
.card.card-blue {
    background-color: #2095f2;
    color: #ffffff;
}
.card.card-blue-grey {
    background-color: #5f7c8a;
    color: #ffffff;
}
.card.card-purple {
    background-color: #9b26af;
    color: #ffffff;
}
.card.card-grey {
    background-color: #9d9d9d;
    color: #ffffff;
}
.card.card-iconic .card-full-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: 30%;
    margin-top: -40px;
    font-size: 80px;
    opacity: .3;
    color: #fff;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.card.card-iconic .card-body h4 {
    margin-top: 0;
    color: rgba(255, 255, 255, 0.74);
    padding: 10px;
}
.card .card-body h4 {
    margin-top: 14.5px !important;
}
h4{
    font-size: 23px;
}
h4{
    margin-top: 14.5px;
    margin-bottom: 14.5px;
}
h4{
    font-family: inherit;
    font-weight: 300;
    line-height: 1.42;
    color: rgba(0, 0, 0, 0.54);
}
b, strong {
    font-weight: bold;
}