#forum > .section {
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.075);
  margin-bottom: 1.2em;
  position: relative;
  background-color: #E7ECF0;
}
#forum > .section.reply {
  margin-top: -1.2em
}
#forum > .section.active {
  background-color: #FFC;
}
#forum > .section:last-child {
  margin-bottom: 0
}
#forum > .section section {
  padding: 1em;
  position: relative;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.04);
}

#forum > .section article {
  position: relative;
  padding: 1.2em;
  background-color: #FCFCFC;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.075);
  position: relative;
  margin-top: 4px
}
#forum > .section footer {
  padding: .5em;
  position: relative;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.075);
  text-align: right
}