#features .box-content{display:none}
#features h3{cursor:pointer}
p.column{ background-color: #F4F4F5;margin-bottom:0;padding: 0.5em;}
code[class*="prettyprint"],
pre[class*="prettyprint"] {
  color: black;
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  border: 1px solid #358ccb!important;
}

/* Code blocks */
pre[class*="prettyprint"] {
  position:relative;
  padding: 1em;
  margin: .5em 0;
  border-left: 4px solid #358ccb!important;
  background-color: #fdfdfd;
  background-size: 3em 3em;
  background-origin:content-box;
  overflow:visible;
  max-height:20em;
  overflow-y:auto
}

/* Margin bottom to accomodate shadow */
:not(pre) > code[class*="prettyprint"],
pre[class*="prettyprint"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 1em;
}

pre[class*="prettyprint"]:before,
pre[class*="prettyprint"]:after {
  content: '';
  z-index: -2;
  display:block;
  position: absolute;
  bottom: 0.75em;
  left: 0.18em;
  width: 40%;
  height: 20%;
}


ol.linenums {
    counter-reset:li;
    margin-left:0; 
    padding-left:0; 
}
ol.linenums > li {
    position:relative; 
    list-style:none; 
    background-color: #f7f7f7;
}
ol.linenums > li:nth-child(2n){
  background-color: #fff;
}
ol.linenums > li:before {
    content:counter(li);
    counter-increment:li;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    width:2em;
    margin-right:8px;
    padding:4px;
    color:#000;
    font-weight:600;
    text-align:center;
}

@media screen and (max-width:767px){
  pre[class*="prettyprint"]:before,
  pre[class*="prettyprint"]:after {
    bottom:14px;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
  }

}

.veriasist-icon-grid >.column{display:inline-block;text-align:center;float:left;width:16.666%;padding-top:1em;padding-bottom:1em;background-color:#F4F4F4;box-shadow:0 0 0 1px rgba(255,255,255,.85) inset;font-size:.85em}
.veriasist-icon-grid >.column i{display:block;text-align:center;font-size:2.4em;margin:0 auto}
