@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
body {
  padding: 10px;
  color: #333333;
  font-family: "Open Sans", tahoma, arial, sans-serif;
  font-size: 1em;
  background-color: #F1F1EF;
}
.dialogFooter {
  padding-bottom: 12px !important;
  padding-right: 10px !important;
  background-color: #FAFAFA;
}
td {
  font-size: 11px
}
input {
  font: 8pt Open Sans, arial, sans-serif;
}
select {
  font: 8pt Open Sans, arial, sans-serif;
}
textarea {
  font: 8pt Open Sans, arial, sans-serif
}
.inpSel {
  font: 8pt Open Sans, arial, sans-serif;
  width:100%;
  text-indent: 5px;
  padding-top: 5px;
  padding-right: 0px;
  padding-bottom: 5px;
  padding-left: 0px;
  border: 1px solid #ccc;
}
.inpTxt {
  font: 8pt Open Sans, arial, sans-serif;
  width: 100%;
  text-indent: 5px;
  padding-top: 5px;
  padding-right: 0px;
  padding-bottom: 5px;
  padding-left: 0px;
  border: 1px solid #ccc;
}
.inpChk {
  margin-right: 3px;
  margin-bottom: 1px
}
.inpRdo {
  margin-right: 3px;
  margin-bottom: 1px
}
.inpBtn,
.inpBtnOver,
.inpBtnOut {
  padding: 4px 10px 4px 10px;
  margin-right: 2px;
  font-size: 11px;
  font-weight: 600;
  color: #000000;
  background:#fff;
  border: 1px solid #ccc;
  cursor: pointer;
}
.inpBtn:hover,
.inpBtnOver:hover,
.inpBtnOut:hover {
  background-color: #9AC45C;
  color: #fff;
  outline: none;
  text-decoration: none;
}