
.istoolbar {
}
.toolbar {
  display: block;
  float: left;
  position: relative;
  text-align: center;
  font-weight: 400;
}

.toolbar > span,
.drop > span {
  font-family: 'Icons', Arial;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  font-size: 14px;
  line-height: 14px;
  speak: none;
  vertical-align: text-top;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height:30px;
  cursor: default;
}
.drop {
  line-height:24px;
}
.drop > span {
  width: 24px;
  height: 24px;
  line-height:24px;
}
.toolbar > span:hover {
  background-color: #5c6166;
  color: #fff;
}
.toolbar span.btnSource:before {
  content: "\f121";
}
.toolbar span.btnFullScreen:before {
  content: "\f109";
}
.toolbar span.btnSearch:before {
  content: "\f002";
}
.toolbar span.btnRemoveFormat:before {
  content: "\f12d";
}
.toolbar span.btnFontName:before {
  content: "\f031";
}
.toolbar span.btnFontSize:before {
  content: "\f1dc";
}
.toolbar span.btnStrikethrough:before {
  content: "\f0cc";
}
.toolbar span.btnSuperscript:before {
  content: "\f12b";
}
.toolbar span.btnUndo:before {
  content: "\f112";
}
.toolbar span.btnRedo:before {
  content: "\f064";
}
.toolbar span.btnPaste:before,
.drop span.btnPasteClip:before,
.drop span.btnPasteText:before  {
  content: "\f0ea";
}
.toolbar span.btnPaste:before {
  content: "\f0ea";
}
.toolbar span.btnBold:before {
  content: "\f032";
}
.toolbar span.btnItalic:before {
  content: "\f033";
}
.toolbar span.btnUnderline:before {
  content: "\f0cd";
}
.toolbar span.btnForeColor:before {
  content: "\f042";
}
.toolbar span.btnBackColor:before {
  content: "\f042";
  color: #6EC586;
}
.toolbar span.btnText:before {
  content: "\f035";
}
.toolbar span.btnQuote:before {
  content: "\f10d";
}
.toolbar span.btnIndent:before {
  content: "\f03c";
}
.toolbar span.btnOutdent:before {
  content: "\f03b";
}
.toolbar span.btnAbsolute:before {
  content: "\f0db";
}
.toolbar span.btnLeft:before {
  content: "\f036";
}
.toolbar span.btnCenter:before {
  content: "\f037";
}
.toolbar span.btnRight:before {
  content: "\f038";
}
.toolbar span.btnFull:before {
  content: "\f039";
}
.toolbar span.btnNumber:before {
  content: "\f0cb";
}
.toolbar span.btnList:before {
  content: "\f0ca";
}
.toolbar span.btnHyperlink:before {
  content: "\f0c1";
}
.toolbar span.btnImage:before {
  content: "\f03e";
}
.toolbar span.btnTableEdit:before {
  content: "\f0ce";
}
.toolbar span.btnSnippets:before {
  content: "\f0c6";
}
.toolbar span.btnFlash:before {
  content: "\f008";
}
.toolbar span.btnYoutubeVideo:before {
  content: "\f16a";
}
.toolbar span.btnVideo:before {
  content: "\f13b";
}
.toolbar span.btnCustomTag:before {
  content: "\f0e9";
}
.toolbar span.btnSymbol:before {
  content: "\f120";
}
.toolbar span.btnLine:before {
  content: "\f068";
}
.toolbar span.btnPayPal:before {
  content: "P";
  font-weight: 600;
}
.istoolbar_container {
  padding: 0;
  background:#C6C6BF
}

.context_istoolbar {
}
.main_istoolbar {
  /*border: #DADADA 2px solid;*/
}
.main_istoolbar table {
  min-height: 1px
}
.isdd_over,
.isdd_norm,
.isdd_sel,
.isdd_disb {
  font-size: 13px;
  text-align: left;
  padding: 5px
}
.isdd_norm {

}
.isdd_disb {

}
.isdd_sel {
background-color:#5c6166;
color:#fff
}
.isdd_over {
  background-color:#B2D280;
  color:#fff
}
.isgroup {
  background-color:#F1F1EF;
}
.isgroupcontent {
  padding-bottom: 0;
  padding-top: 0
}
.isgrouptitle {
  font-family: tahoma;
  font-size: 7pt;
  font-weight: 700;
  height: 10px;
  color: #506070;
  padding: 3px 3px 1px
}
.istabctl {
  background-color: #ccc;
  width: 100%;
  padding: 0
}
.istab {
  height: 32px
}
.tabcontent {
  background-color: #EBEEF4;
  background-image: url(silver/tab_contentbg.gif)
}
.tabtitle {
  cursor: pointer;
  font-family: tahoma;
  font-size: 10px;
  font-weight: 700;
  color: #333;
  padding: 5px 7px
}
.tableftsel {
  background-image: url(silver/tab_tableft.gif);
  background-repeat: no-repeat;
  background-position: bottom;
  width: 5px
}
.tabrightsel {
  background-image: url(silver/tab_tabright.gif);
  background-repeat: no-repeat;
  background-position: bottom;
  width: 5px
}
.tabtitlesel {
  background-image: url(silver/tab_tabcenter.gif);
  background-repeat: repeat-x;
  background-position: bottom;
  font-family: tahoma;
  font-size: 10px;
  font-weight: 700;
  color: #333;
  padding: 5px 7px
}
.resize_bar {
  cursor: n-resize;
  background-color: #f0f0f0;
  height: 6px;
  border: #cfcfcf 1px solid;
  border-bottom: none;
  background-image: url(resize.png);
  background-position: center center;
  background-repeat: no-repeat
}
.isdropdown {
  background-color: #F1F1EF;
  padding: 0;
  border: 1px solid #C6C6BF;
  box-shadow: 0 1px 5px rgba(0,0,0,0.2);
}
.tableft,
.tabright {
  width: 5px
}
