.grid-style-projects .tab-content ul li{
	padding: 10px;
}
.grid-style-projects .grid figure img {position: relative; top: 0; opacity: 1; }
.grid-style-projects .grid figure:hover img {top:0; -ms-transform: scale(1.1,1.1); -webkit-transform: scale(1.1,1.1);  transform: scale(1.1,1.1); opacity: .2;  cursor:url("../theme/kodar/images/icon-zoom-white2.png"), pointer; box-shadow: none; outline: none;}
.grid-style-projects .grid h3 { font-size: 18px; position: absolute; left: 0; right: 0; text-align: center; bottom: 0; z-index: 5; line-height: 25px; opacity: 0; color: rgba(255,255,255,1)}
.grid-style-projects .grid h3:after { border-bottom: 8px solid rgba(255,26,86,1); content: ""; left: 0; right: 0; position: absolute; bottom: -25px; width: 40%; margin: 0 auto }
.grid-style-projects .grid figure h3 {opacity: 1; bottom: 70px; letter-spacing: 10px;}
.grid-style-projects .grid h3 a { color: rgba(255,255,255,1)}


.mfp-arrow {
	position: fixed;
}
a.mfp-close, a.mfp-arrow {
	overflow: visible;
	cursor: pointer;
	background: transparent;
	border: 0;
	-webkit-appearance: none;
	display: block;
	outline: none;
	padding: 0;
	z-index: 9;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#t-no-gallery {
	height: 310px;
    background-attachment: fixed;
}