#invoice-wrapper {
	margin-left: -40px;
	margin-right: -40px;
	background: #dedddc;
}

@media (max-width: 767px) {
	#invoice-wrapper {
		margin-left: -20px;
		margin-right: -20px;
	}
}

#invoice-page {
	height: 29.7cm;
	width: 21cm;
	background: #fff;
	border: 2px solid black;
	margin: 0 auto;
	position: relative !important;
}
#invoice-page .component {
	border: 1px dashed;
	font-size: 1.5rem;
	min-height: 3rem;
	min-width: 3rem;
	overflow: hidden;
	position: absolute !important;
}
#invoice-page .component a {
	color: black;
}
#invoice-page .component a:hover, 
#invoice-page .component a:focus {
	color: black;
	text-decoration: none;
}
#invoice-page .component-active {
	border-color: red;
}
#invoice-page .component-delete {
	display: none;
	background-color: #d8d8d8;
	cursor: pointer;
	right: 0;
	top: 0;
	padding: 1px;
	position: absolute;
}
#invoice-page .component:hover .component-delete {
	display: inline;
}


#invoice-components {
	background: #fff;
}
#invoice-components .component-delete {
	display: none;
}

#invoice-component-configs {
	position: absolute;
	right: 10px;
	top: 5px;
	background: white;
	border: 1px solid black;
}
#invoice-component-configs .panel {
	margin-bottom: 0;
}
#invoice-component-configs .panel .panel-body {
	padding: 10px;
}


/**/
.b-1 {
	border: 1px solid !important;
}
.p-l-02 {
	padding-left: .2rem !important;
}