.veriasist.feed a {
  cursor: pointer;
}
.veriasist.feed,
.veriasist.feed .event,
.veriasist.feed .label,
.veriasist.feed .content,
.veriasist.feed .extra {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
/* == Content == */
.veriasist.feed .veriasist.header p{
  font-size:1rem;
}
.veriasist.feed .event {
  width: 100%;
  display: table;
  padding: 1em;
}
.veriasist.feed .event:first-child {
  border-top: 0px;
}
.veriasist.feed .event:last-child {
  margin-bottom: 1em;
}
/* == Event Label == */
.veriasist.feed .label {
  width: 3em;
  display: table-cell;
  vertical-align: top;
  text-align: left;
}
.veriasist.feed .label .icon {
  font-size: 1.5em;
  padding: 0.5em;
  line-height: 1;
  margin: 0em;
}
.veriasist.feed .label img {
  width: 3em;
  margin: 0em;
  border-radius: 50em;
}
.veriasist.feed .label + .content {
  padding: 0.75em 1em 0em;
}
.veriasist.feed .content {
  display: table-cell;
  vertical-align: top;
  text-align: left;
  word-wrap: break-word;
}
/* == Event Date == */
.veriasist.feed .content .date {
  float: right;
  padding-left: 1em;
  font-size: 0.95em;
  color: rgba(0, 0, 0, 0.4);
}
/* == Summary == */
.veriasist.feed .content .summary {
  color: rgba(0, 0, 0, 0.75);
}
.veriasist.feed .content .summary img {
  display: inline-block;
  margin-right: 0.25em;
  width: 4em;
  border-radius: 500px;
}
/* == Information == */
.veriasist.feed .content .extra {
  margin: 1em 0em 0em;
  padding: 0.5em 0em 0em;
  color: rgba(0, 0, 0, 0.5);
}
.veriasist.feed .content .extra.images img {
  display: inline-block;
  margin-right: 0.25em;
  width: 6em;
}
.veriasist.feed .content .extra.text {
  padding: 0.5em 1em;
  border-left: 0.2em solid rgba(0, 0, 0, 0.1);
}
/* == Variations == */
.veriasist.small.feed {
  font-size: 0.875em;
}
.veriasist.small.feed .label img {
  width: 2.5em;
}
.veriasist.small.feed .label .icon {
  font-size: 1.25em;
}
.veriasist.feed .event {
  padding: 0.75em 0em;
}
.veriasist.small.feed .label + .content {
  padding: 0.5em 0.5em 0;
}
.veriasist.small.feed .content .extra.images img {
  width: 5em;
}
.veriasist.small.feed .content .extra {
  margin: 0.5em 0em 0em;
}
.veriasist.small.feed .content .extra.text {
  padding: 0.25em 0.5em;
}