/* == Label == */
.veriasist.label {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  background-color: #F5F5F5;
  border-color: #F5F5F5;
  padding: .3em .5em;
  font-family: 'Archivo Narrow';
  font-weight: 700;
  border-radius: .325em;
  white-space: nowrap;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: background .1s linear;
  transition: background .1s linear
}
.veriasist.label:first-child {
  margin-left: 0
}
.veriasist.label:last-child {
  margin-right: 0
}
a.veriasist.label {
  cursor: pointer
}
.veriasist.label a {
  cursor: pointer;
  color: inherit;
  opacity: 0.8;
  -webkit-transition: .2s opacity ease;
  transition: .2s opacity ease
}
.veriasist.label a:hover {
  opacity: 1
}
.veriasist.label .detail {
  display: inline-block;
  margin-left: .5em;
  font-weight: 700;
  opacity: 0.8
}
.veriasist.label .icon {
  width: auto;
  font-size:1em;
}
/* == Removable label == */
.veriasist.label .delete.icon {
  cursor: pointer;
  margin: 0 0 0 .5em;
  opacity: 0.7;
  -webkit-transition: background .1s linear;
  transition: background .1s linear
}
.veriasist.label .delete.icon:hover {
  opacity: 0.99
}
/* == Coupling == */
.veriasist.segment > .attached.label:first-child + * {
  margin-top: 2.5em
}
.veriasist.segment > .bottom.attached.label:first-child ~ :last-child {
  margin-top: 0;
  margin-bottom: 2.5em
}
/* == Types == */
.veriasist.image.label {
  width: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: .4em;
  padding-bottom: .4em;
  line-height: 1.5em;
  vertical-align: baseline;
  text-transform: none;
  -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.1) inset;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.1) inset
}
.veriasist.image.label img {
  display: inline-block;
  height: 2.25em;
  margin: -.4em .8em -.4em -.8em;
  vertical-align: top;
  border-radius: .325em 0 0 .325em
}
/* == States == */
.veriasist.label.disabled {
  opacity: 0.5
}
a.veriasist.labels .label:hover,
a.veriasist.label:hover,
a.veriasist.label.active {
  background-color: #EBEBEB;
  border-color: #EBEBEB;
  color: rgba(0,0,0,0.7)
}
.veriasist.labels a.label:hover:before,
a.veriasist.label:hover:before,
a.veriasist.label.active:before {
  background-color: #EBEBEB;
  color: rgba(0,0,0,0.7)
}
/* == Variations == */
.veriasist.tag.labels .label,
.veriasist.tag.label {
margin-left: 1em;
position: relative;
padding-left: 1.5em;
padding-right: 1.5em;
border-radius: 0em 0.2857rem 0.2857rem 0em;
}
.veriasist.tag.labels .label:before,
.veriasist.tag.label:before {
position: absolute;
-webkit-transform: translateY(-50%) translateX(50%) rotate(-45deg);
-ms-transform: translateY(-50%) translateX(50%) rotate(-45deg);
transform: translateY(-50%) translateX(50%) rotate(-45deg);
top: 50%;
right: 100%;
content: '';
background-color: #F5F5F5;
background-image: none;
width: 1.25em;
height: 1.25em;
-webkit-transition: background 0.2s ease;
transition: background 0.2s ease;
}
.veriasist.tag.labels .label:after,
.veriasist.tag.label:after {
position: absolute;
content: '';
top: 50%;
left: -0.25em;
margin-top: -0.25em;
background-color: #ffffff !important;
width: 0.5em;
height: 0.5em;
box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.3);
border-radius: 500rem;
}
/* == Ribbon == */
.veriasist.ribbon.label {
  position: relative;
  margin: 0 .2em;
  left: -2rem;
  padding-left: 2rem;
  border-radius: 0 4px 4px 0;
  border-color: rgba(0,0,0,0.15)
}
.veriasist.ribbon.label:after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  border-top: 0 solid transparent;
  border-right-width: 1em;
  border-right-color: inherit;
  border-right-style: solid;
  border-bottom: 1em solid transparent;
  border-left: 0 solid transparent;
  width: 0;
  height: 0
}
/* == Attached == */
.veriasist.top.attached.label,
.veriasist.attached.label {
  width: 100%;
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  padding: .75em 1em;
  border-radius: .325em .325em 0 0
}
.veriasist.bottom.attached.label {
  top: auto;
  bottom: 0;
  border-radius: 0 0 .325em .325em
}
.veriasist.top.left.attached.label {
  width: auto;
  margin-top: 0;
  border-radius: .325em 0 .325em 0
}
.veriasist.top.right.attached.label {
  width: auto;
  left: auto;
  right: 0;
  border-radius: 0 .325em 0 .325em
}
.veriasist.bottom.left.attached.label {
  width: auto;
  top: auto;
  bottom: 0;
  border-radius: 0 .325em 0 .325em
}
.veriasist.bottom.right.attached.label {
  top: auto;
  bottom: 0;
  left: auto;
  right: 0;
  width: auto;
  border-radius: .325em 0 .325em 0
}
.veriasist.bottom.right.attached.special.label {
  box-shadow:inset 2px 2px 0 0 rgba(0,0,0,0.15);
}
/* == Corner == */
.veriasist.corner.label {
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  margin: 0;
  width: 2.5em;
  height: 2.5em;
  padding: 0;
  text-align: center;
  -webkit-transition: color .2s ease;
  transition: color .2s ease
}
.veriasist.corner.label:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  z-index: -1;
  width: 0;
  height: 0;
  border-top: 0 solid transparent;
  border-right: 2.5em solid transparent;
  border-bottom: 2.5em solid transparent;
  border-left: 0 solid transparent;
  border-right-color: inherit;
  -webkit-transition: border-color .2s ease;
  transition: border-color .2s ease
}
.veriasist.corner.label .icon {
  font-size: .875em;
  margin: .5em 0 0 1.25em
}
.veriasist.corner.label .text {
  display: inline-block;
  font-weight: 700;
  margin: .5em 0 0 1em;
  width: 2.5em;
  font-size: .875em;
  text-align: center;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg)
}
/* == Coupling == */
.veriasist.rounded.image > .veriasist.corner.label,
.veriasist.input > .veriasist.corner.label,
.veriasist.segment > .veriasist.corner.label {
  overflow: hidden
}
.veriasist.segment > .veriasist.corner.label {
  top: 0;
  right: 0
}
.veriasist.segment > .veriasist.left.corner.label {
  right: auto;
  left: -1px
}
.veriasist.input > .veriasist.corner.label {
  top: 1px;
  right: 1px
}
.veriasist.input > .veriasist.right.corner.label {
  right: auto;
  left: 1px
}
.veriasist.left.corner.label,
.veriasist.left.corner.label:after {
  right: auto;
  left: 0
}
.veriasist.left.corner.label:after {
  border-top: 3em solid transparent;
  border-right: 3em solid transparent;
  border-bottom: 0 solid transparent;
  border-left: 0 solid transparent;
  border-top-color: inherit
}
.veriasist.left.corner.label .icon {
  margin: .5em 0 0 -1em
}
.veriasist.left.corner.label .text {
  margin: .5em 0 0 -1em;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg)
}
.veriasist.corner.label:hover {
  background-color: transparent
}
/* == Fluid == */
.veriasist.label.fluid,
.veriasist.fluid.labels > .label {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box
}
/* == Colors == */
.veriasist.black.labels .label,
.veriasist.black.label,
.veriasist.inverted.labels .label,
.veriasist.inverted.label,
.veriasist.ribbon .ribbon.inverted,
.veriasist.ribbon .ribbon.black {
  background-color: #4a5c62;
  border-color: #4a5c62;
  color: rgba(255,255,255,0.80)
}
.veriasist.labels .black.label:before,
.veriasist.black.labels .label:before,
.veriasist.black.label:before {
  background-color: #4a5c62
}
a.veriasist.black.labels .label:hover,
a.veriasist.black.label:hover {
  background-color: #53BD99;
  border-color: #53BD99;
  color: rgba(255,255,255,1)
}
.veriasist.labels a.black.label:hover:before,
.veriasist.black.labels a.label:hover:before,
a.veriasist.black.label:hover:before {
  background-color: #53BD99
}
.veriasist.black.corner.label,
.veriasist.black.corner.label:hover {
  background-color: transparent
}
.veriasist.black.ribbon.label {
  border-color: #4a5c62
}
.veriasist.positive.labels .label,
.veriasist.positive.label,
.veriasist.ribbon .ribbon.positive {
  background-color: #53BD99;
  border-color: #53BD99;
  color: rgba(255,255,255,0.80)
}
.veriasist.labels .positive.label:before,
.veriasist.positive.labels .label:before,
.veriasist.positive.label:before {
  background-color: #53BD99
}
a.veriasist.positive.labels .label:hover,
a.veriasist.positive.label:hover {
  background-color: #4a5c62;
  border-color: #4a5c62;
  color: rgba(255,255,255,1)
}
.veriasist.labels a.positive.label:hover:before,
.veriasist.positive.labels a.label:hover:before,
a.veriasist.positive.label:hover:before {
  background-color: #4a5c62
}
.veriasist.positive.corner.label,
.veriasist.positive.corner.label:hover {
  background-color: transparent
}
.veriasist.positive.ribbon.label {
  border-color: #53BD99
}
.veriasist.negative.labels .label,
.veriasist.negative.label,
.veriasist.ribbon .ribbon.negative {
  background-color: #E74C3C;
  border-color: #E74C3C;
  color: rgba(255,255,255,0.80)
}
.veriasist.labels .negative.label:before,
.veriasist.negative.labels .label:before,
.veriasist.negative.label:before {
  background-color: #E74C3C
}
.veriasist.negative.corner.label,
.veriasist.negative.corner.label:hover {
  background-color: transparent
}
a.veriasist.negative.labels .label:hover,
a.veriasist.negative.label:hover {
  background-color: #9AD03E;
  border-color: #9AD03E;
  color: rgba(255,255,255,1)
}
.veriasist.labels a.negative.label:hover:before,
.veriasist.negative.labels a.label:hover:before,
a.veriasist.negative.label:hover:before {
  background-color: #9AD03E
}
.veriasist.negative.ribbon.label {
  border-color: #E74C3C
}
.veriasist.info.labels .label,
.veriasist.info.label,
.veriasist.ribbon .ribbon.info {
  background-color: #5795AF;
  border-color: #5795AF;
  color: rgba(255,255,255,0.80)
}
.veriasist.labels .info.label:before,
.veriasist.info.labels .label:before,
.veriasist.info.label:before {
  background-color: #5795AF
}
a.veriasist.info.labels .label:hover,
.veriasist.info.labels a.label:hover,
a.veriasist.info.label:hover {
  background-color: #68a0b8;
  border-color: #68a0b8;
  color: rgba(255,255,255,1)
}
.veriasist.labels a.info.label:hover:before,
.veriasist.info.labels a.label:hover:before,
a.veriasist.info.label:hover:before {
  background-color: #68a0b8
}
.veriasist.info.corner.label,
.veriasist.info.corner.label:hover {
  background-color: transparent
}
.veriasist.info.ribbon.label {
  border-color: #68a0b8
}
.veriasist.purple.labels .label,
.veriasist.purple.label,
.veriasist.ribbon .ribbon.purple {
  background-color: #7A6591;
  border-color: #7A6591;
  color: rgba(255,255,255,0.80)
}
.veriasist.labels .purple.label:before,
.veriasist.purple.labels .label:before,
.veriasist.purple.label:before {
  background-color: #7A6591
}
a.veriasist.purple.labels .label:hover,
.veriasist.purple.labels a.label:hover,
a.veriasist.purple.label:hover {
  background-color: #87719f;
  border-color: #87719f;
  color: rgba(255,255,255,1)
}
.veriasist.labels a.purple.label:hover:before,
.veriasist.purple.labels a.label:hover:before,
a.veriasist.purple.label:hover:before {
  background-color: #87719f
}
.veriasist.purple.corner.label,
.veriasist.purple.corner.label:hover {
  background-color: transparent
}
.veriasist.purple.ribbon.label {
  border-color: #87719f
}
.veriasist.warning.labels .label,
.veriasist.warning.label,
.veriasist.ribbon .ribbon.warning {
  background-color: #EDAA10;
  border-color: #EDAA10;
  color: rgba(255,255,255,0.80)
}
.veriasist.labels .warning.label:before,
.veriasist.warning.labels .label:before,
.veriasist.warning.label:before {
  background-color: #EDAA10
}
a.veriasist.warning.labels .label:hover,
.veriasist.warning.labels a.label:hover,
a.veriasist.warning.label:hover {
  background-color: #f0b327;
  border-color: #f0b327;
  color: rgba(255,255,255,1)
}
.veriasist.labels a.warning.label:hover:before,
.veriasist.warning.labels a.label:hover:before,
a.veriasist.warning.label:hover:before {
  background-color: #f0b327
}
.veriasist.warning.corner.label,
.veriasist.warning.corner.label:hover {
  background-color: transparent
}
.veriasist.warning.ribbon.label {
  border-color: #f0b327
}
.veriasist.teal.labels .label,
.veriasist.teal.label,
.veriasist.ribbon .ribbon.teal {
  background-color: #61A299;
  border-color: #61A299;
  color: rgba(255,255,255,0.80)
}
.veriasist.labels .teal.label:before,
.veriasist.teal.labels .label:before,
.veriasist.teal.label:before {
  background-color: #61A299
}
a.veriasist.teal.labels .label:hover,
.veriasist.teal.labels a.label:hover,
a.veriasist.teal.label:hover {
  background-color: #70aca4;
  border-color: #70aca4;
  color: rgba(255,255,255,1)
}
.veriasist.labels a.teal.label:hover:before,
.veriasist.teal.labels a.label:hover:before,
a.veriasist.teal.label:hover:before {
  background-color: #70aca4
}
.veriasist.teal.corner.label,
.veriasist.teal.corner.label:hover {
  background-color: transparent
}
.veriasist.teal.ribbon.label {
  border-color: #70aca4
}
/* == Horizontal == */
.veriasist.horizontal.labels .label,
.veriasist.horizontal.label {
  margin: -.125em .5em -.125em 0;
  padding: .35em 1em;
  min-width: 6em;
  text-align: center
}
/* == Circular == */
.veriasist.circular.labels .label,
.veriasist.circular.label {
  min-height: 1em;
  max-height: 2em;
  padding: .5em;
  line-height: 1em;
  text-align: center;
  border-radius: 500rem
}
/* == Pointing == */
.veriasist.pointing.label {
  position: relative
}
.veriasist.attached.pointing.label {
  position: absolute
}
.veriasist.pointing.label:before {
  position: absolute;
  content: "";
  width: .6em;
  height: .6em;
  background-image: none;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: 2;
  -webkit-transition: background .1s linear;
  transition: background .1s linear
}
.veriasist.pointing.label:before {
  background-color: #E8E8E8
}
.veriasist.pointing.label,
.veriasist.pointing.above.label {
  margin-top: 1em
}
.veriasist.pointing.label:before,
.veriasist.pointing.above.label:before {
  margin-left: -.3em;
  top: -.3em;
  left: 50%
}
.veriasist.pointing.below.label {
  margin-top: 0;
  margin-bottom: 1em
}
.veriasist.pointing.below.label:before {
  margin-left: -.3em;
  top: auto;
  right: auto;
  bottom: -.3em;
  left: 50%
}
.veriasist.pointing.left.label {
  margin-top: 0;
  margin-left: 1em
}
.veriasist.pointing.left.label:before {
  margin-top: -.3em;
  bottom: auto;
  right: auto;
  top: 50%;
  left: 0
}
.veriasist.pointing.right.label {
  margin-top: 0;
  margin-right: 1em
}
.veriasist.pointing.right.label:before {
  margin-top: -.3em;
  right: -.3em;
  top: 50%;
  bottom: auto;
  left: auto
}
/* == Floating == */
.veriasist.floating.label {
  position: absolute;
  z-index: 100;
  top: -1em;
  left: 100%;
  margin: 0 0 0 -1.5em
}
/* == Ribbons == */
.veriasist.ribbon {
  height: 88px;
  overflow: hidden;
  position: absolute;
  right: -3px;
  top: -3px;
  width: 85px;
}
.veriasist.ribbon .ribbon:before {
  bottom: -1px;
  left: 0;
}
.veriasist.ribbon .ribbon:after {
  right: 0;
}
.veriasist.ribbon .ribbon:before, 
.veriasist.ribbon .ribbon:after {
  border-left: 2px solid rgba(0, 0, 0, 0);
  border-right: 2px solid rgba(0, 0, 0, 0);
  border-top: 2px solid #797979;
  bottom: -2px;
  content: "";
  position: absolute;
}
.veriasist.ribbon .ribbon {
  background-color: #797979;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  color: #FFFFFF;
  display: block;
  font-size:.95em;
  font-weight: 600;
  left: -5px;
  line-height: 20px;
  padding: 7px 0;
  position: relative;
  text-align: center;
  top: 15px;
  transform: rotate(45deg);
  width: 120px;
}
/* == Sizes == */
.veriasist.small.labels .label,
.veriasist.small.label {
  font-size:.75rem;
  line-height:.85rem
}
.veriasist.label {
  font-size:.85rem;
  line-height:.95rem
}
.veriasist.large.labels .label,
.veriasist.large.label {
  font-size:1rem;
  line-height:.95rem
}
.veriasist.huge.labels .label,
.veriasist.huge.label {
  font-size: 1.1rem;
  line-height:1rem
}