/*--------------
      Menu
---------------*/
.veriasist.menu {
  margin: 1rem 0rem;
  background-color: #FFFFFF;
  font-size: 0px;
  font-weight: normal;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  border-radius: 0.1875rem;
}
.veriasist.menu:first-child {
  margin-top: 0rem;
}
.veriasist.menu:last-child {
  margin-bottom: 0rem;
}
.veriasist.menu:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.veriasist.menu > .item:first-child {
  border-radius: 0.1875em 0px 0px 0.1875em;
}
.veriasist.menu > .item:last-child {
  border-radius: 0px 0.1875em 0.1875em 0px;
}
.veriasist.menu .item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  vertical-align: middle;
  line-height: 1;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: opacity 0.2s ease, background 0.2s ease, -webkit-box-shadow 0.2s ease;
  -moz-transition: opacity 0.2s ease, background 0.2s ease, box-shadow 0.2s ease;
  transition: opacity 0.2s ease, background 0.2s ease, box-shadow 0.2s ease;
}
/*--------------
    Colors
---------------*/
/* Text Color */
.veriasist.menu .item,
.veriasist.menu .item > a:not(.button) {
  color: rgba(0, 0, 0, 0.75);
}
.veriasist.menu .item .item,
.veriasist.menu .item .item > a:not(.button) {
  color: rgba(30, 30, 30, 0.7);
}
.veriasist.menu .item .item .item,
.veriasist.menu .item .item .item > a:not(.button) {
  color: rgba(30, 30, 30, 0.6);
}
.veriasist.menu .dropdown .menu .item,
.veriasist.menu .dropdown .menu .item a:not(.button) {
  color: rgba(0, 0, 0, 0.75);
}
/* Hover */
.veriasist.menu .item .menu a.item:hover,
.veriasist.menu .item .menu .link.item:hover {
  color: rgba(0, 0, 0, 0.85);
}
.veriasist.menu .dropdown .menu .item a:not(.button):hover {
  color: rgba(0, 0, 0, 0.85);
}
/* Active */
.veriasist.menu .active.item,
.veriasist.menu .active.item a:not(.button) {
  color: rgba(0, 0, 0, 0.85);
  border-radius: 0px;
}
/*--------------
      Items
---------------*/
.veriasist.menu .item {
  position: relative;
  display: inline-block;
  padding: 0.83em 0.95em;
  border-top: 0em solid rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.veriasist.menu .menu {
  margin: 0em;
}
.veriasist.menu .item.left,
.veriasist.menu .menu.left {
  float: left;
}
.veriasist.menu .item.right,
.veriasist.menu .menu.right {
  float: right;
}
/*--------------
    Borders
---------------*/
.veriasist.menu .item:before {
  position: absolute;
  content: '';
  top: 0%;
  left: 0px;
  width: 1px;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.05)), color-stop(50%, rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.05)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.05) 100%);
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.05) 100%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.05) 100%);
}
.veriasist.menu > .menu:not(.right):first-child > .item:first-child:before,
.veriasist.menu .item:first-child:before {
  display: none;
}
.veriasist.menu .menu.right .item:before,
.veriasist.menu .item.right:before {
  right: auto;
  left: 0px;
}
/*--------------
  Text Content
---------------*/
.veriasist.menu .text.item > *,
.veriasist.menu .item > p:only-child {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  line-height: 1.3;
  color: rgba(0, 0, 0, 0.6);
}
.veriasist.menu .item > p:first-child {
  margin-top: 0px;
}
.veriasist.menu .item > p:last-child {
  margin-bottom: 0px;
}
/*--------------
     Button
---------------*/
.veriasist.menu:not(.vertical) .item > .button {
  position: relative;
  top: -0.05em;
  margin: -0.55em 0;
  padding-bottom: 0.55em;
  padding-top: 0.55em;
  font-size: 0.875em;
}
/*--------------
     Inputs
---------------*/
.veriasist.menu:not(.vertical) .item > .input {
  margin-top: -0.85em;
  margin-bottom: -0.85em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  width: 100%;
  vertical-align: top;
}
.veriasist.menu .item > .input input {
  padding-top: 0.35em;
  padding-bottom: 0.35em;
}
.veriasist.vertical.menu .item > .input input {
  margin: 0em;
  padding-top: 0.63em;
  padding-bottom: 0.63em;
}
/* Action Input */
.veriasist.menu:not(.vertical) .item > .button.labeled > .icon {
  padding-top: 0.6em;
}
.veriasist.menu:not(.vertical) .item .action.input > .button {
  font-size: 0.8em;
  padding: 0.55em 0.8em;
}
/* Resizes */
.veriasist.small.menu:not(.vertical) .item > .input input {
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}
.veriasist.large.menu:not(.vertical) .item > .input input {
  top: -0.125em;
  padding-bottom: 0.6em;
  padding-top: 0.6em;
}
.veriasist.large.menu:not(.vertical) .item .action.input > .button {
  font-size: 0.8em;
  padding: 0.9em;
}
.veriasist.large.menu:not(.vertical) .item .action.input > .button > .icon {
  padding-top: 0.8em;
}
/*--------------
     Header
---------------*/
.veriasist.menu .header.item {
  background-color: rgba(0, 0, 0, 0.04);
  margin: 0em;
}
.veriasist.vertical.menu .header.item {
  font-weight: bold;
}
/*--------------
    Dropdowns
---------------*/
.veriasist.menu .dropdown .menu .item .icon {
  float: none;
  margin: 0em 0.75em 0em 0em;
}
.veriasist.menu .dropdown.item .menu {
  left: 1px;
  margin: 0px;
  min-width: -webkit-calc(99%);
  min-width: -moz-calc(99%);
  min-width: calc(99%);
  -webkit-box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.veriasist.secondary.menu .dropdown.item .menu {
  left: 0px;
  min-width: 100%;
}
.veriasist.menu .pointing.dropdown.item .menu {
  margin-top: 0.75em;
}
.veriasist.menu .simple.dropdown.item .menu {
  margin: 0px !important;
}
.veriasist.menu .dropdown.item .menu .item {
  width: 100%;
  color: rgba(0, 0, 0, 0.75);
}
.veriasist.menu .dropdown.item .menu .active.item {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.veriasist.menu .veriasist.dropdown .menu .item:before {
  display: none;
}
/*--------------
     Labels
---------------*/
.veriasist.menu .item > .label {
  background-color: rgba(0, 0, 0, 0.35);
  color: #FFFFFF;
  margin: -0.15em 0em -0.15em 0.5em;
  padding: 0.3em 0.8em;
  vertical-align: baseline;
}
.veriasist.menu .item > .floating.label {
  padding: 0.3em 0.8em;
}
/*--------------
      Images
---------------*/
.veriasist.menu .item > img:only-child {
  display: block;
  max-width: 100%;
  margin: 0em auto;
}
/*******************************
             States
*******************************/
/*--------------
      Hover
---------------*/
.veriasist.link.menu .item:hover,
.veriasist.menu .link.item:hover,
.veriasist.menu a.item:hover,
.veriasist.menu .veriasist.dropdown .menu .item:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.02);
}
.veriasist.menu .veriasist.dropdown.item.active {
  background-color: rgba(0, 0, 0, 0.02);
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-border-bottom-right-radius: 0em;
  border-bottom-right-radius: 0em;
  -moz-border-bottom-left-radius: 0em;
  border-bottom-left-radius: 0em;
}
/*--------------
      Down
---------------*/
.veriasist.link.menu .item:active,
.veriasist.menu .link.item:active,
.veriasist.menu a.item:active,
.veriasist.menu .veriasist.dropdown .menu .item:active {
  background-color: rgba(0, 0, 0, 0.05);
}
/*--------------
     Active
---------------*/
.veriasist.menu .active.item {
  background-color: rgba(0, 0, 0, 0.01);
  color: rgba(0, 0, 0, 0.95);
  -webkit-box-shadow: 0em 0.2em 0em inset;
  box-shadow: 0em 0.2em 0em inset;
}
.veriasist.vertical.menu .active.item {
  border-radius: 0em;
  -webkit-box-shadow: 0.2em 0em 0em inset;
  box-shadow: 0.2em 0em 0em inset;
}
.veriasist.vertical.menu > .active.item:first-child {
  border-radius: 0em 0.1875em 0em 0em;
}
.veriasist.vertical.menu > .active.item:last-child {
  border-radius: 0em 0em 0.1875em 0em;
}
.veriasist.vertical.menu > .active.item:only-child {
  border-radius: 0em 0.1875em 0.1875em 0em;
}
.veriasist.vertical.menu .active.item .menu .active.item {
  border-left: none;
}
.veriasist.vertical.menu .active.item .menu .active.item {
  padding-left: 1.5rem;
}
.veriasist.vertical.menu .item .menu .active.item {
  background-color: rgba(0, 0, 0, 0.03);
  -webkit-box-shadow: none;
  box-shadow: none;
}
/*--------------
     Disabled
---------------*/
.veriasist.menu .item.disabled,
.veriasist.menu .item.disabled:hover {
  cursor: default;
  color: rgba(0, 0, 0, 0.2);
  background-color: transparent !important;
}
.veriasist.menu .item.disabled i.icon {
  margin:0
}
/*--------------------
     Loading
---------------------*/
/* On Form */
.veriasist.menu.loading {
  position: relative;
}
.veriasist.menu.loading:after {
  position: absolute;
  top: 0%;
  left: 0%;
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8) url(../images/loader-large.gif) no-repeat 50% 50%;
  visibility: visible;
}
/*******************************
             Types
*******************************/
/*--------------
    Vertical
---------------*/
.veriasist.vertical.menu .item {
  display: block;
  height: auto !important;
  border-top: none;
  border-left: 0em solid rgba(0, 0, 0, 0);
  border-right: none;
}
.veriasist.vertical.menu > .item:first-child {
  border-radius: 0.1875em 0.1875em 0px 0px;
}
.veriasist.vertical.menu > .item:last-child {
  border-radius: 0px 0px 0.1875em 0.1875em;
}
.veriasist.vertical.menu .item > .label {
  float: right;
  text-align: center;
}
.veriasist.vertical.menu .item > i.icon {
  float: right;
  width: 1.22em;
  margin: 0em 0em 0em 0.5em;
}
.veriasist.vertical.menu .item > .label + i.icon {
  float: none;
  margin: 0em 0.25em 0em 0em;
}
/*--- Border ---*/
.veriasist.vertical.menu .item:before {
  position: absolute;
  content: '';
  top: 0%;
  left: 0px;
  width: 100%;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.03) 0%, rgba(0, 0, 0, 0.1) 1.5em, rgba(0, 0, 0, 0.03) 100%);
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.03) 0%, rgba(0, 0, 0, 0.1) 1.5em, rgba(0, 0, 0, 0.03) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.03)), color-stop(1.5em, rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.03)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.03) 0%, rgba(0, 0, 0, 0.1) 1.5em, rgba(0, 0, 0, 0.03) 100%);
}
.veriasist.vertical.menu .item:first-child:before {
  background-image: none !important;
}
/*--- Dropdown ---*/
.veriasist.vertical.menu .dropdown.item > i {
  float: right;
  content: "\f0da";
}
.veriasist.vertical.menu .dropdown.item .menu {
  top: 0% !important;
  left: 100%;
  margin: 0px 0px 0px 1px;
  -webkit-box-shadow: 0 0px 1px 1px #DDDDDD;
  box-shadow: 0 0px 1px 1px #DDDDDD;
}
.veriasist.vertical.menu .dropdown.item.active {
  border-top-right-radius: 0em;
  border-bottom-right-radius: 0em;
}
.veriasist.vertical.menu .dropdown.item .menu .item {
  font-size: 1rem;
}
.veriasist.vertical.menu .dropdown.item .menu .item i.icon {
  margin-right: 0em;
}
.veriasist.vertical.menu .dropdown.item.active {
  -webkit-box-shadow: none;
  box-shadow: none;
}
/*--- Sub Menu ---*/
.veriasist.vertical.menu .item > .menu {
  margin: 0.5em -0.95em 0em;
}
.veriasist.vertical.menu .item > .menu > .item {
  padding: 0.5rem 1.5rem;
  font-size: 0.875em;
}
.veriasist.vertical.menu .item > .menu > .item:before {
  display: none;
}
/*--------------
     Tiered
---------------*/
.veriasist.tiered.menu > .sub.menu > .item {
  color: rgba(0, 0, 0, 0.4);
}
.veriasist.tiered.menu > .menu > .item:hover {
  color: rgba(0, 0, 0, 0.8);
}
.veriasist.tiered.menu .item.active {
  color: rgba(0, 0, 0, 0.8);
}
.veriasist.tiered.menu > .menu .item.active:after {
  position: absolute;
  content: '';
  margin-top: -1px;
  top: 100%;
  left: 0px;
  width: 100%;
  height: 2px;
  background-color: #FBFBFB;
}
.veriasist.tiered.menu .sub.menu {
  background-color: rgba(0, 0, 0, 0.01);
  border-radius: 0em;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #FFFFFF;
}
.veriasist.tiered.menu .sub.menu .item {
  font-size: 0.875rem;
}
.veriasist.tiered.menu .sub.menu .item:before {
  background-image: none;
}
.veriasist.tiered.menu .sub.menu .active.item {
  padding-top: 0.83em;
  background-color: transparent;
  border-radius: 0 0 0 0;
  border-top: medium none;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: rgba(0, 0, 0, 0.7) !important;
}
.veriasist.tiered.menu .sub.menu .active.item:after {
  display: none;
}
/* Inverted */
.veriasist.inverted.tiered.menu > .menu > .item {
  color: rgba(255, 255, 255, 0.5);
}
.veriasist.inverted.tiered.menu .sub.menu {
  background-color: rgba(0, 0, 0, 0.2);
}
.veriasist.inverted.tiered.menu .sub.menu .item {
  color: rgba(255, 255, 255, 0.6);
}
.veriasist.inverted.tiered.menu > .menu > .item:hover {
  color: rgba(255, 255, 255, 0.9);
}
.veriasist.inverted.tiered.menu .active.item:after {
  display: none;
}
.veriasist.inverted.tiered.menu > .sub.menu > .active.item,
.veriasist.inverted.tiered.menu > .menu > .active.item {
  color: #ffffff !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* Tiered pointing */
.veriasist.pointing.tiered.menu > .menu > .item:after {
  display: none;
}
.veriasist.pointing.tiered.menu > .sub.menu > .item:after {
  display: block;
}
/*--------------
     Tabular
---------------*/
.veriasist.tabular.menu {
  background-color: transparent;
  border-bottom: 1px solid #DCDDDE;
  border-radius: 0em;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.veriasist.tabular.menu .item {
  background-color: transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-top: 1px solid transparent;
  padding-left: 1.4em;
  padding-right: 1.4em;
  color: rgba(0, 0, 0, 0.6);
}
.veriasist.tabular.menu .item:before {
  display: none;
}
/* Hover */
.veriasist.tabular.menu .item:hover {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.8);
}
/* Active */
.veriasist.tabular.menu .active.item {
  position: relative;
  background-color: #FFFFFF;
  color: rgba(0, 0, 0, 0.8);
  border-color: #DCDDDE;
  font-weight: bold;
  margin-bottom: -1px;
  border-bottom: 1px solid #FFFFFF;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 5px 5px 0 0;
}
/* Coupling with segment for attachment */
.veriasist.attached.tabular.menu {
  position: relative;
  z-index: 2;
}
.veriasist.tabular.menu ~ .bottom.attached.segment {
  margin: 1px 0px 0px 1px;
}
/*--------------
   Pagination
---------------*/
.veriasist.pagination.menu {
  margin: 0em;
  display: inline-block;
  vertical-align: middle;
  background-color: transparent;
  box-shadow:none;
}
.veriasist.pagination.menu .item {
  min-width: 3em;
  text-align: center;
  box-shadow: 0 0 0 1px #fff;
  margin:0 .25em;
  border-radius: 0.1875em;
}
.veriasist.pagination.menu .icon.item i.icon {
  vertical-align: top;
}
.veriasist.pagination.menu.floated {
  display: block;
}
/* active */
.veriasist.pagination.menu .active.item {
  border-top: none;
  padding-top: 0.83em;
  background-color: transparent;
  color:#53bd99 ;
  -webkit-box-shadow: none;
  box-shadow: 0 0 0 1px #53bd99;
}
.veriasist.pagination.menu .active.item:hover{
  background-color: transparent;
  cursor: default;
}
.veriasist.pagination.menu .item:hover {
  background-color: transparent;
  color:#53bd99;
  box-shadow: 0 0 0 1px #53bd99;
}
.veriasist.pagination.menu .item:before {
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
}
/*--------------
   Secondary
---------------*/
.veriasist.secondary.menu {
  background-color: transparent;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.veriasist.secondary.menu > .menu > .item,
.veriasist.secondary.menu > .item {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  height: auto !important;
  margin: 0em 0.25em;
  padding: 0.5em 1em;
  border-radius: 0.3125em;
}
.veriasist.secondary.menu > .menu > .item:before,
.veriasist.secondary.menu > .item:before {
  display: none !important;
}
.veriasist.secondary.menu .item > .input input {
  background-color: transparent;
  border: none;
}
.veriasist.secondary.menu .link.item,
.veriasist.secondary.menu a.item {
  opacity: 0.8;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}
.veriasist.secondary.menu .header.item {
  border-right: 0.1em solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  border-radius: 0em;
}
/* hover */
.veriasist.secondary.menu .link.item:hover,
.veriasist.secondary.menu a.item:hover {
  opacity: 1;
}
/* active */
.veriasist.secondary.menu > .menu > .active.item,
.veriasist.secondary.menu > .active.item {
  background-color: rgba(0, 0, 0, 0.08);
  opacity: 1;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.veriasist.secondary.vertical.menu > .active.item {
  border-radius: 0.3125em;
}
/* inverted */
.veriasist.secondary.inverted.menu .link.item,
.veriasist.secondary.inverted.menu a.item {
  color: rgba(255, 255, 255, 0.5);
}
.veriasist.secondary.inverted.menu .link.item:hover,
.veriasist.secondary.inverted.menu a.item:hover {
  color: rgba(255, 255, 255, 0.9);
}
.veriasist.secondary.inverted.menu .active.item {
  background-color: rgba(255, 255, 255, 0.1);
}
/* disable variations */
.veriasist.secondary.item.menu > .item {
  margin: 0em;
}
.veriasist.secondary.attached.menu {
  -webkit-box-shadow: none;
  box-shadow: none;
}
/*---------------------
   Secondary Pointing
-----------------------*/
.veriasist.secondary.pointing.menu {
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
}
.veriasist.secondary.pointing.menu > .menu > .item,
.veriasist.secondary.pointing.menu > .item {
  margin: 0em 0em -3px;
  padding: 0.6em 0.95em;
  border-bottom: 3px solid rgba(0, 0, 0, 0);
  border-radius: 0em;
  -webkit-transition: color 0.2s
  ;
  -moz-transition: color 0.2s
  ;
  transition: color 0.2s
  ;
}
/* Item Types */
.veriasist.secondary.pointing.menu .header.item {
  margin-bottom: -3px;
  background-color: transparent !important;
  border-right-width: 0px !important;
  font-weight: bold !important;
  color: rgba(0, 0, 0, 0.8) !important;
}
.veriasist.secondary.pointing.menu .text.item {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.veriasist.secondary.pointing.menu > .menu > .item:after,
.veriasist.secondary.pointing.menu > .item:after {
  display: none;
}
/* Hover */
.veriasist.secondary.pointing.menu > .menu > .link.item:hover,
.veriasist.secondary.pointing.menu > .link.item:hover,
.veriasist.secondary.pointing.menu > .menu > a.item:hover,
.veriasist.secondary.pointing.menu > a.item:hover {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.7);
}
/* Down */
.veriasist.secondary.pointing.menu > .menu > .link.item:active,
.veriasist.secondary.pointing.menu > .link.item:active,
.veriasist.secondary.pointing.menu > .menu > a.item:active,
.veriasist.secondary.pointing.menu > a.item:active {
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0.2);
}
/* Active */
.veriasist.secondary.pointing.menu > .menu > .item.active,
.veriasist.secondary.pointing.menu > .item.active {
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: none;
  box-shadow: none;
}
/*---------------------
   Secondary Vertical
-----------------------*/
.veriasist.secondary.vertical.pointing.menu {
  border: none;
  border-right: 3px solid rgba(0, 0, 0, 0.1);
}
.veriasist.secondary.vertical.menu > .item {
  border: none;
  margin: 0em 0em 0.3em;
  padding: 0.6em 0.8em;
  border-radius: 0.1875em;
}
.veriasist.secondary.vertical.menu > .header.item {
  border-radius: 0em;
}
.veriasist.secondary.vertical.pointing.menu > .item {
  margin: 0em -3px 0em 0em;
  border-bottom: none;
  border-right: 3px solid transparent;
  border-radius: 0em;
}
/* Hover */
.veriasist.secondary.vertical.pointing.menu > .item:hover {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.7);
}
/* Down */
.veriasist.secondary.vertical.pointing.menu > .item:active {
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0.2);
}
/* Active */
.veriasist.secondary.vertical.pointing.menu > .item.active {
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0.4);
  color: rgba(0, 0, 0, 0.85);
}
/*--------------
    Inverted
---------------*/
.veriasist.secondary.inverted.menu {
  background-color: transparent;
}
.veriasist.secondary.inverted.pointing.menu {
  border-bottom: 3px solid rgba(255, 255, 255, 0.1);
}
.veriasist.secondary.inverted.pointing.menu > .item {
  color: rgba(255, 255, 255, 0.7);
}
.veriasist.secondary.inverted.pointing.menu > .header.item {
  color: #FFFFFF !important;
}
/* Hover */
.veriasist.secondary.inverted.pointing.menu > .menu > .item:hover,
.veriasist.secondary.inverted.pointing.menu > .item:hover {
  color: rgba(255, 255, 255, 0.85);
}
/* Down */
.veriasist.secondary.inverted.pointing.menu > .menu > .item:active,
.veriasist.secondary.inverted.pointing.menu > .item:active {
  border-color: rgba(255, 255, 255, 0.4);
}
/* Active */
.veriasist.secondary.inverted.pointing.menu > .menu > .item.active,
.veriasist.secondary.inverted.pointing.menu > .item.active {
  border-color: rgba(255, 255, 255, 0.8);
  color: #ffffff;
}
/*---------------------
   Inverted Vertical
----------------------*/
.veriasist.secondary.inverted.vertical.pointing.menu {
  border-right: 3px solid rgba(255, 255, 255, 0.1);
  border-bottom: none;
}
/*--------------
    Text Menu
---------------*/
.veriasist.text.menu {
  background-color: transparent;
  margin: 1rem -1rem;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.veriasist.text.menu > .item {
  opacity: 0.8;
  margin: 0em 1em;
  padding: 0em;
  height: auto !important;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: opacity 0.2s ease
  ;
  -moz-transition: opacity 0.2s ease
  ;
  transition: opacity 0.2s ease
  ;
}
.veriasist.text.menu > .item:before {
  display: none !important;
}
.veriasist.text.menu .header.item {
  background-color: transparent;
  opacity: 1;
  color: rgba(50, 50, 50, 0.8);
  font-size: 0.875rem;
  padding: 0em;
  text-transform: uppercase;
  font-weight: bold;
}
/*--- fluid text ---*/
.veriasist.text.item.menu .item {
  margin: 0em;
}
/*--- vertical text ---*/
.veriasist.vertical.text.menu {
  margin: 1rem 0em;
}
.veriasist.vertical.text.menu:first-child {
  margin-top: 0rem;
}
.veriasist.vertical.text.menu:last-child {
  margin-bottom: 0rem;
}
.veriasist.vertical.text.menu .item {
  float: left;
  clear: left;
  margin: 0.5em 0em;
}
.veriasist.vertical.text.menu .item > i.icon {
  float: none;
  margin: 0em 0.83em 0em 0em;
}
.veriasist.vertical.text.menu .header.item {
  margin: 0.8em 0em;
}
/*--- hover ---*/
.veriasist.text.menu .item:hover {
  opacity: 1;
  background-color: transparent;
}
/*--- active ---*/
.veriasist.text.menu .active.item {
  background-color: transparent;
  padding: 0em;
  border: none;
  opacity: 1;
  font-weight: bold;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* disable variations */
.veriasist.text.pointing.menu .active.item:after {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.veriasist.text.attached.menu {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.veriasist.inverted.text.menu,
.veriasist.inverted.text.menu .item,
.veriasist.inverted.text.menu .item:hover,
.veriasist.inverted.text.menu .item.active {
  background-color: transparent;
}
/*--------------
    Icon Only
---------------*/
.veriasist.icon.menu,
.veriasist.vertical.icon.menu {
  width: auto;
  display: inline-block;
  height: auto;
}
.veriasist.icon.menu > .item {
  height: auto;
  text-align: center;
  color: rgba(60, 60, 60, 0.7);
}
.veriasist.icon.menu > .item > .icon {
  display: block;
  float: none !important;
  opacity: 1;
  margin: 0em auto !important;
}
.veriasist.icon.menu .icon:before {
  opacity: 1;
}
/* Item Icon Only */
.veriasist.menu .icon.item .icon {
  margin: 0em;
}
.veriasist.vertical.icon.menu {
  float: none;
}
/*--- inverted ---*/
.veriasist.inverted.icon.menu .item {
  color: rgba(255, 255, 255, 0.8);
}
.veriasist.inverted.icon.menu .icon {
  color: #ffffff;
}
/*--------------
   Labeled Icon
---------------*/
.veriasist.labeled.icon.menu {
  text-align: center;
}
.veriasist.labeled.icon.menu > .item > .icon {
  display: block;
  font-size: 1.5em !important;
  margin: 0em auto 0.3em !important;
}
/*******************************
           Variations
*******************************/
/*--------------
    Colors
---------------*/
/*--- Light Colors  ---*/
.veriasist.menu .green.active.item,
.veriasist.green.menu .active.item {
  border-color: #A1CF64 !important;
  color: #A1CF64 !important;
}
.veriasist.menu .red.active.item,
.veriasist.red.menu .active.item {
  border-color: #D95C5C !important;
  color: #D95C5C !important;
}
.veriasist.menu .blue.active.item,
.veriasist.blue.menu .active.item {
  border-color: #6ECFF5 !important;
  color: #6ECFF5 !important;
}
.veriasist.menu .purple.active.item,
.veriasist.purple.menu .active.item {
  border-color: #564F8A !important;
  color: #564F8A !important;
}
.veriasist.menu .orange.active.item,
.veriasist.orange.menu .active.item {
  border-color: #F05940 !important;
  color: #F05940 !important;
}
.veriasist.menu .teal.active.item,
.veriasist.teal.menu .active.item {
  border-color: #00B5AD !important;
  color: #00B5AD !important;
}
/*--------------
    Inverted
---------------*/
.veriasist.inverted.menu {
  background-color: #333333;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.veriasist.inverted.menu .header.item {
  margin: 0em;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.veriasist.inverted.menu .item,
.veriasist.inverted.menu .item > a {
  color: #FFFFFF;
}
.veriasist.inverted.menu .item .item,
.veriasist.inverted.menu .item .item > a {
  color: rgba(255, 255, 255, 0.8);
}
.veriasist.inverted.menu .dropdown .menu .item,
.veriasist.inverted.menu .dropdown .menu .item a {
  color: rgba(0, 0, 0, 0.75) !important;
}
.veriasist.inverted.menu .item.disabled,
.veriasist.inverted.menu .item.disabled:hover {
  color: rgba(255, 255, 255, 0.2);
}
/*--- Border ---*/
.veriasist.inverted.menu .item:before {
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.03) 0%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.03) 100%);
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.03) 0%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.03) 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.03)), color-stop(50%, rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.03)));
  background-image: linear-gradient(rgba(255, 255, 255, 0.03) 0%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.03) 100%);
}
.veriasist.vertical.inverted.menu .item:before {
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.03) 0%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.03) 100%);
  background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0.03) 0%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.03) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.03)), color-stop(50%, rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.03)));
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.03) 0%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.03) 100%);
}
/*--- Hover ---*/
.veriasist.link.inverted.menu .item:hover,
.veriasist.inverted.menu .link.item:hover,
.veriasist.inverted.menu a.item:hover,
.veriasist.inverted.menu .dropdown.item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.veriasist.inverted.menu a.item:hover,
.veriasist.inverted.menu .item > a:hover,
.veriasist.inverted.menu .item .menu a.item:hover,
.veriasist.inverted.menu .item .menu .link.item:hover {
  color: #ffffff;
}
/*--- Down ---*/
.veriasist.inverted.menu a.item:active,
.veriasist.inverted.menu .dropdown.item:active,
.veriasist.inverted.menu .link.item:active,
.veriasist.inverted.menu a.item:active {
  background-color: rgba(255, 255, 255, 0.15);
}
/*--- Active ---*/
.veriasist.inverted.menu .active.item {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  background-color: rgba(255, 255, 255, 0.2);
}
.veriasist.inverted.menu .active.item,
.veriasist.inverted.menu .active.item a {
  color: #ffffff !important;
}
.veriasist.inverted.vertical.menu .item .menu .active.item {
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
}
/*--- Pointers ---*/
.veriasist.inverted.pointing.menu .active.item:after {
  background-color: #5B5B5B;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.veriasist.inverted.pointing.menu .active.item:hover:after {
  background-color: #4A4A4A;
}
/*--------------
    Selection
---------------*/
.veriasist.selection.menu > .item {
  color: rgba(0, 0, 0, 0.4);
}
.veriasist.selection.menu > .item:hover {
  color: rgba(0, 0, 0, 0.6);
}
.veriasist.selection.menu > .item.active {
  color: rgba(0, 0, 0, 0.85);
}
.veriasist.inverted.selection.menu > .item {
  color: rgba(255, 255, 255, 0.4);
}
.veriasist.inverted.selection.menu > .item:hover {
  color: rgba(255, 255, 255, 0.9);
}
.veriasist.inverted.selection.menu > .item.active {
  color: #FFFFFF;
}
/*--------------
     Floated
---------------*/
.veriasist.floated.menu {
  float: left;
  margin: 0rem 0.5rem 0rem 0rem;
}
.veriasist.right.floated.menu {
  float: right;
  margin: 0rem 0rem 0rem 0.5rem;
}
/*--------------
 Inverted Colors
---------------*/
/*--- Light Colors  ---*/
.veriasist.grey.menu {
  background-color: #F0F0F0;
}
/*--- Inverted Colors  ---*/
.veriasist.inverted.green.menu {
  background-color: #A1CF64;
}
.veriasist.inverted.green.pointing.menu .active.item:after {
  background-color: #A1CF64;
}
.veriasist.inverted.red.menu {
  background-color: #D95C5C;
}
.veriasist.inverted.red.pointing.menu .active.item:after {
  background-color: #F16883;
}
.veriasist.inverted.blue.menu {
  background-color: #6ECFF5;
}
.veriasist.inverted.blue.pointing.menu .active.item:after {
  background-color: #6ECFF5;
}
.veriasist.inverted.purple.menu {
  background-color: #564F8A;
}
.veriasist.inverted.purple.pointing.menu .active.item:after {
  background-color: #564F8A;
}
.veriasist.inverted.orange.menu {
  background-color: #F05940;
}
.veriasist.inverted.orange.pointing.menu .active.item:after {
  background-color: #F05940;
}
.veriasist.inverted.teal.menu {
  background-color: #00B5AD;
}
.veriasist.inverted.teal.pointing.menu .active.item:after {
  background-color: #00B5AD;
}
/*--------------
     Fitted
---------------*/
.veriasist.fitted.menu .item,
.veriasist.fitted.menu .item .menu .item,
.veriasist.menu .fitted.item {
  padding: 0em;
}
.veriasist.horizontally.fitted.menu .item,
.veriasist.horizontally.fitted.menu .item .menu .item,
.veriasist.menu .horizontally.fitted.item {
  padding-top: 0.83em;
  padding-bottom: 0.83em;
}
.veriasist.vertically.fitted.menu .item,
.veriasist.vertically.fitted.menu .item .menu .item,
.veriasist.menu .vertically.fitted.item {
  padding-left: 0.95em;
  padding-right: 0.95em;
}
/*--------------
   Borderless
---------------*/
.veriasist.borderless.menu .item:before,
.veriasist.borderless.menu .item .menu .item:before,
.veriasist.menu .borderless.item:before {
  background-image: none;
}
/*-------------------
       Compact
--------------------*/
.veriasist.compact.menu {
  display: inline-block;
  margin: 0em;
  vertical-align: middle;
}
.veriasist.compact.vertical.menu {
  width: auto !important;
}
.veriasist.compact.vertical.menu .item:last-child::before {
  display: block;
}
/*-------------------
        Fluid
--------------------*/
.veriasist.menu.fluid,
.veriasist.vertical.menu.fluid {
  display: block;
  width: 100% !important;
}
/*-------------------
      Evenly Sized
--------------------*/
.veriasist.item.menu,
.veriasist.item.menu .item {
  width: 100%;
  padding-left: 0px !important;
  padding-right: 0px !important;
  text-align: center;
}
.veriasist.menu.two.item .item {
  width: 50%;
}
.veriasist.menu.three.item .item {
  width: 33.333%;
}
.veriasist.menu.four.item .item {
  width: 25%;
}
.veriasist.menu.five.item .item {
  width: 20%;
}
.veriasist.menu.six.item .item {
  width: 16.666%;
}
.veriasist.menu.seven.item .item {
  width: 14.285%;
}
.veriasist.menu.eight.item .item {
  width: 12.500%;
}
.veriasist.menu.nine.item .item {
  width: 11.11%;
}
.veriasist.menu.ten.item .item {
  width: 10.0%;
}
.veriasist.menu.eleven.item .item {
  width: 9.09%;
}
.veriasist.menu.twelve.item .item {
  width: 8.333%;
}
/*--------------
     Fixed
---------------*/
.veriasist.menu.fixed {
  position: fixed;
  z-index: 999;
  margin: 0em;
  border: none;
  width: 100%;
}
.veriasist.menu.fixed,
.veriasist.menu.fixed .item:first-child,
.veriasist.menu.fixed .item:last-child {
  border-radius: 0px !important;
}
.veriasist.menu.fixed.top {
  top: 0px;
  left: 0px;
  right: auto;
  bottom: auto;
}
.veriasist.menu.fixed.right {
  top: 0px;
  right: 0px;
  left: auto;
  bottom: auto;
  width: auto;
  height: 100%;
}
.veriasist.menu.fixed.bottom {
  bottom: 0px;
  left: 0px;
  top: auto;
  right: auto;
}
.veriasist.menu.fixed.left {
  top: 0px;
  left: 0px;
  right: auto;
  bottom: auto;
  width: auto;
  height: 100%;
}
/* Coupling with Grid */
.veriasist.fixed.menu + .veriasist.grid {
  padding-top: 2.75rem;
}
/*-------------------
       Pointing
--------------------*/
.veriasist.pointing.menu .active.item:after {
  position: absolute;
  bottom: -0.3em;
  left: 50%;
  content: "";
  margin-left: -0.3em;
  width: 0.6em;
  height: 0.6em;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  background-image: none;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: 2;
  -webkit-transition: background 0.2s ease
  ;
  -moz-transition: background 0.2s ease
  ;
  transition: background 0.2s ease
  ;
}
/* Don't double up pointers */
.veriasist.pointing.menu .active.item .menu .active.item:after {
  display: none;
}
.veriasist.vertical.pointing.menu .active.item:after {
  position: absolute;
  top: 50%;
  margin-top: -0.3em;
  right: -0.4em;
  bottom: auto;
  left: auto;
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
/* Colors */
.veriasist.pointing.menu .active.item:after {
  background-color: #FCFCFC;
}
.veriasist.pointing.menu .active.item:hover:after {
  background-color: #FAFAFA;
}
.veriasist.vertical.pointing.menu .menu .active.item:after {
  background-color: #F4F4F4;
}
.veriasist.pointing.menu a.active.item:active:after {
  background-color: #F0F0F0;
}
/*--------------
    Attached
---------------*/
.veriasist.menu.attached {
  margin: 0rem;
  border-radius: 0px;
  /* avoid rgba multiplying */
  -webkit-box-shadow: 0px 0px 0px 1px #DDDDDD;
  box-shadow: 0px 0px 0px 1px #DDDDDD;
}
.veriasist.top.attached.menu {
  border-radius: 0.1875em 0.1875em 0px 0px;
}
.veriasist.menu.bottom.attached {
  border-radius: 0px 0px 0.1875em 0.1875em;
}
/*--------------
     Sizes
---------------*/
.veriasist.small.menu .item {
  font-size: 0.875rem;
}
.veriasist.small.vertical.menu {
  width: 13rem;
}
.veriasist.menu .item {
  font-size: 1rem;
}
.veriasist.vertical.menu {
  width: 15rem;
}
.veriasist.large.menu .item {
  font-size: 1.125rem;
}
.veriasist.large.menu .item .item {
  font-size: 0.875rem;
}
.veriasist.large.menu .dropdown .item {
  font-size: 1rem;
}
.veriasist.large.vertical.menu {
  width: 18rem;
}