/* == Dialog == */
.messi-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba(0,0,0,0.8);
}
.messi {
  position: absolute;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 7px 7px 0 rgba(0, 0, 0, 0.4);
  margin: 0;
  padding: 0;
  min-width: 300px;
  min-height: 50px;
  max-width: 90%;
  max-height: 75%;
  overflow-y: auto;
  top: -100%;
  -webkit-transition: opacity 0.3s linear, top 0.3s ease-out, bottom 0.3s ease-out, margin-top 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, top 0.3s ease-out, bottom 0.3s ease-out, margin-top 0.3s ease-out;
  -o-transition: opacity 0.3s linear, top 0.3s ease-out, bottom 0.3s ease-out, margin-top 0.3s ease-out;
  transition: opacity 0.3s linear, top 0.3s ease-out, bottom 0.3s ease-out, margin-top 0.3s ease-out;
}
.messi-box {
  position: relative;
  height: auto;
  overflow: hidden;
  opacity: 1;
}
.messi-wrapper {
  position: relative
}
.messi-titlebox {
  font-size: 1.3em;
  font-weight: 400;
  overflow: hidden;
  border-bottom: 1px solid #ddd;
  background-color: rgba(0, 0, 0, 0.1);
  height: 45px;
  line-height: 45px;
  padding: 0 60px 0 15px;
}
.messi-titlebox .messi-title {
  text-shadow: 0 1px #fff;
  font-weight: 600;
  font-family: 'Archivo Narrow';
}
.messi-closebtn {
  border-left: 1px solid rgba(0,0,0,0.1);
  box-shadow: inset 1px 0px 0 rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 45px;
  height: 45px;
  cursor: pointer;
  text-align: center;
  line-height: 45px;
  font-size: 1.6em;
  color: rgba(0, 0, 0, 0.4);
}
.messi-closebtn i {
  margin: 0
}
.messi-content {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 1em;
  box-shadow: inset 0px 3px 0 rgba(255, 255, 255, 0.4);
}
.messi-content .messi-warning {
  display: table
}
.messi-content .messi-warning p {
  display: table-cell;
  vertical-align: middle;
}
.messi-content .messi-warning p:last-child {
  padding-left: 1em;
}
.messi-footbox {
  background-color: rgba(0, 0, 0, 0.1);
  border-top: 1px solid #ddd;
  box-shadow: inset 0px 2px 0 rgba(255, 255, 255, 0.4);
  padding: 0
}
.messi-actions {
  display: block
}
.messi-actions .btnbox {
  display: block;
  float: right;
  border-left: 1px solid rgba(0,0,0,0.1);
  box-shadow: inset 1px 0px 0 rgba(255, 255, 255, 0.5);
  padding: 5px
}
.messi .mod-button.button {
  border-radius: 0
}
.messi .mod-button.warn {
  color: #ee5f5b
}
.messi .mod-button i {
  padding-left: 10px;
  padding-right: 5px
}
/* == Animations == */
.image-overlay {
  position: relative;
  cursor: default;
  overflow: hidden;
}
.image-overlay img {
  width: 100%;
}
/* overlay horizontal slide*/
.overlay-hslide {
  background: rgba(255, 255, 255, 0.6);
  background: rgb(255, 2255, 255) transparent;
  height: 100%;
  width: 0%;
  top: 0;
  right: 0;
  position: absolute;
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.overlay-hslide a {
  height: 80px;
  width: 80px;
  margin: -40px 0 0 -40px;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  line-height: 80px;
  cursor: pointer;
}
.overlay-hslide a .icon-overlay {
  font-size: 40px;
  padding: 0;
  margin: 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
  background: rgba(255, 255, 255, 0.6);
  background: rgb(255, 2255, 255) transparent;
}
.image-overlay:hover .overlay-hslide {
  width: 100%;
  top: 0;
  left: 0;
  filter: alpha(opacity=100);
  opacity: 1;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* overlay vertical slide*/
.overlay-vslide {
  background: rgba(255, 255, 255, 0.6);
  background: rgb(255, 2255, 255) transparent;
  height: 0%;
  width: 100%;
  bottom: 0;
  right: 0;
  position: absolute;
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.overlay-vslide a {
  height: 80px;
  width: 80px;
  margin: -40px 0 0 -40px;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  line-height: 80px;
  cursor: pointer;
}
.overlay-vslide a .icon-overlay {
  font-size: 40px;
  margin: 0;
  padding: 0;
  margin: 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
  background: rgba(255, 255, 255, 0.6);
  background: rgb(255, 2255, 255) transparent;
}
.image-overlay:hover .overlay-vslide {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  filter: alpha(opacity=100);
  opacity: 1;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* overlay fade*/
.overlay-fade {
  background: rgba(61, 170, 129, 0.6);
  height: 100%;
  width: 100%;
  top: 0;
  position: absolute;
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.overlay-fade a {
  height: 80px;
  width: 80px;
  margin: -40px 0 0 -40px;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  line-height: 80px;
  cursor: pointer;
}
.overlay-fade a .icon-overlay {
  font-size: 40px;
  padding: 0;
  margin: 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius:500px;
  background: rgba(255, 255, 255, 0.3);
  color:#fff
}
.image-overlay:hover .overlay-fade {
  filter: alpha(opacity=100);
  opacity: 1;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* overlay zoom*/
.overlay-zoom {
  background: rgba(255, 255, 255, 0.6);
  background: rgb(255, 2255, 255) transparent;
  height: 100%;
  width: 100%;
  top: 0;
  position: absolute;
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.overlay-zoom a {
  height: 80px;
  width: 80px;
  margin: -40px 0 0 -40px;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  line-height: 80px;
  cursor: pointer;
}
.overlay-zoom a .icon-overlay,
.overlay-zoom a .icon-overlay.double {
  font-size: 40px;
  padding: 0;
  margin: 0;
  width: 80px;
  height: 80px;
  line-height: 80px;
  background: rgba(255, 255, 255, 0.6);
  background: rgb(255, 2255, 255) transparent;
}
.image-overlay:hover .overlay-zoom {
  filter: alpha(opacity=100);
  opacity: 1;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.zoom-image img {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.zoom-image:hover img {
  -webkit-transform: scale(1.5);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 250ms;
  -moz-transform: scale(1.5);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 250ms;
  transform: scale(1.5);
  transition-timing-function: ease-out;
  transition-duration: 250ms;
}
.rotate-image-right img {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.rotate-image-right:hover img {
  -webkit-transform: rotate(15deg) scale(1.5);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 250ms;
  -moz-transform: rotate(15deg) scale(1.5);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 250ms;
  transform: rotate(15deg) scale(1.5);
  transition-timing-function: ease-out;
  transition-duration: 250ms;
}
.rotate-image-left img {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.rotate-image-left:hover img {
  -webkit-transform: rotate(-15deg) scale(1.5);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 250ms;
  -moz-transform: rotate(-15deg) scale(1.5);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 250ms;
  transform: rotate(-15deg) scale(1.5);
  transition-timing-function: ease-out;
  transition-duration: 250ms;
}
/* == Image Viewer == */
html.swipebox-html.swipebox-touch {
  overflow: hidden !important;
}
#swipebox-overlay img {
  border: none !important;
}
#swipebox-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999 !important;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#swipebox-slider {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  white-space: nowrap;
  position: absolute;
  display: none;
}
#swipebox-slider .slide {
  height: 100%;
  width: 100%;
  line-height: 1px;
  text-align: center;
  display: inline-block;
}
#swipebox-slider .slide:before {
  content: "";
  display: inline-block;
  height: 50%;
  width: 1px;
  margin-right: -1px;
}
#swipebox-slider .slide img,
#swipebox-slider .slide .swipebox-video-container {
  display: inline-block;
  max-height: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  vertical-align: middle;
}
#swipebox-slider .slide .swipebox-video-container {
  background: none;
  max-width: 1140px;
  max-height: 100%;
  width: 100%;
  padding: 5%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
#swipebox-slider .slide .swipebox-video-container .swipebox-video {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  position: relative;
}
#swipebox-slider .slide .swipebox-video-container .swipebox-video iframe {
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  top: 0;
  left: 0;
}
#swipebox-action,
#swipebox-caption {
  position: absolute;
  left: 0;
  z-index: 999;
  height: 50px;
  width: 100%;
}
#swipebox-action {
  bottom: -50px;
}
#swipebox-action.visible-bars {
  -ms-transform: translateY(-50px);
  -webkit-transform: translateY(-50px);
  transform: translateY(-50px);
}
#swipebox-action #swipebox-prev,
#swipebox-action #swipebox-next,
#swipebox-action #swipebox-close {
  cursor: pointer;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  line-height: 50px;
  font-size: 2em;
}
#swipebox-action #swipebox-prev {
  right: 100px;
}
#swipebox-action #swipebox-next {
  right: 40px;
}
#swipebox-action #swipebox-close {
  left: 40px;
}
#swipebox-action #swipebox-prev.disabled,
#swipebox-action #swipebox-next.disabled {
  opacity: 0.3;
}
#swipebox-caption {
  top: -50px;
  text-align: center;
}
#swipebox-caption.visible-bars {
  -ms-transform: translateY(50px);
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
}
#swipebox-slider.rightSpring {
  -webkit-animation: rightSpring 0.3s;
  animation: rightSpring 0.3s;
}
#swipebox-slider.leftSpring {
  -webkit-animation: leftSpring 0.3s;
  animation: leftSpring 0.3s;
}
 @-webkit-keyframes rightSpring {
 0% {
 margin-left: 0px;
}
 50% {
 margin-left: -30px;
}
 100% {
 margin-left: 0px;
}
}
 @keyframes rightSpring {
 0% {
 margin-left: 0px;
}
 50% {
 margin-left: -30px;
}
 100% {
 margin-left: 0px;
}
}
@-webkit-keyframes leftSpring {
 0% {
 margin-left: 0px;
}
 50% {
 margin-left: 30px;
}
 100% {
 margin-left: 0px;
}
}
@keyframes leftSpring {
 0% {
 margin-left: 0px;
}
 50% {
 margin-left: 30px;
}
 100% {
 margin-left: 0px;
}
}
@media screen and (max-width: 800px) {
#swipebox-action #swipebox-close {
  left: 0;
}
#swipebox-action #swipebox-prev {
  right: 60px;
}
#swipebox-action #swipebox-next {
  right: 0;
}
}
/* Skin 
--------------------------*/
#swipebox-overlay {
  background: #0d0d0d;
}
#swipebox-action,
#swipebox-caption {
  text-shadow: 1px 1px 1px black;
  background-color: #0d0d0d;
  background-color: #0d0d0d;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0d0d0d), to(black));
  background-image: -webkit-linear-gradient(top, #0d0d0d, black);
  background-image: linear-gradient(to bottom, #0d0d0d, black);
  opacity: 0.95;
}
#swipebox-action {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
#swipebox-caption {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: white !important;
  font-size: 15px;
  line-height: 43px;
  font-family: Helvetica, Arial, sans-serif;
}
/* == Tabs == */	
.veriasist.tabs {
  display: block;
  position: relative;
  background-color: #E3E8EE;
  clear: both;
}
.veriasist.tabs:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden
}
.veriasist.tabs,
.veriasist.tabs li {
  list-style-type: none;
  margin: 0;
  padding: 0
}
.veriasist.tabs li {
  display: block;
  float: left;
}
.veriasist.tabs li a {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.778em;
  color: #465866;
  display: block;
  padding: 1.33em 1.2em;
  position: relative;
  z-index: 1
}
.veriasist.tabs li a i.icon {
  margin-right: .5em
}
.veriasist.tabs li a:hover {
  color: #53bd99;
}
.veriasist.tabs li a.active {
  background-color: #445C6A;
  color: #fff;
  box-shadow: inset 0 2px 0 0 #53bd99 ;
}
.veriasist.tabs li a.active:before {
  position: absolute;
  z-index: 2;
  content: "";
  width: 0;
  height: 0;
  bottom: -6px;
  left: 50%;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #445C6A;
}
.veriasist.tab.content {
  padding: 0;
  clear: both;
}
.veriasist.tab.content:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden
}
/* == File Upload == */
#drop {
  border-radius: 10px;
  text-align: center;
  text-transform: uppercase;
  border: 5px dashed rgba(0,0,0,0.25);
  padding: 30px
}
#drop a {
  margin-left: 10px;
  background-color: #62A8DB;
  color: #fff;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  margin-top: 12px;
  line-height: 1;
  padding: .9em 2em
}
#drop a:hover {
  background-color: #424343
}
#drop input,
#upload ul li input {
  display: none
}
#upload ul {
  list-style: none;
  margin: 0;
  padding: 0
}
#upload ul li {
  list-style: none;
  clear: both;
  margin: 0;
  position: relative;
  min-height: 18px;
  margin: 0;
  height: auto;
  background-color: #F1F2EA;
  padding: 1em;
  line-height: 1.33;
  box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.5);
}
#upload ul li:first-child {
  margin-top: 0.5em
}
#upload ul li p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 80%;
  font-weight: 400;
  margin-left: 4em;
}
#upload ul li i {
  font-weight: 400;
  font-style: normal;
  display: block
}
#upload ul li canvas {
  float: left
}
#upload ul li small {
  display: block;
  font-size: 0.85em;
  font-weight: 400
}
#upload ul li span:before {
  content: "\f058";
  width: 1.4em;
  height: 1.4em;
  position: absolute;
  top: 0.5em;
  right: 0;
  cursor: pointer;
  font-family: Icons;
  font-size: 1.4em;
  color: #B2D280
}
#upload ul li span.ferror:before {
  content: "\f06a";
  color: #BF5A67
}
#upload ul li.working span:before {
  content: "";
}
#upload ul li.error p small {
  color: #BF5A67;
}
#drop.hover {
  border: 5px dashed #2984AD
}
#drop.fade {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  opacity: 1
}
/* == Editable Content == */
[contenteditable=true]:empty:before {
  content: attr(placeholder);
}
.editable {
  padding: 0.25em;
  background-color: #E9E9E1;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2);
  font-size: .95em;
}
.editable.active {
  background-color: #FFC;
}
/* == Google Map Hack == */
.gm-style img {
  max-width: none!important;
  max-height: auto!important;
}
.gm-style label {
  width: auto;
  display: inline!important
}
/* == Off Canvas Sidebar == */
body {
  -webkit-transition: margin 0.3s ease, -webkit-transform 0.3s ease;
  transition: margin 0.3s ease, transform 0.3s ease;
}
.veriasist.sidebar {
  position: fixed;
  margin: 0;
  height: 100%;
  border-radius: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -ms-overflow-y: auto;
  overflow-y: auto;
  top: 0px;
  left: 0px;
  z-index: 999;
  -webkit-transition: margin-left 0.3s ease, margin-top 0.3s ease;
  transition: margin-left 0.3s ease, margin-top 0.3s ease;
}
body.pushed.scrolling.veriasist.dimmable {
  position: static;
}
/* == Directions == */
.veriasist.right.slim.sidebar,
.veriasist.right.thin.sidebar,
.veriasist.right.sidebar,
.veriasist.right.wide.sidebar,
.veriasist.right.very.wide.sidebar {
  left: 100%;
  margin: 0px;
}
.veriasist.top.sidebar {
  width: 100%;
}
.veriasist.bottom.sidebar {
  width: 100%;
  top: 100%;
  margin: 0px;
}
/* == States == */
.veriasist.active.sidebar {
  margin-left: 0px;
}
.veriasist.active.top.sidebar,
.veriasist.active.bottom.sidebar {
  margin-top: 0px;
}
/* == Variations == */
.veriasist.styled.sidebar {
  padding: 0;
  background-color: #F1F2EA;
  -webkit-box-shadow: 2px 0 2px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 0 2px rgba(0, 0, 0, 0.1);
}
.veriasist.styled.sidebar .header {
  line-height: 0;
  background-color: #424343;
  text-align: center;
  height: 5em;
  position: fixed;
  width: 275px;
  z-index: 2
}
.veriasist.styled.slim.sidebar {
}
.veriasist.styled.thin.sidebar {
}
/* == Floating == */
.veriasist.floating.sidebar {
  -webkit-box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.2);
  margin-right: 4px;
}
.veriasist.right.floating.sidebar {
  -webkit-box-shadow: -2px 0px 2px rgba(0, 0, 0, 0.2);
  box-shadow: -2px 0px 2px rgba(0, 0, 0, 0.2);
  margin-left: 4px;
}
.veriasist.top.floating.sidebar {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}
.veriasist.bottom.floating.sidebar {
  -webkit-box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.2);
}
/* == Width == */
.veriasist.slim.sidebar {
  width: 60px;
  margin-left: -60px;
}
.veriasist.active.slim.sidebar {
  margin-left: 0px;
}
.veriasist.active.right.slim.sidebar {
  margin-left: -60px;
}
.veriasist.thin.sidebar {
  width: 150px;
  margin-left: -150px;
}
.veriasist.active.thin.sidebar {
  margin-left: 0px;
}
.veriasist.active.right.thin.sidebar {
  margin-left: -150px;
}
.veriasist.sidebar {
  width: 275px;
  margin-left: -275px;
}
.veriasist.active.sidebar {
  margin-left: 0px;
}
.veriasist.active.right.sidebar {
  margin-left: -275px;
}
.veriasist.wide.sidebar {
  width: 350px;
  margin-left: -350px;
}
.veriasist.active.wide.sidebar {
  margin-left: 0px;
}
.veriasist.active.right.wide.sidebar {
  margin-left: -350px;
}
.veriasist.very.wide.sidebar {
  width: 475px;
  margin-left: -475px;
}
.veriasist.active.very.wide.sidebar {
  margin-left: 0px;
}
.veriasist.active.right.very.wide.sidebar {
  margin-left: -475px;
}
/* == Height == */
.veriasist.top.sidebar {
  margin: -40px 0px 0px 0px;
}
.veriasist.top.sidebar,
.veriasist.bottom.sidebar {
  height: 40px;
}
.veriasist.active.bottom.sidebar {
  margin-top: -40px;
}
/* == Loading == */
.veriasist.sidebar.info.loading:after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  background: #5795AF url(../images/loader-sidebar.gif) no-repeat 50% 50%;
  visibility: visible
}
.scrollbox {
  border: 1px solid rgba(0, 0, 0, 0.1);
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 0.3125em;
  padding: .5em
}
/* == Custom Help == */
.veriasist.sidebar.info {
  background-color: #5795AF;
  color: #fff
}
.veriasist.info.sidebar .header {
  background-color: #53ADCC;
  font-family: 'Raleway';
  font-weight: 600;
  font-size: 1.2rem;
  position: fixed;
  display: table;
  width: 350px;
  height: 4em;
  box-shadow: inset 0 -1px 0 0 rgba(255,255,255,0.4);
  border-bottom: 1px solid #53ADCC
}
.veriasist.info.sidebar .header > p,
.veriasist.info.sidebar a.helper {
  display: table-cell;
  padding: .5em;
  vertical-align: middle;
}
.veriasist.info.sidebar a.helper {
  font-size: 2rem;
  color: #fff;
  text-align: right;
}
.veriasist.info.sidebar a.helper:hover {
  color: #266479;
}
/* == Pie Charts == */
.roundchart {
  position: relative;
  display: inline-block;
  width: 180px;
  height: 180px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.roundchart canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.percent {
  display: inline-block;
  line-height: 180px;
  z-index: 2;
  font-size: 2em;
  font-weight: 400;
  font-family: 'Raleway'
}
.percent:after {
}
.scrolltrack {
  width: 6px;
  background: rgba(0, 0, 0, 0);
  margin-right: 2px;
  border-radius: 2px;
  -webkit-transition: background 250ms linear;
  transition: background 250ms linear;
}
.scrolltrack:hover,
.scrolltrack.dragging {
  background: rgba(0, 0, 0, 0.15);
}
.scrollhandle {
  width: 4px;
  right: 0;
  background: #999;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 1px;
  -webkit-transition: width 250ms;
  transition: width 250ms;
}
.scrolltrack:hover .scrollhandle,
.scrolltrack.dragging .scrollhandle {
  width: 6px;
}
/* == Accordion == */
.accordion {
}
.accordion .header {
  background-color: #FFFFFF;
  border: 1px solid #E5E5E5;
  color: #465866;
  clear: both;
  padding: 0.5em;
  position: relative;
  font-size: 0.889em;
  font-weight: 400;
  cursor: pointer;
}
.accordion .header > i.icon {
  margin-right: .5em;
}
.accordion .header.inactive:after,
.accordion .header.active:after {
  font-family: Icons;
  content: "\f067";
  position: absolute;
  right: .5em;
  top: .75em
}
.accordion .header.active:after {
  content: "\f068";
  color: #53BD99;
}
.accordion .header.active {
  font-weight: 700;
  border-top: 2px solid #53BD99;
  background-color: #445C6A;
  color: #FFFFFF;
}
.accordion .header.inactive {
  margin-bottom: .5em;
}
.accordion .content {
  display: none;
  padding: 1em;
  background-color: #F2F2F2;
  border-bottom: 1px solid #EEEEEE;
  margin-bottom: .5em;
}
/*RangeSlider */
.irs {
  position: relative;
  display: block;
}
.irs-line {
  position: relative;
  display: block;
  overflow: hidden;
}
.irs-diapason {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
}
.irs-slider {
  position: absolute;
  display: block;
  cursor: default;
  z-index: 1;
}
.irs-slider.single {
  left: 10px;
}
.irs-slider.single:before {
  position: absolute;
  display: block;
  content: "";
  top: -30%;
  left: -30%;
  width: 160%;
  height: 160%;
  background: rgba(0,0,0,0.0);
}
.irs-slider.from {
  left: 100px;
}
.irs-slider.from:after,
 .irs-slider.to:after,
 .irs-slider.single:before {
  position: absolute;
  display: block;
  font-size: 1em;
  font-weight: 900;
  top: .30em;
  left: .7em;
  width: .25em;
  height: 1.5em;
  content: "";
  background-color: #A6CB6E;
}
.irs-slider.to {
  left: 300px;
}
.irs-slider.last {
  z-index: 2;
}
.irs-min {
  position: absolute;
  display: block;
  left: 0;
  cursor: default;
}
.irs-max {
  position: absolute;
  display: block;
  right: 0;
  cursor: default;
}
.irs-from,
.irs-to,
.irs-single {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  cursor: default;
  white-space: nowrap;
}
.irs-grid {
  position: absolute;
  display: none;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
}
.irs-with-grid .irs-grid {
  display: block;
}
.irs-grid-pol {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 8px;
  background: #000;
}
.irs-grid-pol.small {
  height: 4px;
}
.irs-grid-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100px;
  white-space: nowrap;
  text-align: center;
  font-size: 9px;
  line-height: 9px;
  color: #000;
}
.irs-disable-mask {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: default;
  background: rgba(0,0,0,0.0);
  z-index: 2;
}
.irs-disabled {
  opacity: 0.4;
}
/* Skin details */
.irs {
  height: 40px;
}
.irs-with-grid {
  height: 60px;
}
.irs-line {
  height: 10px;
  top: 25px;
  background-color: rgba(0,0,0,0.15);
  border-radius: 2px;
}
.irs-diapason {
  height: 10px;
  top: 25px;
  background-color: #A6CB6E;
}
.irs-slider {
  width: 22px;
  height: 22px;
  top: 17px;
}
#irs-active-slider,
.irs-slider:hover {
}
.irs-min,
.irs-max {
  color: #999;
  font-size: 10px;
  line-height: 1.333;
  text-shadow: none;
  top: 0;
  padding: 1px 3px;
  background: rgba(0,0,0,0.1);
  border-radius: 3px;
}
.lt-ie9 .irs-min,
.lt-ie9 .irs-max {
  background: #ccc;
}
.irs-from,
.irs-to,
.irs-single {
  color: #fff;
  font-size: 10px;
  line-height: 1.333;
  text-shadow: none;
  padding: 1px 5px;
  background: rgba(0,0,0,0.3);
  border-radius: 3px;
}
.lt-ie9 .irs-from,
.lt-ie9 .irs-to,
.lt-ie9 .irs-single {
  background: #999;
}
.irs-grid-pol {
  background: #99a4ac;
}
.irs-grid-text {
  color: #99a4ac;
}
.irs-disabled {
}
/* == Carousel == */
.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0
}
.owl-carousel {
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y
}
.owl-carousel .owl-wrapper {
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px)
}
.owl-carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  width: 100%
}
.owl-carousel .owl-wrapper-outer.autoHeight {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out
}
.owl-carousel .owl-item {
  float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div {
  cursor: pointer
}
.owl-controls {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0)
}
.grabbing {
  cursor: url(../images/grabbing.png) 8 8, move
}
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0)
}
.owl-theme .owl-controls {
  text-align: center;
  margin-bottom: .5em;
  margin-top: .5em;
}
.owl-theme .owl-controls .owl-buttons div {
  zoom: 1;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  width: 30px;
  background-color: #445c6a;
  border-radius: 5em;
  cursor: pointer;
  text-align: center;
  -webkit-transition: all .35s ease;
  -moz-transition: all .35s ease;
  -o-transition: all .35s ease;
  transition: all .35s ease
}
.owl-theme .owl-controls .owl-buttons div i {
  font-size: 1.2em;
  color: #fff;
  margin: 0
}
.owl-theme .owl-controls.clickable .owl-buttons div:hover {
  background-color: #53BD99;
  text-decoration: none;
  -webkit-transition: all .35s ease;
  -moz-transition: all .35s ease;
  -o-transition: all .35s ease;
  transition: all .35s ease
}
.owl-theme .owl-controls.clickable .owl-buttons div:hover i {
  color: #fff
}
.owl-theme .owl-controls .owl-buttons div.owl-prev {
  margin-right: .25em
}
.owl-theme .owl-controls .owl-buttons div.owl-next {
  margin-left: .25em
}
.owl-theme .owl-controls .owl-page {
  zoom: 1;
  display: inline
}
.owl-theme .owl-controls .owl-page span {
  display: inline-block;
  width: 12px;
  height: 12px;
  -webkit-border-radius: 2em;
  border-radius: 2em;
  background: rgba(0,0,0,0.1);
  margin: .2em .3em
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
  background-color: #53BD99;
}
.owl-theme .owl-controls .owl-page span.owl-numbers {
  height: auto;
  width: auto;
  color: #FFF;
  font-size: 12px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 2px 10px
}
.owl-item.loading {
  min-height: 150px;
  background: url(../images/loader-medium-inverted.gif) no-repeat center center
}
.owl-origin {
  -webkit-perspective: 1200px;
  -webkit-perspective-origin-x: 50%;
  -webkit-perspective-origin-y: 50%;
  -moz-perspective: 1200px;
  -moz-perspective-origin-x: 50%;
  -moz-perspective-origin-y: 50%;
  perspective: 1200px
}
.owl-fade-out {
  z-index: 10;
  -webkit-animation: fadeOut .7s both ease;
  -moz-animation: fadeOut .7s both ease;
  animation: fadeOut .7s both ease
}
.owl-fade-in {
  -webkit-animation: fadeIn .7s both ease;
  -moz-animation: fadeIn .7s both ease;
  animation: fadeIn .7s both ease
}
.owl-backSlide-out {
  -webkit-animation: backSlideOut 1s both ease;
  -moz-animation: backSlideOut 1s both ease;
  animation: backSlideOut 1s both ease
}
.owl-backSlide-in {
  -webkit-animation: backSlideIn 1s both ease;
  -moz-animation: backSlideIn 1s both ease;
  animation: backSlideIn 1s both ease
}
.owl-goDown-out {
  -webkit-animation: scaleToFade .7s ease both;
  -moz-animation: scaleToFade .7s ease both;
  animation: scaleToFade .7s ease both
}
.owl-goDown-in {
  -webkit-animation: goDown .6s ease both;
  -moz-animation: goDown .6s ease both;
  animation: goDown .6s ease both
}
.owl-fadeUp-in {
  -webkit-animation: scaleUpFrom .5s ease both;
  -moz-animation: scaleUpFrom .5s ease both;
  animation: scaleUpFrom .5s ease both
}
.owl-fadeUp-out {
  -webkit-animation: scaleUpTo .5s ease both;
  -moz-animation: scaleUpTo .5s ease both;
  animation: scaleUpTo .5s ease both
}

/* Keyframes */
@-webkit-keyframes empty {
 0% {
opacity: 1
}
}
@-moz-keyframes empty {
 0% {
opacity: 1
}
}
@keyframes empty {
 0% {
opacity: 1
}
}
@-webkit-keyframes fadeIn {
 0% {
opacity:0;
}
 100% {
opacity:1;
}
}
@-moz-keyframes fadeIn {
 0% {
opacity:0;
}
 100% {
opacity:1;
}
}
@keyframes fadeIn {
 0% {
opacity:0;
}
 100% {
opacity:1;
}
}
@-webkit-keyframes fadeOut {
 0% {
opacity:1;
}
 100% {
opacity:0;
}
}
@-moz-keyframes fadeOut {
 0% {
opacity:1;
}
 100% {
opacity:0;
}
}
@keyframes fadeOut {
 0% {
opacity:1;
}
 100% {
opacity:0;
}
}
@-webkit-keyframes backSlideOut {
 25% {
opacity: .5;
-webkit-transform: translateZ(-500px);
}
 75% {
opacity: .5;
-webkit-transform: translateZ(-500px) translateX(-200%);
}
 100% {
opacity: .5;
-webkit-transform: translateZ(-500px) translateX(-200%);
}
}
@-moz-keyframes backSlideOut {
 25% {
opacity: .5;
-moz-transform: translateZ(-500px);
}
 75% {
opacity: .5;
-moz-transform: translateZ(-500px) translateX(-200%);
}
 100% {
opacity: .5;
-moz-transform: translateZ(-500px) translateX(-200%);
}
}
@keyframes backSlideOut {
 25% {
opacity: .5;
transform: translateZ(-500px);
}
 75% {
opacity: .5;
transform: translateZ(-500px) translateX(-200%);
}
 100% {
opacity: .5;
transform: translateZ(-500px) translateX(-200%);
}
}
@-webkit-keyframes backSlideIn {
 0%, 25% {
opacity: .5;
-webkit-transform: translateZ(-500px) translateX(200%);
}
 75% {
opacity: .5;
-webkit-transform: translateZ(-500px);
}
 100% {
opacity: 1;
-webkit-transform: translateZ(0) translateX(0);
}
}
@-moz-keyframes backSlideIn {
 0%, 25% {
opacity: .5;
-moz-transform: translateZ(-500px) translateX(200%);
}
 75% {
opacity: .5;
-moz-transform: translateZ(-500px);
}
 100% {
opacity: 1;
-moz-transform: translateZ(0) translateX(0);
}
}
@keyframes backSlideIn {
 0%, 25% {
opacity: .5;
transform: translateZ(-500px) translateX(200%);
}
 75% {
opacity: .5;
transform: translateZ(-500px);
}
 100% {
opacity: 1;
transform: translateZ(0) translateX(0);
}
}
@-webkit-keyframes scaleToFade {
 to {
opacity: 0;
-webkit-transform: scale(.8);
}
}
@-moz-keyframes scaleToFade {
 to {
opacity: 0;
-moz-transform: scale(.8);
}
}
@keyframes scaleToFade {
 to {
opacity: 0;
transform: scale(.8);
}
}
@-webkit-keyframes goDown {
 from {
-webkit-transform: translateY(-100%);
}
}
@-moz-keyframes goDown {
 from {
-moz-transform: translateY(-100%);
}
}
@keyframes goDown {
 from {
transform: translateY(-100%);
}
}
 @-webkit-keyframes scaleUpFrom {
 from {
opacity: 0;
-webkit-transform: scale(1.5);
}
}
@-moz-keyframes scaleUpFrom {
 from {
opacity: 0;
-moz-transform: scale(1.5);
}
}
@keyframes scaleUpFrom {
 from {
opacity: 0;
transform: scale(1.5);
}
}
 @-webkit-keyframes scaleUpTo {
 to {
opacity: 0;
-webkit-transform: scale(1.5);
}
}
@-moz-keyframes scaleUpTo {
 to {
opacity: 0;
-moz-transform: scale(1.5);
}
}
@keyframes scaleUpTo {
 to {
opacity: 0;
transform: scale(1.5);
}
}
@-webkit-keyframes moveFromTop {
 from {
 opacity: 0;
 -webkit-transform: translateY(200%);
 -moz-transform: translateY(200%);
 -ms-transform: translateY(200%);
 -o-transform: translateY(200%);
 transform: translateY(200%);
}
to {
  opacity: 1;
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%);
}
}
 @-webkit-keyframes moveFromLeft {
 from {
 opacity: 0;
 -webkit-transform: translateX(200%);
 -moz-transform: translateX(200%);
 -ms-transform: translateX(200%);
 -o-transform: translateX(200%);
 transform: translateX(200%);
}
to {
  opacity: 1;
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
  transform: translateX(0%);
}
}
@-webkit-keyframes moveFromRight {
 from {
 opacity: 0;
 -webkit-transform: translateX(-200%);
 -moz-transform: translateX(-200%);
 -ms-transform: translateX(-200%);
 -o-transform: translateX(-200%);
 transform: translateX(-200%);
}
to {
  opacity: 1;
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
  transform: translateX(0%);
}
}
 @-moz-keyframes moveFromTop {
 from {
 opacity: 0;
 -webkit-transform: translateY(200%);
 -moz-transform: translateY(200%);
 -ms-transform: translateY(200%);
 -o-transform: translateY(200%);
 transform: translateY(200%);
}
to {
  opacity: 1;
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%);
}
}
@-moz-keyframes moveFromLeft {
 from {
 opacity: 0;
 -webkit-transform: translateX(200%);
 -moz-transform: translateX(200%);
 -ms-transform: translateX(200%);
 -o-transform: translateX(200%);
 transform: translateX(200%);
}
to {
  opacity: 1;
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
  transform: translateX(0%);
}
}
@-moz-keyframes moveFromRight {
 from {
 opacity: 0;
 -webkit-transform: translateX(-200%);
 -moz-transform: translateX(-200%);
 -ms-transform: translateX(-200%);
 -o-transform: translateX(-200%);
 transform: translateX(-200%);
}
to {
  opacity: 1;
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
  transform: translateX(0%);
}
}
 @-ms-keyframes moveFromTop {
 from {
 opacity: 0;
 -webkit-transform: translateY(200%);
 -moz-transform: translateY(200%);
 -ms-transform: translateY(200%);
 -o-transform: translateY(200%);
 transform: translateY(200%);
}
to {
  opacity: 1;
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%);
}
}
@-ms-keyframes moveFromLeft {
 from {
 opacity: 0;
 -webkit-transform: translateX(200%);
 -moz-transform: translateX(200%);
 -ms-transform: translateX(200%);
 -o-transform: translateX(200%);
 transform: translateX(200%);
}
to {
  opacity: 1;
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
  transform: translateX(0%);
}
}
@-ms-keyframes moveFromRight {
 from {
 opacity: 0;
 -webkit-transform: translateX(-200%);
 -moz-transform: translateX(-200%);
 -ms-transform: translateX(-200%);
 -o-transform: translateX(-200%);
 transform: translateX(-200%);
}
to {
  opacity: 1;
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
  transform: translateX(0%);
}
}
 @-o-keyframes moveFromTop {
 from {
 opacity: 0;
 -webkit-transform: translateY(200%);
 -moz-transform: translateY(200%);
 -ms-transform: translateY(200%);
 -o-transform: translateY(200%);
 transform: translateY(200%);
}
to {
  opacity: 1;
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%);
}
}
@-o-keyframes moveFromLeft {
 from {
 opacity: 0;
 -webkit-transform: translateX(200%);
 -moz-transform: translateX(200%);
 -ms-transform: translateX(200%);
 -o-transform: translateX(200%);
 transform: translateX(200%);
}
to {
  opacity: 1;
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
  transform: translateX(0%);
}
}
@-o-keyframes moveFromRight {
 from {
 opacity: 0;
 -webkit-transform: translateX(-200%);
 -moz-transform: translateX(-200%);
 -ms-transform: translateX(-200%);
 -o-transform: translateX(-200%);
 transform: translateX(-200%);
}
to {
  opacity: 1;
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
  transform: translateX(0%);
}
}