#newscats li,
#newscats ul {
  list-style-type: none;
  margin: 0;
  padding: 0
}
#newscats li {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  box-shadow: 0 1px 0 0 #FFFFFF;
  display: block;
  position: relative
}
#newscats li a {
  display: inline-block;
  position: relative;
  padding: .55em 0;
  color: #888888
}
#newscats li a:hover,
#newscats li a.active {
  color: #00B8E1
}
#newscats li a > i.icon {
  margin-right: .5em;
}
#newscats li a small {
  display: inline-block;
  margin-left: 1em;
}
#newscats .menu-submenu {
  display: none;
  top: 0
}
#newscats .menu-submenu li {
  border-bottom: 0;
  border-top: 1px solid rgba(0,0,0,0.1);
  box-shadow: none;
  position: relative;
}
#newscats .menu-submenu li a {
  padding: 8px 25px
}
#newscats .menu-submenu li ul li {
}
#newscats .menu-submenu li ul li a {
  padding: 8px 45px
}
#newscats .menu-submenu li ul li ul li {
}
#newscats .menu-submenu li ul li ul li a {
  padding: 8px 65px
}
#newscats i.icon.down.arrow {
  position: absolute;
  right: 0;
  display: block;
  cursor: pointer;
  padding-top: 8px;
  padding-right: 10px;
  padding-bottom: 8px;
  padding-left: 10px;
}