.item-bg {
padding:100px;
}
.item-bg  .white{
	color:#fff !important
}

.item-bg:hover{
-webkit-box-shadow: inset 0px 0px 139px 45px rgba(0,0,0,0.75);
-moz-box-shadow: inset 0px 0px 139px 45px rgba(0,0,0,0.75);
box-shadow: inset 0px 0px 139px 45px rgba(0,0,0,0.75);
}

.item-bg img{

}
.item-bg p {
	color:#fff !important;
}


.fiyat{
background-color:#fff;
padding:20px;
color:#000;
}

.satin-al{
background-color:#81BC00;
padding:20px;
color:#000;
font-size: 45px;
font-weight:700;
line-height: 45px;
line-height: 50px;
font-family: 'Titillium Web', sans-serif;
color:#fff;
border:none;
}


.satin-al:hover{
background-color:#6FA100;
}


.detay-bilgi a {
	color:#fff;

}

.detay-bilgi {
	display:inline-block;
	padding:22px 22px;
	margin-bottom:0;
	font-size:16px;
	font-weight:400;
	line-height:1.42857143;
	text-align:center;
	white-space:nowrap;
	vertical-align:middle;
	-ms-touch-action:manipulation;
	touch-action:manipulation;
	cursor:pointer;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	background-image:none;
	border-radius:4px;	
	color:#fff;
		background-color:#286090;
border:none;


}
.detay-bilgi:hover,.detay-bilgi:focus,.detay-bilgi.focus,.detay-bilgi:active,.detay-bilgi.active,.open>.dropdown-toggle.detay-bilgi {
	color:#fff;
border:none;
	background-color: #333;
}
.detay-bilgi:active,.detay-bilgi.active,.open>.dropdown-toggle.detay-bilgi {
	background-image:none
}

/*#digiwrap {
  position: relative
}
#digiwrap.digigrid .item {
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.075);
}
#digiwrap.digigrid .item section {
  padding: 1.5em;
  position: relative;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.04);
}
#digiwrap.digigrid section:before {
  background: none repeat scroll 0 0 #F4BF1E;
  content: "";
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  top: -1px;
  width: 11px;
  z-index: 2;
}
#digiwrap.digigrid section:after {
  background: none repeat scroll 0 0 #F4BF1E;
  content: "";
  display: block;
  height: 10px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 2px;
}
#digiwrap.digigrid section:hover:after,
#digiwrap.digigrid section:hover:before {
  -webkit-transition: all .35s ease;
  -moz-transition: all .35s ease;
  -o-transition: all .35s ease;
  transition: all .35s ease;
}
#digiwrap.digigrid section:hover:after {
  height: 80px;
}
#digiwrap.digigrid section:hover:before {
  width: 80px;
}
#digiwrap.digigrid .item article {
  position: relative;
  text-align: center;
  padding: 1.45em;
  background-color: #FCFCFC;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.075);
  position: relative;
  margin-top: 4px;
}
#digiwrap.digigrid .item article a.like {
  position: absolute;
  top: 0;
  right: 0;
  padding: .5em;
}
#digiwrap.digigrid .item article h4 {
  margin: 0;
  font-weight: 600;
  font-family: 'Open Sans Condensed';
  margin-bottom: 1em;
}
#digiwrap.digilist aside {
  border-right: 3px solid #F4BF1E;
}
#digiwrap.digilist section {
  padding: 1em;
}
#digiwrap.digilist section h4 {
}
 @media screen and (max-width:800px) {
#digiwrap.digilist aside {
  border-right: 0;
  border-bottom: 3px solid #F4BF1E;
}
}
*/