﻿/*@font-face {
    font-family: 'kodar';
    src: url('../fonts/kodar.eot');
    src: url('../fonts/kodar.eot?#iefix') format('embedded-opentype'),
         url('../fonts/kodar.woff') format('woff'),
         url('../fonts/kodar.ttf') format('truetype'),
         url('../fonts/kodar.svg#kodar') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class*='icon-']:before{
    display: inline-block;
   font-family: 'kodar';
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   font-size: 70px;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale
}
.icon-bizi-taniyin:before{content:'\0041';}
.icon-neden-kodar:before{content:'\0042';}
.icon-basin-odasi:before{content:'\0043';}
.icon-teknoloji:before{content:'\0044';}*/

.tab-style9 .nav-tabs li a {
    padding: 10px 15px;
}